{% extends "layouts/wf_layout_legacy.html" %}

{% set pageName="Index template example for legacy designs" %}

{% block content %}

  <style>
    /* grid-row > grid-column-two-thirds then add a new row and change two-thirds classes to one-half, as below */
    /* drop this 'style' block into the top of THIS page. (Important: This page only) */
    @media (min-width: 40.0625em){
        .content-wrapper > .govuk-grid-row > .govuk-grid-column-two-thirds {
            margin-left: auto; 
            margin-right: auto; 
            float: none;
        }    
    }
  </style>

<div class="content-wrapper">

    <!-- *** new styles which can be added to the CSS output (at the end) *** -->
    <style>
        .nav-panel {
            padding: 0 !important; 
        }
        .govuk-link.nav-panel__link {
            color: #0b0c0c; /* or $govuk-text-colour is sass */
        }
        .nav-panel {
            background-color: #bfbfbf; /*legacy colour*/
            transition: background-color 0.3s ease;
        }
        .nav-panel:hover {
            background-color: #cccccc; /*legacy colour*/
        }
        .nav-panel__text {
            padding-left: 10px;
            padding-right: 10px;
        }  
        @media (min-width: 40.0625em) { 
            .nav-panel__text {
                font-size: 140% !important;
            } 
        }
    </style>

        
    
  <div class="govuk-grid-row">
      
    <div class="govuk-grid-column-one-third">
        <div class="nav-panel">
            
                <a class="govuk-link nav-panel__link" href="worklist">
                    <span class="nav-panel__text">My Worklist</span>
                </a>
            
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="nav-panel">
            
                <a class="govuk-link nav-panel__link" href="https://workflow-preview.lr.net/casework-workflow-mi-ui/production-information">
                    <span class="nav-panel__text">Production Information</span>
                </a>
            
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="nav-panel">
            
                <a class="govuk-link nav-panel__link" href="http://marval-live/MSMselfservice/AutoGen.aspx?page=645" target="_blank" rel="noreferrer noopener">
                    <span class="nav-panel__text">Report an issue</span>
                    <span class="visuallyhidden">(Opens in new window)</span>
                </a>
            
        </div>
    </div>

</div>  

  <div class="govuk-grid-row">
      
    <div class="govuk-grid-column-one-third">
        <div class="nav-panel">
            
                <a class="govuk-link nav-panel__link" href="search">
                    <span class="nav-panel__text">Search</span>
                </a>
            
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="nav-panel">
            
                <a class="govuk-link nav-panel__link" href="work-category-option">
                    <span class="nav-panel__text">Select category of work</span>
                </a>
            
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="nav-panel">
            
                <a class="govuk-link nav-panel__link" href="manage-assigned-work">
                    <span class="nav-panel__text">Manage Assigned Work</span>
                </a>
            
        </div>
    </div>

</div>

</div>




{% endblock %}
