{% extends "layouts/wf_layout_legacy.html" %}

{% set pageName="Index template example for legacy designs" %}

{% block content %}

  

<div class="content-wrapper">

        
    
  <div class="govuk-grid-row">
      
          <div class="govuk-grid-column-one-third">
              <div class="nav-panel">
                  
                      <a class="nav-panel__link" href="worklist" title="My Worklist page">
                          <span class="nav-panel__text">My Worklist</span>
                      </a>
                  
              </div>
          </div>
      
          <div class="govuk-grid-column-one-third">
              <div class="nav-panel">
                  
                      <a class="nav-panel__link" href="https://workflow-preview.lr.net/casework-workflow-mi-ui/production-information" title="Production Information page">
                          <span class="nav-panel__text">Production Information</span>
                      </a>
                  
              </div>
          </div>
      
          <div class="govuk-grid-column-one-third">
              <div class="nav-panel">
                  
                      <a class="nav-panel__link" href="http://marval-live/MSMselfservice/AutoGen.aspx?page=645" target="_blank" title="Report an issue (Link opens in a new window)">
                          <span class="nav-panel__text opens-in-new-window">Report an issue</span>
                          <span class="visuallyhidden">(opens in a new window)</span>
                      </a>
                  
              </div>
          </div>
      
  </div>

  <div class="govuk-grid-row">
      
          <div class="govuk-grid-column-one-third">
              <div class="nav-panel">
                  
                      <a class="nav-panel__link" href="search" title="Search page">
                          <span class="nav-panel__text">Search</span>
                      </a>
                  
              </div>
          </div>
      
          <div class="govuk-grid-column-one-third">
              <div class="nav-panel">
                  
                      <a class="nav-panel__link" href="work-category-option" title="Select category of work page">
                          <span class="nav-panel__text">Select category of work</span>
                      </a>
                  
              </div>
          </div>
      
          <div class="govuk-grid-column-one-third">
              <div class="nav-panel">
                  
                      <a class="nav-panel__link" href="manage-assigned-work" title="Manage Work page">
                          <span class="nav-panel__text">Manage Assigned Work</span>
                      </a>
                  
              </div>
          </div>
      
  </div>



</div>




{% endblock %}
