<style>
  @media(min-width:1020px){
      .hmlr-wf-position-relative {
          position: relative; 
      }
      .hmlr-wf-search-button--width-10 {
          top: -2.5rem;
          left: calc(11.5em + 4px);   
      }

      .govuk-form-group--error + .hmlr-wf-search-button--width-10 {
        left: calc(11.5em + 24px);   
      }
  }
</style>

<h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l govuk-!-margin-bottom-6" for="lr_work_ref">
      Search by <abbr>ABR</abbr>
    </label>
</h1>