{% extends "layouts/wf_layout_legacy.html" %}

{% set pageName="Index template example for legacy designs" %}

{% block content %}

<style>
  .line-through {
    text-decoration: line-through;
  }

  main h1, main h2, main h3, main p, main li  {
    font-family: "GDS Transport", arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important; 
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <abbr>WCAG</abbr> / Accessibility templates
    </h1>

    <p class="govuk-body-s">
      These <abbr>HTML</abbr> templates (with revised <abbr>HTML</abbr>) featuring the <abbr>HTML</abbr> to resolve recorded accessibility and <abbr>GDS</abbr> compliance issues. Grouped by page (areas).
    </p>

    <p class="govuk-body-s">
      These updates and amends are the bare minimal to comply with accessibility requirements and <abbr>GDS</abbr> compliance which is accessibility related. (Improvements in the <abbr>HTML</abbr> and design is beyond the scope of this work).
    </p>    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      1. Manage assigned work
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li>
        <a href="./manage-assigned-work.html" class="govuk-link govuk-link--no-visited-state" target="_blank">manage-assigned-work</a>
        
        <br>

        <details class="govuk-details govuk-!-margin-top-4 govuk-!-font-size-16">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Manage assigned work details
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body-s">Issues resolved: (within the 'main' tag content area)</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
              <li>
                <b>Find/Search button:</b> Add classes 'govuk-button' and 'govuk-!-margin-bottom-0' to the 'search-button' to resolve <abbr>GDS</abbr> active/keyboard states and for inline styling (when error message styles are applied).
                Also, either add <code>!important</code> to the width <abbr>CSS</abbr> declaration for the 'search-button' class in the <abbr>CSS/SASS</abbr> file (and add max-height: 38px;) or add the inline 'style' (with min-width and max-width) attribute, as per <abbr>HTML</abbr>, to the button. 
                <br><i class="govuk-!-font-size-14">This page design will eventually be revisited/redesigned in general</i>.
              </li>
              <li>
                <b>Assign button:</b> Add classes 'govuk-button' and 'govuk-!-margin-bottom-0' to the 'Assign' button to resolve <abbr>GDS</abbr> active/keyboard states and to resolve the inline flow styling (when error message styles are applied).           
              </li>
              <li>
                <b>Labels on the two search fields:</b> On both labels (which accompany the text input fields) add classes 'govuk-label' and 'govuk-!-font-weight-bold'. (This standardises the font sizing - to match error messages - and reinstates the bold as per the current page design).
              </li>
              <li>
                <b>The placeholder texts:</b> Remove the the placeholder attributes from both text input fields. Update the labels as per the <abbr>HTML</abbr> designs. Remove the title attributes from both text input fields.
                <br><i class="govuk-!-font-size-14">Note: This duplicates a ticket created for/by Rosie.</i>
              </li>
              <li>
                <b>The two input fields style:</b> On the 'Find' and 'Assign' input fields add class 'govuk-input' as per the <abbr>HTML</abbr>. (<abbr>GDS</abbr> styling required for autoComplete widget).
              </li>              
              <li>
                <b>Form tag:</b> Add 'novalidate' attribute to the form tag.
              </li>
              <li class="line-through">
                <b>Green buttons:</b> We should avoid using more than 1 green button on a page, but this will be resolved by a future page redesign. 
              </li>          
              <li>
                <b>Breadcrumbs:</b> On this page - and globally throughout all Workflow pages - remove the 'title' attribute from the 'Home' page link.
                <br><i class="govuk-!-font-size-14">The current Breadcrumbs pattern is not as expected - not mirroring how breadcrumbs work throughout gov services - but it is beyond the scope of this work.</i>
              </li>
              <li>
                <b>Search input without JavaScript:</b> With JavaScript disabled it is impossible to search for a user, even if I know the name 'Rosie Brave', for example, exists this still returns no results; but searching with 'Rosie.Brave' does. We should parse/format the input (entered as a name seperated with white space) to search on this format to return a result? 
              </li>
              <li>
                <b>Fieldset/Legend:</b> Remove inappropriate use of Fieldset/Legend. Simply remove the fieldset and legend <abbr>HTML</abbr> wrapping the form content and reinstigate a H1 header in a row &amp; col div (as per the <abbr>HTML</abbr>). Remove 'form-title' class from the H1. (This work should also update the results version of the page, removing the Fieldset/Legend).
              </li>
              <li>
                <b><abbr>HTML</abbr> form groups:</b> Add the <abbr>GDS</abbr> <abbr>HTML</abbr> form group structure (which will be used for applying the correct error message designs). Wrap form elements in the 'govuk-form-group' divs, as per the <abbr>HTML</abbr> example.
              </li>     
              <li>
                <i>Rosie (notes for future designs): hint text on redesign (advising user to start typing/inputting data). Do we need the 'search' icon on the 'find' field button, as using autocomplete we've already searched for the user. Should this button be "Find", to then 'find' the appliactions associated with that user? (Part of the redesign).</i>
              </li>
    
            </ul>
    
    
          </div>
        </details>
      
      </li>
      <li>
        <a href="./manage-assigned-work-results.html" class="govuk-link govuk-link--no-visited-state" target="_blank">manage-assigned-work-results</a>

        <br>

        <details class="govuk-details govuk-!-margin-top-4 govuk-!-font-size-16">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Manage assigned work results details
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body-s">Issues resolved: (assuming the same amends for the page - before form submission - have been applied to the form on the results page)</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
              
              <li>
                <b>Table checkboxes:</b> require <abbr>GDS</abbr> styling (for tabbing and accessibility). <br>
                Update the <abbr>HTML</abbr> structure for each table checkbox, as per the <abbr>HTML</abbr> example (which includes adding 'hmlr-wf-checkboxes--single-tbl' to each checkbox wrapper and removing the title attribute from the checkboxes).<br>
    
    
                <pre>
                Add this to the end of your <abbr>CSS</abbr> (sass) output file: 
    
                .govuk-radios__label:before, 
                .govuk-checkboxes__label:before {
                    background-color: #ffffff;
                }
    
                .hmlr-wf-checkboxes--single-tbl {
                  margin-left: 15px;
                  width: 0%;
                }
    
                .hmlr-wf-checkboxes--single-tbl .govuk-checkboxes__item {
                  top: -10px;
                }            
                
                .hmlr-wf-checkboxes--single-tbl .govuk-label {
                    text-indent: -3000px; 
                    width: 0; 
                    padding: 0; 
                }
                </pre>
              </li>  
              <li>
                <b>Select all - checkbox option:</b> Remove the label <abbr>HTML</abbr> which wraps the 'Select all' text in the table header cell, and edit the text to just 'Select'. Update the checkbox (with hidden label) as per the <abbr>HTML</abbr> and the <abbr>CSS</abbr> classes used. In this row remove the empty 5 col cell and add colspan 7 to the single remaining cell on this row, as per the <abbr>HTML</abbr>.<br>
                Add class 'hmlr-wf-tr-if-js' to the parent <abbr>TR</abbr> element, and this <abbr>CSS</abbr> to your <abbr>CSS</abbr> output:<br>
                <pre>
                  .hmlr-wf-tr-if-js {
                    display: none; 
                  }
                  
                  .js-enabled .hmlr-wf-tr-if-js {
                      display: table-row; 
                  }
                </pre>
                <br>
                <i>This feature shouldn't be in the table, but moving it is beyond the scope of this <abbr>WCAG</abbr> work.</i>
              </li>  
              <li>
                <b>Table Caption tag:</b> Update the table caption, as per the <abbr>HTML</abbr> provided (with the first number being how many results were returned) and add class 'govuk-!-margin-top-6' to the table tag.
              </li> 
              <li>
                <b>Table IDs and 'headers':</b> I can't see why we've added IDs to the <abbr>TH</abbr> table headers and also added 'headers' attributes to the tables cells (as this is a straightforward table design and does not require these features which are used for complex layouts with cells spanning coloumns, etc)? We could look at removing these if issues persist in testing with repeating headers and rows being read aloud by assistive technologies.
              </li>        
              <li>
                <b>Labels in all coloumns:</b> Remove the label <abbr>HTML</abbr> tags wrapping the content in each of the coloumns. In the 'Category' coloumn remove the <abbr>ABBR</abbr> tags which wrap the content. <br>
                <i>There is some inappropriate or redundant <abbr>HTML</abbr> used in these tables, but this is beyond the scope of the <abbr>WCAG</abbr> work.</i>
              </li>
              <li>
                <b>Hyperlink styling:</b> Hyperlinks require the modern <abbr>GDS</abbr> styling. Append the following <abbr>CSS</abbr> to the end of your <abbr>CSS</abbr> output. (If/when upgrading to the latest <abbr>GDS</abbr> version, this will no longer be required).
                <br>
                <pre>
                  /* temp updating hover states to match latest gds: STARTS */
                  .govuk-link, 
                  .govuk-details__summary-text {
                      text-decoration-thickness: max(1px,0.0625rem) !important;
                      text-underline-offset: 0.1578em !important;   
                  }

                  .govuk-link:hover, 
                  .govuk-details__summary-text:hover {
                      text-decoration-thickness: max(3px,0.1875rem,0.12em) !important;
                      text-underline-offset: 0.1578em !important;
                  }
                  /* temp updating hover states to match latest gds: ENDS */
                </pre>
              </li>
              <li>
                <b>'More info' links:</b> For each of these links, remove the title and aria-label attributes. Add target blank attributes. Update the link content, as per the <abbr>HTML</abbr>, with each featuring its unique application number. Add to the 'a' tag (hyperlink) the 'govuk-!-font-size-16' class to reinstate the font sizing, as per the <abbr>HTML</abbr>.
              </li>
              <li>
                <b>'Show attached applications' link: </b> (And the equivalent 'Hide attached applications'). Update the plus sign to use the <abbr>HTML</abbr> symbol code (as per the <abbr>HTML</abbr>). Add the class 'govuk-link' to the button tag (which will apply the keyboard tabbing focus state styling). Add the hidden span within the hyperlink content - a visually hidden span describing the application number - which will make each of these links unique (which is an accessibility requirement), as per the <abbr>HTML</abbr> provided. Remove any title attribute from the button/link.
                
                <br><br>
                There is an issue with this functionality requiring JavaScript support to reveal the attached applications. The ideal solution is: the link submits (a hidden input field) to itself for the page to reload with the previously hidden table rows (applications) showing (with whatever class is required to reveal/show it). i.e, round trip posts to the server to show and hide these attached rows. The plus &amp; minus and show/hide words in the hyperlink will also require updating (hardcoded into the page). (Ultimately, if this functionality is created it may be easier to remove the JavaScript functionality which does this dynamically?). 
                
                <br><br>
                
                <i>For this <abbr>HTML</abbr> design template the functionality of showing/hiding an additional table row/tbody isn't supported. On the preview site any table row (application) revealed as being attached to a parent application has no semantic indicator that it is linked whatsoever, but this is beyond the scope of this work. Other issues relating to such links sitting next to each other will be resolved in the Worklist <abbr>WCAG</abbr> work.</i>
              </li>
              <li>
                <b>Self clearing input fields:</b> On the preview site, the results page persists the input values in both of the main text input fields: when clicking in these (adding focus) the content is automatically cleared. Remove/Amend the JavaScript which does this (to stop this behaviour). This appears to be related to the input class 'search-bar' (with the JavaScript targeting/finding the element via that class) and the 'autocomplete'? This update should apply to the input fields when the page first loads and the 'results' version of the page. 
              </li>
              <li>
                <b>Results statement</b> (above the results table): On the div with class '.top-spacing' add the 'govuk-!-margin-top-6' class (as per <abbr>HTML</abbr>). Change the H2 (#caseworker_worklist_heading) class from '-l' to '-m'. Update the divs wrapping any following statement to be 'P' tags, with 'govuk-body-s' class, as per the <abbr>HTML</abbr>. Wrap the '.top-spacing' div in a new div with class '.govuk-form-group' (which should also wrap the results list table when it is included in the page).
              </li>

              
    
            </ul>
          </div>
        </details>    

      </li>
      <li>
        <a href="./manage-assigned-work-new-autocomplete.html" class="govuk-link govuk-link--no-visited-state" target="_blank">manage-assigned-work-new-autocomplete</a>

        <br>

        <details class="govuk-details govuk-!-margin-top-4 govuk-!-font-size-16">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Managed assigned work - autocomplete details
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body-s">
              Notes: The current autocomplete functionality on the 'Find' and 'Assign' text fields fail accessiblity tests. These failings have been recorded in ticket Jira <a href="https://hmlandregistry.atlassian.net/browse/AMW-1714" class="govuk-link govuk-link--no-visited-state" target="_blank">1714</a>, and this work resolves this issue. This alternative is an offical Gov <abbr>GDS</abbr> project designed to be accessibile.
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
              
              <li>
                Remove legacy class 'spin' spans and the redundant #results-container div
              </li>
              <li>
                Move the input text fields into a <code>noscript</code> tag as per the <abbr>HTML</abbr> design templates provided.
              </li>
              <li>
                Add the <code>style</code> tags to the body of the page - these are styles exclusive to this page only - as per the <abbr>HTML</abbr> design template provided.
              </li>
              <li>
                Add the new <abbr>HTML</abbr> blocks (identified by the classs 'manage-bar search-container') as per the <abbr>HTML</abbr> design template provided; these are where the generated autocomplete and new input field is injected.
              </li>
              <li>
                For this prototype I have added the JavaScript and <abbr>CSS</abbr> required by this autocomplete to the bottom of the <abbr>HTML</abbr> template file. We could move the block of <abbr>CSS</abbr> to a seperate file. The JavaScript could be moved to a standalone file (as we may reuse it elsewhere); however the two ('#tt-autoselect' and '#tt2-autoselect') local declarations could remain as part of this file/page. You can access the minified <abbr>CSS</abbr> and JavaScript files on this page: https://alphagov.github.io/accessible-autocomplete/
              </li>
              <li>
                The hardcoded array (var namesExamples) provides the sample search data for these designs.<br><br>
                
                From https://alphagov.github.io/accessible-autocomplete/ ...<br>
                &quot;<i>If source is a function, the arguments are: query: string, populateResults: Function<br><br>

                  Similar to the source argument for typeahead.js, a backing data source for suggestions. query is what gets typed into the input field, which will callback to populateResults synchronously with the array of string results to display in the menu.</i>&quot; (Further info on the website).
              </li>
            </ul>

            <p class="govuk-body-s">
              API: https://alphagov.github.io/accessible-autocomplete/<br><br>
              Example: https://alphagov.github.io/accessible-autocomplete/examples/
            </p>
          </div>
        </details>    

      </li>      
    </ol>

    <h2 class="govuk-heading-s">
      Manage assigned work - Results/Banners/Error message pages
    </h2>

    <p class="govuk-body-s govuk-!-font-weight-bold">All error message pages should feature: </p>
    
    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
      <li>Prepended text "Error:" to the <abbr>HTML</abbr> document title (title tag)</li>
      <li>Error summary block with hyperlinks which point to the related form element</li>
      <li>Inline error messages, with correct styling (red left bar and text input fields with red border) and the corresponding 'aria-describedby' attributes</li>
    </ul> 

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li>
        <b>This page is Work In Progress ... No user found:</b> In the 'Find' input field enter and submit a name which is not recognised - a pink banner displays stating "No Workflow user found with the name ... ." Instead: <br>
        &bull; <a href="./results-no-user-found.html" class="govuk-link govuk-link--no-visited-state" target="_blank">results-no-user-found</a>
      </li>
      <li>
        <b>'Find' is a required field:</b> Submiting the 'find' option without a value generates a pink banner displaying  'No Workflow user found with the name &quot;&quot; '. This is a form validation message - when no value is entered - for a required field and instead should be presented as an validation error with this message, as per the design: <br>
        &bull; <a href="./error-enter-a-value-for-find.html" class="govuk-link govuk-link--no-visited-state" target="_blank">error-enter-a-value-for-find</a>. 
      </li>
      <li>
        <b>Submiting 'Assign' - 'Find' is a required field:</b> The result is similar to the previous 'error-enter-a-value-for-find' example - when the 'find' field is empty and a user enters a 'assign' value and submits the 'assign' field the error message for the empty 'find' field is also fired. This example shows the same error message with a value in the 'assign' field:  
        <br>
        &bull; <a href="./error-enter-a-value-for-find-submitting-assign.html" class="govuk-link govuk-link--no-visited-state" target="_blank">error-enter-a-value-for-find-submitting-assign</a>. 
      </li>
      <li>
        <b>Submiting 'Assign' with no values in either fields:</b> If the user submits the assign field without entering any value into both the 'find' and 'assign' field, this is how the error messages appear: <br>
        &bull; <a href="./error-enter-a-value-for-find-and-assign.html" class="govuk-link govuk-link--no-visited-state" target="_blank">error-enter-a-value-for-find-and-assign</a>. 
      </li>
      <li>
        <b>'Assign' is a required field:</b> The logic of how this page works requires redesigning but in order to get the current design to be accessibile (and <abbr>GDS</abbr> compliant) we need to use the correct error messaging patterns.
        
        <br><br>If 'Find' has a value, then submiting the 'Assign' field without a value (the first time, before a list of applications has been returned) currently generates a pink banner displaying "Select an application and find a caseworker to assign the application to." This is a form error validation message (required fields) - this message and design is required: <br>
        &bull; <a href="./error-enter-a-value-for-assign.html" class="govuk-link govuk-link--no-visited-state" target="_blank">error-enter-a-value-for-assign</a>. <br>
        The summary message hyperlink for selecting an application should target the first application checkbox (not the 'Select all' checkbox option). When the 'Select one or more applications to assign' error message is shown we also add the 'aria-describedby' attribute to each checkbox (as per the <abbr>HTML</abbr> design), except for the first 'Select all' checkbox option.
      </li>
      <li>
        <b>Applications are required:</b> When both 'find' and 'assign' have values and no application has been selected: this is how the page appears: <br>
        &bull; <a href="./error-enter-a-value-for-applications.html" class="govuk-link govuk-link--no-visited-state" target="_blank">error-enter-a-value-for-applications</a>. 
      </li>   
      <li>
        If form validation error messages have been fired for either 'assign' and/or 'applications' the user could theoretically manually clear the value in the 'find' field; so the first error message (<a href="./error-enter-a-value-for-find.html" class="govuk-link govuk-link--no-visited-state" target="_blank">error-enter-a-value-for-find</a>) is fired. But if the user has successfully returned a list of applications and then clears all fields and 'clicks' the 'assign' button, this example provides an illustration of how all three error messages appear in this theoretical edge case: <br>
        &bull; <a href="./error-all.html" class="govuk-link govuk-link--no-visited-state" target="_blank">error-all</a>. 
      </li>
      <!--li>
        For non-JavaScript users do we require input validation on avoid symbols?
      </li-->





      <li>
        <b>Form expired banner: </b> When the page/form has expired an 'important' banner (<abbr>GDS</abbr> notification banner component) message is served at the top of the page which states: "The form you were submitting has expired. Please try again.". The styling on this banner isn't quite correct - the <abbr>HTML</abbr> should be as per this: <br>
        &bull; <a href="./banner-form-expired.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
          banner-form-expired
        </a>
        <br><i>Rosie: pls confirm text if content edits are required (and I'll simply update this <abbr>HTML</abbr>design file).</i>
      </li>               
    </ol>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      2. Home page
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol> 

    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Home page details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      3. My Worklist
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol> 

    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          My Worklist details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      4. Search
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol>  

    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      5. Search results
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol>  

    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search results details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      6. Refer
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol>  

    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Refer details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      7. Defer
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol>  
    
    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Defer details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      8. Activity history
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol>   
    
    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Activity history details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      9. Return reasons
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol> 

    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Return reasons details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
    
    <h2 class="govuk-heading-m">
      10. Accessibility statement
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
      <li></li>
      <li></li>
    </ol>     
    
    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Accessibility statement details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    

    <h2 class="govuk-heading-m">
      11. Page header and footer
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-font-size-16">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">xxx</a></li>
    </ol>     
    
    <details class="govuk-details  govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Page header and footer details
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">Issues resolved:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li>Fix footer - widths (inline with the header); if in scope?</li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">        

    <!--hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"-->

  </div>
</div>

{% endblock %}
