{% extends "layouts/wf_layout_legacy.html" %}

{% set pageName="Search" %}

{% block pageTitle %}
Search
{% endblock %}

{% block beforeContent %}
<!-- do not add this style bloc to the build - this is for this prototype only -->
<style>
.search-button {
    width: 40px !important;
    max-height: 38px;
}
</style>
<div class="govuk-breadcrumbs">
        
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Search
      </li>
  </ol>

</div>
{% endblock %}

{% block content %}


<form action="search_results" class="form" method="POST" novalidate="">
    
    <input name="csrf_token" type="hidden" value="IjM2NGI5M2Y3NGNiMjNlZTc4NzdkMTNkZWU3YmU2ZTE5YWIxZjcyMmIi.ZfrBTQ.T0UxmunTcb_Z0nZX5uy1oyL2jDo">

    <div class="govuk-form-group govuk-!-margin-bottom-0 hmlr-wf-position-relative">

        {% include "./inc_search-h1.html" %}

        {% include "./inc_search-hint.html" %}

        {% include "./inc_search-field.html" %}

    </div>

    {% include "./inc_search-field-btn.html" %}
    
</form>


{% endblock %}