{% extends "layouts/wf_layout_legacy_wcag_updates.html" %}

{% set pageName="Select a category of work" %}

{% block pageTitle %}
Select a category of work
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      
      <li class="govuk-breadcrumbs__list-item">
          Select a category of work
      </li>
  </ol>
</div>
{% endblock %}

{% block content %}
         
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form action="#" method="post" novalidate>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
            <h1 class="govuk-fieldset__heading">
              Select a category of work
            </h1>
          </legend>

          

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Volume
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions" name="work_allocation_code" type="radio" value="VCO">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions">
                    Volume Change of Ownership (VCO)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-2" name="work_allocation_code" type="radio" value="VRU">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-2">
                    Volume Register Update (VRU)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-3" name="work_allocation_code" type="radio" value="VCO_ADR">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-3">
                    Volume Change of Ownership Actionable Deferral: Requisition (VCO ADR)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-4" name="work_allocation_code" type="radio" value="VRU_ADR">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-4">
                    Volume Register Update Actionable Deferral: Requisition (VRU ADR)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-5" name="work_allocation_code" type="radio" value="V_ADN">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-5">
                    Volume Actionable Deferral: Objection Notice
                  </label>
                </div>
              </div>
            </fieldset>

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Executive
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions" name="work_allocation_code" type="radio" value="SRU">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions">
                    Executive Register Update Standard (SRU)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions-2" name="work_allocation_code" type="radio" value="CRU">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions-2">
                    Executive Register Update Complex (CRU)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions-3" name="work_allocation_code" type="radio" value="E_ADN">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions-3">
                    Executive Register Update Actionable Deferral: Objection Notice
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions-4" name="work_allocation_code" type="radio" value="E_ADR">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions-4">
                    Executive Register Update Actionable Deferral: Requisition (Exec ADR)
                  </label>
                </div>
                
              </div>
            </fieldset>

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Application Processing Volume
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions" name="work_allocation_code" type="radio" value="VCO_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions">
                    Volume Change of Ownership (AP VCO)
                  </label>              
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions-2" name="work_allocation_code" type="radio" value="VRU_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions-2">
                    Volume Register Update (AP VRU)
                  </label>              
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions-3" name="work_allocation_code" type="radio" value="VCO_ADR_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions-3">
                    Volume Change of Ownership Actionable Deferral: Requisition (AP VCO ADR)
                  </label>              
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions-4" name="work_allocation_code" type="radio" value="VRU_ADR_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions-4">
                    Volume Register Update Actionable Deferral: Requisition (AP VRU ADR)
                  </label>              
                </div>
                
              </div>
            </fieldset>

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Application Processing Executive
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptionsExecutive" name="work_allocation_code" type="radio" value="SRU_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptionsExecutive">
                    Executive Register Update Standard (AP SRU)
                  </label>           
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptionsExecutive-2" name="work_allocation_code" type="radio" value="CRU_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-2">
                    Executive Register Update Complex (AP CRU)
                  </label>            
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptionsExecutive-3" name="work_allocation_code" type="radio" value="E_ADR_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-3">
                    Executive Actionable Deferral: Requisition (AP Exec ADR)
                  </label>              
                </div>

              </div>
            </fieldset>
            
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  No Category
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="noCat" name="work_allocation_code" type="radio" value="NONE">
                  <label class="govuk-label govuk-radios__label" for="noCat">
                    No Category
                  </label>          
                </div>

              </div>
            </fieldset> 

         


          <!-- these had ABBR tags in the labels
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Volume
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions" name="work_allocation_code" type="radio" value="VCO">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions">
                    Volume Change of Ownership (<abbr>VCO</abbr>)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-2" name="work_allocation_code" type="radio" value="VRU">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-2">
                    Volume Register Update (<abbr>VRU</abbr>)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-3" name="work_allocation_code" type="radio" value="VCO_ADR">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-3">
                    Volume Change of Ownership Actionable Deferral: Requisition (<abbr>VCO</abbr> <abbr>ADR</abbr>)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-4" name="work_allocation_code" type="radio" value="VRU_ADR">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-4">
                    Volume Register Update Actionable Deferral: Requisition (<abbr>VRU</abbr> <abbr>ADR</abbr>)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="volumeOptions-5" name="work_allocation_code" type="radio" value="V_ADN">
                  <label class="govuk-label govuk-radios__label" for="volumeOptions-5">
                    Volume Actionable Deferral: Objection Notice
                  </label>
                </div>
              </div>
            </fieldset>

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Executive
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions" name="work_allocation_code" type="radio" value="SRU">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions">
                    Executive Register Update Standard (<abbr>SRU</abbr>)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions-2" name="work_allocation_code" type="radio" value="CRU">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions-2">
                    Executive Register Update Complex (<abbr>CRU</abbr>)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions-3" name="work_allocation_code" type="radio" value="E_ADN">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions-3">
                    Executive Register Update Actionable Deferral: Objection Notice
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="executiveOptions-4" name="work_allocation_code" type="radio" value="E_ADR">
                  <label class="govuk-label govuk-radios__label" for="executiveOptions-4">
                    Executive Register Update Actionable Deferral: Requisition (Exec <abbr>ADR</abbr>)
                  </label>
                </div>
                
              </div>
            </fieldset>

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Application Processing Volume
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions" name="work_allocation_code" type="radio" value="VCO_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions">
                    Volume Change of Ownership (<abbr>AP</abbr> <abbr>VCO</abbr>)
                  </label>              
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions-2" name="work_allocation_code" type="radio" value="VRU_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions-2">
                    Volume Register Update (<abbr>AP</abbr> <abbr>VRU</abbr>)
                  </label>              
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions-3" name="work_allocation_code" type="radio" value="VCO_ADR_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions-3">
                    Volume Change of Ownership Actionable Deferral: Requisition (<abbr>AP</abbr> <abbr>VCO</abbr> <abbr>ADR</abbr>)
                  </label>              
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptions-4" name="work_allocation_code" type="radio" value="VRU_ADR_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptions-4">
                    Volume Register Update Actionable Deferral: Requisition (<abbr>AP</abbr> <abbr>VRU</abbr> <abbr>ADR</abbr>)
                  </label>              
                </div>
                
              </div>
            </fieldset>

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Application Processing Executive
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptionsExecutive" name="work_allocation_code" type="radio" value="SRU_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptionsExecutive">
                    Executive Register Update Standard (<abbr>AP</abbr> <abbr>SRU</abbr>)
                  </label>           
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptionsExecutive-2" name="work_allocation_code" type="radio" value="CRU_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-2">
                    Executive Register Update Complex (<abbr>AP</abbr> <abbr>CRU</abbr>)
                  </label>            
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apOptionsExecutive-3" name="work_allocation_code" type="radio" value="E_ADR_AP">
                  <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-3">
                    Executive Actionable Deferral: Requisition (<abbr>AP</abbr> Exec <abbr>ADR</abbr>)
                  </label>              
                </div>

              </div>
            </fieldset>
            
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  No Category
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="noCat" name="work_allocation_code" type="radio" value="NONE">
                  <label class="govuk-label govuk-radios__label" for="noCat">
                    No Category
                  </label>          
                </div>

              </div>
            </fieldset> 

          </div>
          -->

        </fieldset>
      </div>

        <button value="y" type="submit" name="save" class="govuk-button" id="save">
          Select
        </button>

    </form>

  </div>
</div>

{% endblock %}
