{% extends "layouts/wf_layout_legacy.html" %}

{% set pageName="Index template example for legacy designs" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
        
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        My Worklist
      </li>
  </ol>

</div>
{% endblock %}

{% block content %}

  
  <div id="worklist_page">
    <meta property="proc_party" content="1510">
  
    <div id="data-progress-now-table" data-progress-now-table="">
      
      
      <h1 id="my_worklist_header" class="govuk-heading-l worklist__header">
  
        My Worklist : 2 applications
  
      </h1>
  
      <div class="govuk-inset-text">
        This page demonstrates our own <abbr>AMW</abbr> "prevent double click" JavaScript code (while our <abbr>GDS</abbr> library version does not support the "data-prevent-double-click='true'"). This demo page features <b>two</b> buttons simply to make the JavaScript button functionality for other instances where multiple buttons on the same page might require the 'stop double click' functionality.
      </div>
      
      
      <table id="progress_now_table" class="govuk-table worklist__table ">
          
        <caption class="govuk-table__caption govuk-table__caption--m">
            1 application presented in a 6 column table.
        
            <!--Work items in My Worklist-->
        </caption>
      
  
      
  
      <thead class="govuk-table__head">
          <tr class="govuk-table__row worklist-black-border">
              <th class="govuk-table__header" id="progress_now_priority_dates" scope="col">Priority date</th>
              <th class="govuk-table__header" id="progress_now_title_numbers" scope="col">Title number</th>
              <th class="govuk-table__header" id="progress_now_abrs" scope="col"><abbr title="A B R">ABR</abbr></th>
              <th class="govuk-table__header" id="progress_now_categories" scope="col">Category</th>
              <th class="govuk-table__header" id="progress_now_dates_obtained" scope="col">Date obtained</th>
              <th class="govuk-table__header" id="progress_now_next_actions" scope="col">Next action</th>
          </tr>
      </thead>
  
      
          
      <tbody data-case-ref="E365VWW" class="case case--parent ">
          <tr id="row_10628" class="govuk-table__row case__data_row ">
  
              
      <td class="case__date" id="E365VWW_priority_date" headers="progress_now_priority_dates">
          
            
            22 January 2024
            
          
      </td>
  
  
              
      <td class="case__title-number" id="E365VWW_title_number" headers="progress_now_title_numbers">
          
              <span class="case__inc">
                      
              </span>
              DU164997
              
          
      </td>
  
  
              
      <td id="E365VWW_abr" class="case__abr" headers="progress_now_abrs">
          
          E365VWW
          
          <div>
                Leading application
          </div>
      </td>
  
  
              
      <td id="E365VWW_cat" class="case__category" headers="progress_now_categories">
          
          
          
          
            Executive Register Update Standard

          
      </td>
  
  
              
      <td class="case__date" id="E365VWW_dobtained" headers="progress_now_dates_obtained">
          
          25 January 2024
          
      </td>
  
  
              
      <td id="E365VWW_next_action" class="case__next-action" headers="progress_now_next_actions">
          
          
              New - Start to process
          
          
      </td>
  
  
          </tr>
          
      
          
      
  
          
          <tr id="row_10628_actions" class="govuk-table__row case__actions">
              <td colspan="6">
                <div class="case__actions-wrapper">
                  <div class="case__left-hand-actions actions-spacing">
  
                      
                          
                              
      <form class="case__form case__form--process" id="process_form_10628" action="cslk:titleno=DU164997&amp;appnref=E365VWW&amp;appntype=DLG" method="POST" novalidate>
          
            <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
          
          <input aria-label="Open CORA to start processing case E365VWW" type="submit" id="open_btn_E365VWW" class="govuk-button hmlr-wf-prevent-double-click" value="Open">
      </form>
  
                          
      <span class="govuk-visually-hidden">|</span>                
  
                      
                      
      <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16" href="esrv-return-reason?work-item-id=10628" aria-label="return to e-serve" title="Return case E365VWW to DB2">Return to ESRV</a>
  
      <span class="govuk-visually-hidden">|</span>              
  
                  </div>
  
                  <div class="case__right-hand-actions actions-spacing">
  
                      <form class="case__form" id="change_state_10628" action="change_state/10628?lr_ref_number=DU164997&amp;lr_work_ref=E365VWW" method="post" onsubmit="btn_await_lawyer_10628.disabled = true;
                                    btn_progress_now_10628.disabled = true;
                                    btn_progress_later_10628.disabled = true;" novalidate>
                        
                          <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                        
                        
                          
                        
  
                          <input class="case__progress-code" id="hidden_value_progress_10628" type="hidden" name="activity_code" value="PROGRESS_LATER">

                          <span class="govuk-visually-hidden">|</span>       
  
                          <input id="hidden_value_progress_child_cases_10628" type="hidden" name="child_cases" value="1">
  
  
                      
  
          <input id="btn_await_lawyer_10628" aria-label="Refer case E365VWW to a lawyer" type="hidden" name="Waiting_for_lawyer" class="case__hyperlink case__await_lawyer_btn
                           govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/10628?lr_ref_number=DU164997&amp;lr_work_ref=E365VWW">

                           <span class="govuk-visually-hidden">|</span>       
  
                          
      <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16" title="Refer case: E365VWW" href="refer?lr_work_ref=E365VWW&amp;lr_ref_number=DU164997">
        Refer <span class="govuk-visually-hidden">case <abbr>E365VWX</abbr></span>
      </a>
  
  
      <span class="govuk-visually-hidden">|</span>       
                     
      <input aria-label="Move case E365VWX into your worklist" id="btn_progress_now_10628" type="submit" name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn govuk-!-font-size-16" value="Work on this">

      <span class="govuk-visually-hidden">|</span>       

      <!-- *** -->
 
                          
          <input id="btn_progress_later_10628" aria-label="Progress case E365VWX later" type="submit" name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Progress later">
  
          <span class="govuk-visually-hidden">|</span>       
                          
      <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16" href="deferral-category-option?lr_work_ref=E365VWW&amp;lr_ref_number=DU164997&amp;client=">
        Defer <span class="govuk-visually-hidden">case <abbr>E365VWX</abbr></span>
      </a>
  
      <span class="govuk-visually-hidden">|</span>                     
  
                      
                          
      <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="activity-history/10628?page_no=1&amp;return_to=worklist" id="link_activity_history_E365VWX" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
        View activity history <span class="govuk-visually-hidden">for <abbr>E365VWX</abbr></span>
      </a>

      <span class="govuk-visually-hidden">|</span>       
                          
      <a href="#" class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
          More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619SWX</abbr>. Opens in new tab.</span>
      </a>

      <span class="govuk-visually-hidden">|</span>       
  
      <button id="btn_show_attached_N619SWW" class="case__expand case__hyperlink case__anchor govuk-!-font-size-16 govuk-link">
        <span class="case__expand-verb" id="attached_apps_verb_N619SWW">Show</span> attached applications <span class="govuk-visually-hidden">for <abbr>N619SWW</abbr></span> <span class="case__expand-symbol" id="attached_apps_operator_N619SWW">&plus;</span>
            <!-- the HTML code for the minus symbol: &minus; -->
      </button>
  
                      
                      </form>
                  </div>
                </div>
              </td>
          </tr>
          
      </tbody>

      <tbody data-case-ref="E365VWW" class="case case--parent ">
        <tr id="row_10628" class="govuk-table__row case__data_row ">

            
    <td class="case__date" id="E365VWW_priority_date" headers="progress_now_priority_dates">
        
          
          22 January 2024
          
        
    </td>


            
    <td class="case__title-number" id="E365VWW_title_number" headers="progress_now_title_numbers">
        
            <span class="case__inc">
                    
            </span>
            DU164997
            
        
    </td>


            
    <td id="E365VWX_abr" class="case__abr" headers="progress_now_abrs">
        
        E365VWX
        
        <div>
              Leading application
        </div>
    </td>


            
    <td id="E365VWX_cat" class="case__category" headers="progress_now_categories">
        
        
        
        
          Executive Register Update Standard

        
    </td>


            
    <td class="case__date" id="E365VWX_dobtained" headers="progress_now_dates_obtained">
        
        25 January 2024
        
    </td>


            
    <td id="E365VWX_next_action" class="case__next-action" headers="progress_now_next_actions">
        
        
            New - Start to process
        
        
    </td>


        </tr>
        
    
        
    

        
        <tr id="row_10628_actions" class="govuk-table__row case__actions">
            <td colspan="6">
              <div class="case__actions-wrapper">
                <div class="case__left-hand-actions actions-spacing">

                    
                        
                            
    <form class="case__form case__form--process" id="process_form_10628" action="cslk:titleno=DU164997&amp;appnref=E365VWX&amp;appntype=DLG" method="POST" novalidate>
        
          <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
        
        <input aria-label="Open CORA to start processing case E365VWX" type="submit" id="open_btn_E365VWX" class="govuk-button hmlr-wf-prevent-double-click" value="Open">
    </form>

                        
    <span class="govuk-visually-hidden">|</span>                

                    
                    
    <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16" href="esrv-return-reason?work-item-id=10628" aria-label="return to e-serve" title="Return case E365VWX to DB2">Return to ESRV</a>

    <span class="govuk-visually-hidden">|</span>              

                </div>

                <div class="case__right-hand-actions actions-spacing">

                    <form class="case__form" id="change_state_10628" action="change_state/10628?lr_ref_number=DU164997&amp;lr_work_ref=E365VWX" method="post" onsubmit="btn_await_lawyer_10628.disabled = true;
                                  btn_progress_now_10628.disabled = true;
                                  btn_progress_later_10628.disabled = true;" novalidate>
                      
                        <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                      
                      
                        
                      

                        <input class="case__progress-code" id="hidden_value_progress_10628" type="hidden" name="activity_code" value="PROGRESS_LATER">

                        <span class="govuk-visually-hidden">|</span>       

                        <input id="hidden_value_progress_child_cases_10628" type="hidden" name="child_cases" value="1">


                    

        <input id="btn_await_lawyer_10628" aria-label="Refer case E365VWX to a lawyer" type="hidden" name="Waiting_for_lawyer" class="case__hyperlink case__await_lawyer_btn
                         govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/10628?lr_ref_number=DU164997&amp;lr_work_ref=E365VWX">

                         <span class="govuk-visually-hidden">|</span>       

                        
    <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16" title="Refer case: E365VWX" href="refer?lr_work_ref=E365VWW&amp;lr_ref_number=DU164997">
      Refer <span class="govuk-visually-hidden">case <abbr>E365VWX</abbr></span>
    </a>


    <span class="govuk-visually-hidden">|</span>       
                   
    <input aria-label="Move case E365VWX into your worklist" id="btn_progress_now_10628" type="submit" name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn govuk-!-font-size-16" value="Work on this">

    <span class="govuk-visually-hidden">|</span>       

    <!-- *** -->

                        
        <input id="btn_progress_later_10628" aria-label="Progress case E365VWX later" type="submit" name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Progress later">

        <span class="govuk-visually-hidden">|</span>       
                        
    <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16" href="deferral-category-option?lr_work_ref=E365VWX&amp;lr_ref_number=DU164997&amp;client=">
      Defer <span class="govuk-visually-hidden">case <abbr>E365VWW</abbr></span>
    </a>

    <span class="govuk-visually-hidden">|</span>                     

                    
                        
    <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="activity-history/10628?page_no=1&amp;return_to=worklist" id="link_activity_history_E365VWX" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
      View activity history <span class="govuk-visually-hidden">for <abbr>E365VWX</abbr></span>
    </a>

    <span class="govuk-visually-hidden">|</span>       
                        
    <a href="#" class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
        More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619SWX</abbr>. Opens in new tab.</span>
    </a>

    <span class="govuk-visually-hidden">|</span>       

    <button id="btn_show_attached_N619SWX" class="case__expand case__hyperlink case__anchor govuk-!-font-size-16 govuk-link">
      <span class="case__expand-verb" id="attached_apps_verb_N619SWX">Show</span> attached applications <span class="govuk-visually-hidden">for <abbr>N619SWX</abbr></span> <span class="case__expand-symbol" id="attached_apps_operator_N619SWX">&plus;</span>
          <!-- the HTML code for the minus symbol: &minus; -->
    </button>

                    
                    </form>
                </div>
              </div>
            </td>
        </tr>
        
    </tbody>      
  
          
              
      <tbody data-case-ref="D365VWW" class="case hidden" data-parent="E365VWW">
          <tr id="row_10629" class="govuk-table__row case__data_row ">
  
              
      <td class="case__date">
          
      </td>
  
  
              
      <td class="case__title-number" id="D365VWW_title_number" headers="progress_now_title_numbers">
          
              <span class="case__inc">
                      
              </span>
              DU164998
              
          
      </td>
  
  
              
      <td id="D365VWW_abr" class="case__abr" headers="progress_now_abrs">
          
          D365VWW
          
          <div>
                Attached to E365VWW 
          </div>
      </td>
  
  
              
      <td id="D365VWW_cat" class="case__category" headers="progress_now_categories">
          
          
          
          
            Executive Register Update Standard

          
      </td>
  
  
              
      <td class="case__date" id="D365VWW_dobtained" headers="progress_now_dates_obtained">
          
          25 January 2024
          
      </td>
  
  
              
      <td id="D365VWW_next_action" class="case__next-action" headers="progress_now_next_actions">
          
          
              New - Start to process
          
          
      </td>
  
  
          </tr>
          
      
  
          
          <tr id="row_10629_actions" class="govuk-table__row case__actions">
              <td colspan="6">
                <div class="case__actions-wrapper">
                  <div class="case__left-hand-actions actions-spacing">
  
                      
                          
                              
      <form class="case__form case__form--process" id="process_form_10629" action="cslk:titleno=DU164998&amp;appnref=D365VWW&amp;appntype=DLG" method="POST" novalidate>
          
            <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
          
          <input aria-label="Open CORA to start processing case D365VWW" type="submit" id="open_btn_D365VWW" class="wf-button" value="Open">
      </form>
  
                          
                      
  
                      
  
                  </div>
  
                  <div class="case__right-hand-actions actions-spacing">
  
                      <form class="case__form" id="change_state_10629" action="change_state/10629?lr_ref_number=DU164998&amp;lr_work_ref=D365VWW" method="post" onsubmit="btn_await_lawyer_10629.disabled = true;
                                    btn_progress_now_10629.disabled = true;
                                    btn_progress_later_10629.disabled = true;" novalidate>
                        
                          <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                        
                        
                          
                        
  
                          <input class="case__progress-code" id="hidden_value_progress_10629" type="hidden" name="activity_code" value="PROGRESS_LATER">
  
                          <input id="hidden_value_progress_child_cases_10629" type="hidden" name="child_cases" value="0">
  
  
                      
  
                      
                          
      <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="activity-history/10629?page_no=1&amp;return_to=worklist" id="link_activity_history_D365VWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
        View activity history <span class="govuk-visually-hidden">for <abbr>D365VWW</abbr></span>
      </a>
  
  
                          
      <a href="#" class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
        More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619XXX</abbr>. Opens in new tab.</span>
      </a>
                      
  
                      
                      </form>
                  </div>
                </div>
              </td>
          </tr>
          
      </tbody>
  
          
      
  </table>
  
    </div>
  
 
  
      
      <div class="govuk-form-group">
        <form action="/worklist-ui/ap-orchestrations" method="post" novalidate>
          
            <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
          
          <input type="hidden" id="button_obtain" value="Obtain" class="govuk-button button-large" data-double-click-prevention="true">
        </form>
      </div>
      
  
  
    <div id="data-progress-later-table" data-progress-later-table="">
   
          <h2 id="progress_later_header" class="govuk-heading-l worklist__header ">
      
            Progress Later : 2 applications
      
          </h2>
      
          <table id="progress_later_table" class="govuk-table worklist__table ">
              
          
              
                <caption class="govuk-table__caption govuk-table__caption--m">
                    2 applications presented in a 6 column table.
                    
                    <!--Work items in progress later-->
                </caption>
              
          
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row worklist-black-border">
                      <th class="govuk-table__header" id="progress_later_priority_dates" scope="col">Priority date</th>
                      <th class="govuk-table__header" id="progress_later_title_numbers" scope="col">Title number</th>
                      <th class="govuk-table__header" id="progress_later_abrs" scope="col"><abbr title="A B R">ABR</abbr></th>
                      <th class="govuk-table__header" id="progress_later_categories" scope="col">Category</th>
                      <th class="govuk-table__header" id="progress_later_dates_obtained" scope="col">Date obtained</th>
                      <th class="govuk-table__header" id="progress_later_next_actions" scope="col">Next action</th>
                  </tr>
              </thead>
          
              
                  
              <tbody data-case-ref="R739SWW" class="case  ">
                  <tr id="row_6195" class="govuk-table__row case__data_row case__row-inc">
          
                      
              <td class="case__date" id="R739SWW_priority_date" headers="progress_later_priority_dates">
                  
                    
                    20 July 2023
                    
                  
              </td>
          
          
                      
              <td class="case__title-number" id="R739SWW_title_number" headers="progress_later_title_numbers">
                  
                      <span class="case__inc">
                              *
                      </span>
                      DT104671
                      
                  
              </td>
          
          
                      
              <td id="R739SWW_abr" class="case__abr" headers="progress_later_abrs">
                  
                  R739SWW
                  
                  <div>
                      
                  </div>
              </td>
          
          
                      
              <td id="R739SWW_cat" class="case__category" headers="progress_later_categories">
                  
                  
                  
                  <abbr title="Executive Register Update Complex">
                    Executive Register Update Complex
                  </abbr>
                  
              </td>
          
          
                      
              <td class="case__date" id="R739SWW_dobtained" headers="progress_later_dates_obtained">
                  
                  18 December 2023
                  
              </td>
          
          
                      
              <td id="R739SWW_next_action" class="case__next-action" headers="progress_later_next_actions">
                  
                  
                      Waiting lawyer's response
                  
                  
              </td>
          
          
                  </tr>
                  
              
                  
              
          
                  
                  <tr id="row_6195_actions" class="govuk-table__row case__actions">
                      <td colspan="6">
                        <div class="case__actions-wrapper">
                          <div class="case__left-hand-actions actions-spacing">
          
                              
          
                              
                              
              <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16" href="esrv-return-reason?work-item-id=6195" aria-label="return to e-serve" title="Return case R739SWW to DB2">Return to ESRV</a>
          
                              
          
                          </div>
          
                          <div class="case__right-hand-actions actions-spacing">
          
                              <form class="case__form" id="change_state_6195" action="change_state/6195?lr_ref_number=DT104671&amp;lr_work_ref=R739SWW" method="post" onsubmit="btn_await_lawyer_6195.disabled = true;
                                            btn_progress_now_6195.disabled = true;
                                            btn_progress_later_6195.disabled = true;" novalidate>
                                
                                  <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                                
                                
                                
          
                                  <input class="case__progress-code" id="hidden_value_progress_6195" type="hidden" name="activity_code" value="PROGRESS_NOW">
          
                                  <input id="hidden_value_progress_child_cases_6195" type="hidden" name="child_cases" value="0">
          
          
                              
                  <input id="btn_await_lawyer_6195" aria-label="Refer case R739SWW to a lawyer" type="hidden" name="Waiting_for_lawyer" class="case__hyperlink case__await_lawyer_btn
                                  govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/6195?lr_ref_number=DT104671&amp;lr_work_ref=R739SWW">
                                  
          
                                  
              <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16" href="refer?lr_work_ref=R739SWW&amp;lr_ref_number=DT104671">
                Refer <span class="govuk-visually-hidden">case <abbr>R739SWW</abbr></span>
              </a>
          
          
                                  
              <input aria-label="Move case R739SWW into your worklist" id="btn_progress_now_6195" type="submit" name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn govuk-!-font-size-16" value="Work on this">
          
          
                                  
              <input id="btn_progress_later_6195" aria-label="Progress case R739SWW later" type="hidden" name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Progress later">
          
          
                                  
              <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16" href="deferral-category-option?lr_work_ref=R739SWW&amp;lr_ref_number=DT104671&amp;client=">
                Defer  <span class="govuk-visually-hidden">case <abbr>R739SWW</abbr></span>
              </a>
          
                              
          
                              
                                  
              <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="activity-history/6195?page_no=1&amp;return_to=worklist" id="link_activity_history_R739SWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
                View activity history <span class="govuk-visually-hidden">for <abbr>R739SWW</abbr></span>
              </a>
          
          
              <a href="#" class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
                More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N633SWW</abbr>. Opens in new tab.</span>
              </a>
          
                              
          
                              
                              </form>
                          </div>
                        </div>
                      </td>
                  </tr>
                  
              </tbody>
          
                  
              
                  
              <tbody data-case-ref="K349SWW" class="case  ">
                  <tr id="row_6231" class="govuk-table__row case__data_row case__row-inc">
          
                      
              <td class="case__date" id="K349SWW_priority_date" headers="progress_later_priority_dates">
                  
                    
                    21 July 2023
                    
                  
              </td>
          
          
                      
              <td class="case__title-number" id="K349SWW_title_number" headers="progress_later_title_numbers">
                  
                      <span class="case__inc">
                              *
                      </span>
                      DT104671
                      
                  
              </td>
          
          
                      
              <td id="K349SWW_abr" class="case__abr" headers="progress_later_abrs">
                  
                  K349SWW
                  
                  <div>
                      
                  </div>
              </td>
          
          
                      
              <td id="K349SWW_cat" class="case__category" headers="progress_later_categories">
                  
                  
                  
                  <abbr title="Executive Register Update Complex">
                    Executive Register Update Complex
                  </abbr>
                  
              </td>
          
          
                      
              <td class="case__date" id="K349SWW_dobtained" headers="progress_later_dates_obtained">
                  
                  18 December 2023
                  
              </td>
          
          
                      
              <td id="K349SWW_next_action" class="case__next-action" headers="progress_later_next_actions">
                  
                  
                      
                              Consider assignment from<br>
                      
                              Rosie Brave<br>
                      
                  
                  
              </td>
          
          
                  </tr>
                  
              
                  
              
          
                  
                  <tr id="row_6231_actions" class="govuk-table__row case__actions">
                      <td colspan="6">
                        <div class="case__actions-wrapper">
                          <div class="case__left-hand-actions actions-spacing">
          
                              
          
                              
                              
              <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16" href="esrv-return-reason?work-item-id=6231" aria-label="return to e-serve" title="Return case K349SWW to DB2">Return to ESRV</a>
          
                              
          
                          </div>
          
                          <div class="case__right-hand-actions actions-spacing">
          
                              <form class="case__form" id="change_state_6231" action="change_state/6231?lr_ref_number=DT104671&amp;lr_work_ref=K349SWW" method="post" onsubmit="btn_await_lawyer_6231.disabled = true;
                                            btn_progress_now_6231.disabled = true;
                                            btn_progress_later_6231.disabled = true;" novalidate>
                                
                                  <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                                
                                
                                
          
                                  <input class="case__progress-code" id="hidden_value_progress_6231" type="hidden" name="activity_code" value="PROGRESS_NOW">
          
                                  <input id="hidden_value_progress_child_cases_6231" type="hidden" name="child_cases" value="0">
          
          
                              
                  <input id="btn_await_lawyer_6231" aria-label="Refer case K349SWW to a lawyer" type="hidden" name="Waiting_for_lawyer" class="case__hyperlink case__await_lawyer_btn
                                  govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/6231?lr_ref_number=DT104671&amp;lr_work_ref=K349SWW">          
         
          
                                  
              <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16" href="refer?lr_work_ref=K349SWW&amp;lr_ref_number=DT104671">
                Refer <span class="govuk-visually-hidden">case <abbr>K349SWW</abbr></span>
              </a>
          
          
                                  
                  <input aria-label="Move case K349SWW into your worklist" id="btn_progress_now_6231" type="submit" name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn govuk-!-font-size-16" value="Work on this">          
          
          
                                  
                  <input id="btn_progress_later_6231" aria-label="Progress case K349SWW later" type="hidden" name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Progress later">
          
          
                                  
              <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16" href="deferral-category-option?lr_work_ref=K349SWW&amp;lr_ref_number=DT104671&amp;client=">
                Defer <span class="govuk-visually-hidden">case <abbr>K349SWW</abbr></span>
              </a>
          
                              
          
                              
                                  
              <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="activity-history/6231?page_no=1&amp;return_to=worklist" id="link_activity_history_K349SWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
                View activity history <span class="govuk-visually-hidden">for <abbr>K349SWW</abbr></span>
              </a>
          
          
              <a href="#" class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
                More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N343QWW</abbr>. Opens in new tab.</span>
              </a>
          
                              
          
                              
                              </form>
                          </div>
                        </div>
                      </td>
                  </tr>
                  
              </tbody>
          
                  
              
          </table>
  
    </div>
  
  </div>


<script>

/*document.addEventListener('DOMContentLoaded', function () {

    var hmlrPreventDoubleClick2 = document.getElementById("main-content").querySelectorAll(".hmlr-wf-prevent-double-click2");
    if (hmlrPreventDoubleClick2 !== null) {

        hmlrPreventDoubleClick2.addEventListener('click', function (e) {
          const closestForm = document.getElementById("wrapper-div");
          if (!closestForm.classList.contains("hmlr-wf-form-already-submitted")) {//no class
            closestForm.classList.add("hmlr-wf-form-already-submitted");
          } else {
            e.preventDefault(); // prevent form submission
          }
        });

    }

}); */ 
  
/* ORIGINAL, with simple 'closest'
document.addEventListener('DOMContentLoaded', function () {

    var hmlrPreventDoubleClick = document.getElementById("main-content").querySelectorAll(".hmlr-wf-prevent-double-click");
    if (hmlrPreventDoubleClick !== null) {

      hmlrPreventDoubleClick.forEach(function (theBtn) {
        theBtn.addEventListener('click', function (e) {
          
          const closestForm = theBtn.closest("form");
          if (!closestForm.classList.contains("hmlr-wf-form-already-submitted")) {//no class
            closestForm.classList.add("hmlr-wf-form-already-submitted");
          } else {
            e.preventDefault(); // prevent form submission
          }

        });
      });

    }

  });  
  */ 

  document.addEventListener('DOMContentLoaded', function () {

    var hmlrPreventDoubleClick = document.getElementById("main-content").querySelectorAll(".hmlr-wf-prevent-double-click");
    if (hmlrPreventDoubleClick !== null) {

      // polyfill if browser does not support 'closest'
      /*if (!Element.prototype.closest) {
          Element.prototype.closest = function(selector) {
              var element = this;
              while (element) {
                  if (element.matches(selector)) return element;
                  element = element.parentElement;
              }
              return null;
          };
      } */    

      /* this is an alternative polyfill, doing the same thing but supports older browsers */
      /*if (!Element.prototype.closest) {
          Element.prototype.closest = function(selector) {
              var element = this;
              while (element) {
                  // Check if the element matches the selector
                  if (element.nodeType === 1 && 
                      (element.webkitMatchesSelector || element.mozMatchesSelector || element.msMatchesSelector || element.oMatchesSelector || element.matchesSelector).call(element, selector)) {
                      return element;
                  }
                  element = element.parentElement;
              }
              return null;
          };
      } */

      hmlrPreventDoubleClick.forEach(function (theBtn) {
        theBtn.addEventListener('click', function (e) {
          
          const closestForm = theBtn.closest("form");
          if (!closestForm.classList.contains("hmlr-wf-form-already-submitted")) {//no class
            closestForm.classList.add("hmlr-wf-form-already-submitted");
          } else {
            e.preventDefault(); // prevent form submission
          }

        });
      });

    }

  });    
</script>


{% endblock %}
