{% extends "layouts/wf_layout.html" %}

{% set pageName="Workflow New Designs root index" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "../",
    serviceName: "Workflow",
    serviceUrl: "../ui-designs/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-m">
      Full list: User-interface (<abbr>UI</abbr>) &amp; Progess Later (<abbr>PL</abbr>) designs 
    </h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-s">All links open in a new tab.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-s">
      The 3x widgets in <em><span class="govuk-!-font-weight-bold">current</span></em> <abbr>UI</abbr> designs
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-top-7 govuk-!-font-size-16">
      <li>
        <a href="/ui-design/pl/table-std-dynamic-sorting" class="govuk-link govuk-link--no-visited-state" target="_blank">With filters and sorting</a> Standard page width (960px)
      </li>
      <li>
        <a href="/ui-design/pl/table-std-dynamic-with-flagging" class="govuk-link govuk-link--no-visited-state" target="_blank">With flagging</a> Standard page width (960px)
      </li>       
      <li>
        <a href="/ui-design/tables/table-std-my-notes" class="govuk-link govuk-link--no-visited-state" target="_blank">With Show my notes</a> Standard page width (960px)
      </li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-s">
      The 3x widgets in <em><span class="govuk-!-font-weight-bold">new</span></em> <abbr>UI</abbr> designs
    </h2>

    <p class="govuk-body-s">Fully clickable prototype: Home, Progress Now, Progress Later and the sub-nav-filter options: Expedited, Referreed, Flagged pages. Increased page width (max-width 1100px).</p>

    <!-- 
      Darren: need to fix table col width(s) so that adding/removing flag does not affect the alignment of the content in the cols
    -->

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-top-7 govuk-!-font-size-16">
      <li>
        <a href="/ui-design/designs/ui-c-complex-1" class="govuk-link govuk-link--no-visited-state" target="_blank">New <abbr>UI</abbr></a> (nav with 3x widgets: filters/sorting, notes, flags)<br>

        <!--ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/ui-design/designs/ui-c-complex-1-grouped-by" class="govuk-link govuk-link--no-visited-state" target="_blank">New <abbr>UI</abbr><span class="govuk-visually-hidden"> alternative</span></a> (default ordering)
          </li>
        </ul-->        

      </li> 
    </ol>    

    <details class="govuk-details govuk-!-font-size-16 govuk-!-margin-top-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Additional assets for 'edge case' pages
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-8 govuk-!-font-size-16">
          <li>
            <a href="/ui-design/designs/ui-c-complex-2-multi" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Now - multi</a> <br>(Showing attached applications, example) 
          </li>
          <li>
            <a href="/ui-design/designs/ui-c-complex-2-obtain" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Now - no applications</a> <br>(No applications with obtain button) 
          </li>           
          <li>
            <a href="/ui-design/designs/ui-c-complex-2-obtain-filters" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Now - no applications &plus; filters</a> <br>(Showing obtain filters with obtain button) 
          </li>   
          <li>
            <a href="/ui-design/designs/ui-c-complex-2-moved" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Now - moved</a> <br>(Banner: you moved application to Progress Later) 
          </li>  
          <li>
            <a href="/ui-design/designs/ui-c-complex-2-added" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Now - added</a> <br>(Banner: you have added to your worklist) 
          </li>          
          <li>
            <a href="/ui-design/designs/ui-c-complex-2-added-multi" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Now - added multi</a> <br>(Banner: you added multi attached applications) 
          </li>                 
          <li>
            <a href="/ui-design/designs/ui-c-complex-2-noJS-banner" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Now - notes page refresh for none JavaScript fallback</a> <br>(Banner: My notes were save) 
          </li>          
        </ul>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li>
            <a href="/ui-design/designs/ui-c-complex-1-multi" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Later - multi</a> <br>(Showing attached applications, example) 
          </li>          
          <li>
            <a href="/ui-design/designs/ui-c-complex-1-deferred" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Later - deferred items</a> <br>(Extra highlight on the row)
          </li>          
          <li>
            <a href="/ui-design/designs/ui-c-complex-1-grouped-by" class="govuk-link govuk-link--no-visited-state" target="_blank">Progress Later - grouped by</a> <br>(Example of grouped by)
          </li>

          
        </ul>
      </div>
    </details>    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">      

    <h2 class="govuk-heading-s">
      Hybrid layout: current <abbr>UI</abbr> designs set within new navigation frame
    </h2>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-top-7 govuk-!-font-size-16">
      <li>
        <a href="/ui-design/tables/table-std-dynamic-with-nav" class="govuk-link govuk-link--no-visited-state" target="_blank">
          Current list table design with side nav
        </a> Standard page width (960px)  
        
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/ui-design/tables/std-table-with-nav-wide-pg" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Current list table design with side nav: <em>wider</em> page
            </a> <br>Increased page width (max-width 1100px)
          </li>
          <li>
            <a href="/ui-design/pl/std-table-dynamic-with-nav-sorting-wide-pg" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Current list table design with side nav (with filters/sorting): <em>wider</em> page
            </a> <br>Increased page width (max-width 1100px)
          </li>
         
        </ul>

      </li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-s">
      Rejected: New <abbr>UI</abbr> layout with new navigation frame: variations
    </h2>

    <details class="govuk-details govuk-!-font-size-16 govuk-!-margin-top-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          New list table design (with left nav), using filter radio buttons
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul>
          <li>
            <a href="/ui-design/designs/ui-b-complex" class="govuk-link govuk-link--no-visited-state" target="_blank">New list table design (with left nav) and radio button filters</a> <br>(Split table rows)
          </li> 
          <li>
            <a href="/ui-design/designs/ui-a-standard" class="govuk-link govuk-link--no-visited-state" target="_blank">New list table design (with left nav) and radio button filters</a> <br>(Horizontal table rows)</a> 
          </li>
          <li>
            <a href="/ui-design/designs/ui-a-header-aligned" class="govuk-link govuk-link--no-visited-state" target="_blank">New list table design (with left nav) and radio button filters</a> <br>(Horizontal table rows with aligned left nav, higher)
          </li>       
        </ul> 

      </div>
    </details>

    <details class="govuk-details govuk-!-font-size-16 govuk-!-margin-top-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Rejected: experimental designs 
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/ui-design/tables/new-table-with-nav" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav). Standard page width (960px) 
            </a> <br>Horizontal table rows.  
          </li>          
          <li>
            <a href="/new-designs/design-01/design-01-applications" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): showing selection of variations</a> Standard page width (960px). &quot;Applications&quot; used, with table sub-header (caption)           
          </li> 
          <li>
            <a href="/ui-design/tables/new-table-with-nav-wide-pg" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): wider page
            </a> max-width 1100px (not required); horizontal table rows          
          </li> 
          <li>
            <a href="/ui-design/tables/new-table-with-nav-wide-pg-2" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): wider page. New header layout - menu higher
            </a> max-width 1100px           
          </li>
          <li>
            <a href="/ui-design/tables/new-table-with-nav-wide-pg-3" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): wider page. New header layout - menu higher - with filters/sorting
            </a> max-width 1100px           
          </li>                                           
        </ul>
      </div>
    </details>

    <details class="govuk-details govuk-!-font-size-16">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Rejected: abandoned designs (work in progress)
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/ui-design/#" class="govuk-link govuk-link--no-visited-state" target="_blank"></a> 
              New list design with side nav and filters and sorting
                         
          </li>
          <li>
            <a href="/ui-design/#" class="govuk-link govuk-link--no-visited-state" target="_blank"></a> 
              New list design with side nav and filters and sorting (and Show my notes)
          </li> 
          <li>
            <a href="/ui-design/#" class="govuk-link govuk-link--no-visited-state" target="_blank"></a> 
              New list design with side nav and filters and sorting (and Show my notes); and reflow option
          </li>                   
        </ul>

        <pre>
          wide new flushed layout with sorting select
          /ui-design/tables/new-table-with-nav-wide-pg-3
    
          wide std layout
          /ui-design/tables/new-table-with-nav-wide-pg
    
    
          wide std layout with sorting select 
          /ui-design/tables/new-table-nav-wide-std-pg-3
    
    
          wide std layout with sorting select PLUS table cells split (one row) and with Notes
          /ui-design/tables/new-table-nav-wide-std-pg-3-split-cell
        </pre>            
      </div>
    </details>       

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-s">
      Examples of table reflow
    </h2>

    <p class="govuk-body-s">Resize the browser window dimentions to reflow the page: table headers swap from top to left</p>

    <ol class="govuk-list govuk-list--bullet govuk-!-margin-top-7 govuk-!-font-size-16">
      <li>
        
        <a href="/ui-design/tables/table-std-dynamic" class="govuk-link govuk-link--no-visited-state" target="_blank">
         Current list table design with dynamic reflow
        </a> Standard page width (960px)
        
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/ui-design/tables/table-std-gds-dynamic" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Table reflow example with standard <abbr>GDS</abbr> table
            </a> Standard page width (960px)           
          </li>
          <li>
            <!--a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">.</a-->
            Current list table design with dynamic reflow: &plus; option/button (for user to set as a preference).
          </li>           
        </ul>

      </li>
         
    </ol>
    

  </div>
</div>

{% endblock %}
