{% extends "layouts/wf_layout.html" %}

{% set pageName="Workflow New Designs root index" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "../",
    serviceName: "Workflow",
    serviceUrl: "../ui-designs/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-m">
      User-interface (<abbr>UI</abbr>) &amp; Progess Later (<abbr>PL</abbr>) designs 
    </h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p class="govuk-body">All links open in a new tab:</p>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-top-7 govuk-!-font-size-16">
      <li>
        <a href="/ui-design/pl/table-std-dynamic-sorting" class="govuk-link govuk-link--no-visited-state" target="_blank">
          With filters and sorting
        </a> Std width 960px
      </li>
      <li>
        <a href="/ui-design/tables/table-std-my-notes" class="govuk-link govuk-link--no-visited-state" target="_blank">
          With my notes
        </a> Std width 960px
      </li>
      <li>
        <a href="/ui-design/pl/table-std-dynamic-with-flagging" class="govuk-link govuk-link--no-visited-state" target="_blank">
          With flagging
        </a> Std width 960px
      </li>  
      <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">.</a>

      </li>          
    </ol>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-s">
      Examples of table reflow
    </h2>

    <ol class="govuk-list govuk-list--bullet govuk-!-font-size-16">
      <li>
        
        <a href="/ui-design/tables/table-std-dynamic" class="govuk-link govuk-link--no-visited-state" target="_blank">
         Current list table design with dynamic reflow
        </a> Std width 960px
        
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/ui-design/tables/table-std-gds-dynamic" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Table reflow example with standard <abbr>GDS</abbr> table
            </a> Std width 960px              
          </li>
          <li>
            <!--a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">.</a-->
              Current list table design with dynamic reflow: &plus; option/button
          </li>           
        </ul>

      </li>
         
    </ol>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-top-7 govuk-!-font-size-16">
      <li>
        <a href="/ui-design/tables/table-std-dynamic-with-nav" class="govuk-link govuk-link--no-visited-state" target="_blank">
          Current list table design with side nav
        </a> Std width 960px
        
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/ui-design/tables/std-table-with-nav-wide-pg" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Current list table design with side nav: wider page
            </a> max-width 1100px
          </li>
          <li>
            <a href="/ui-design/pl/std-table-dynamic-with-nav-sorting-wide-pg" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Current list table design with side nav (with filters/sorting): wider page
            </a> max-width 1100px
          </li>
         
        </ul>

      </li>
      <li>
        
        <a href="/ui-design/tables/new-table-with-nav" class="govuk-link govuk-link--no-visited-state" target="_blank">
          New list table design (with left nav)
        </a> Best. Std width 960px

        <!--and new table design without side nav?-->
        
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/new-designs/design-01/design-01-applications" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): showing selection of variations<!--(without dynamic reflow)--> <!-- redo with edited sass file --></a> Std width 960px           
          </li>          
          <li>
            <a href="/ui-design/tables/new-table-with-nav-wide-pg" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): wider page
            </a> max-width 1100px (not required)          
          </li> 
          <li>
            <a href="/ui-design/tables/new-table-with-nav-wide-pg-2" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): wider page. New header layout
            </a> max-width 1100px           
          </li>
          <li>
            <a href="/ui-design/tables/new-table-with-nav-wide-pg-3" class="govuk-link govuk-link--no-visited-state" target="_blank">
              New list table design (with left nav): wider page. New header layout with filters/sorting
            </a> max-width 1100px           
          </li>                              

          <li>
            <a href="/ui-design/#" class="govuk-link govuk-link--no-visited-state" target="_blank"></a> 
              New list design with side nav and filters and sorting
                         
          </li>
          <li>
            <a href="/ui-design/#" class="govuk-link govuk-link--no-visited-state" target="_blank"></a> 
              New list design with side nav and filters and sorting (and my notes)
          </li> 
          <li>
            <a href="/ui-design/#" class="govuk-link govuk-link--no-visited-state" target="_blank"></a> 
              New list design with side nav and filters and sorting (and my notes); and reflow option
          </li>                   
        </ul>

      </li>
         
    </ol>    

    <pre>
      wide new flushed layout with sorting select
      /ui-design/tables/new-table-with-nav-wide-pg-3



      wide std layout
      /ui-design/tables/new-table-with-nav-wide-pg


      wide std layout with sorting select 
      /ui-design/tables/new-table-nav-wide-std-pg-3







    </pre>


    <!--hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"-->

  </div>
</div>

{% endblock %}
