//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 
// These styles (below) will only impact layout: index-wf (not wf_layout_legacy or main).

/*code {
    font-family: monospace !important;
    font-weight: normal;
    font-size: 1.1rem;
    background-color: antiquewhite;
}*/

body .govuk-header__container {
    border-bottom-color: $hmlr-brand-colour;
    margin-bottom: -9px !important; 
}

//using a grey pg bg means the faux form elements require a solid bg colour. DH
.govuk-radios__label:before, 
.govuk-checkboxes__label:before {
    background-color: govuk-colour("white");
} 

.hmlr-link--min-width-48 {
    min-width: 48px;
}

.hmlr-wf {//class added to div.govuk-width-container
@import "./includes/hmlr-wf-mixins";
@import "./includes/hmlr-wf-main";
@import "./includes/hmlr-wf-header-logo-link";
@import "./includes/hmlr-wf-top-nav";
@import "./includes/hmlr-wf-left-nav";
}
