//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 
// These styles (below) will only impact layout: index-wf (not wf_layout_legacy or main).

/*code {
    font-family: monospace !important;
    font-weight: normal;
    font-size: 1.1rem;
    background-color: antiquewhite;
}*/

body .govuk-header__container {
    border-bottom-color: $hmlr-brand-colour;
    margin-bottom: -9px !important; 
}

//using a grey pg bg means the faux form elements require a solid bg colour. DH
.govuk-radios__label:before, 
.govuk-checkboxes__label:before {
    background-color: govuk-colour("white");
} 

.hmlr-link--min-width-48 {
    min-width: 48px;
}

.hmlr-wf {//class added to div.govuk-width-container
@import "./includes/hmlr-wf-mixins";
@import "./includes/hmlr-wf-main";
@import "./includes/hmlr-wf-header-logo-link";
@import "./includes/hmlr-wf-top-nav";
@import "./includes/hmlr-wf-left-nav";
@import "./includes/hmlr-wf-list-panels";
@import "./includes/hmlr-wf-tables";
@import "./includes/hmlr-wf-dynamic-behaviours";
}

.hmlr-wf-form-grouping {
    button, input[type='submit'], input[type='button'] {
        margin: govuk-spacing(0) govuk-spacing(0) govuk-spacing(2) govuk-spacing(0);
    }

    /*& > div {
        display: inline-block; 
    }*/ 

    div[class$="checkboxes--small"] {
        label[class$="font-size-16"] {
            line-height: 1.6rem !important;
        }
    }

    position: relative;
    width: fit-content; 
    border: 1px solid $govuk-border-colour;
    padding: govuk-spacing(3) govuk-spacing(3) (govuk-spacing(2) - 2px) govuk-spacing(3);  

    /*.hmlr-wf-form-grouping__group {display: flow-root; }*/

    &.hmlr-wf-form-grouping--width-01 {
        min-width: 363px; 
    }
    &.hmlr-wf-form-grouping--width-02 {
        min-width: 33%;
    }     
    &.hmlr-wf-form-grouping--width-03 {
        min-width: 50%;
    } 
    &.hmlr-wf-form-grouping--width-04 {
        min-width: 66%;
    }  
    /*&.hmlr-wf-form-grouping--full-width {
        width: 100%; 
    }*/      

    .hmlr-wf-from-grouping__header {
        background-color: govuk-colour("white"); 
        color: $govuk-secondary-text-colour;
        font-weight: normal; 
        display: inline-block; 
        margin: govuk-spacing(0); 
        margin-left: - govuk-spacing(1); 
        padding: 0 govuk-spacing(1);         
        position: absolute; 
        top: - (govuk-spacing(3) + 1px); 

        &.govuk-\!-font-size-16 { 
            top: - (govuk-spacing(2) + 1px);  
        }        

        &.govuk-\!-font-size-19 {
            top: - govuk-spacing(3);  
        }
    }
} 