{% extends "layouts/wf_layout_legacy_wcag_updates-new-autocomplete.html" %}

{% set pageName="Index template example for legacy designs" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
        
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Manage assigned work
      </li>
  </ol>

</div>
{% endblock %}

{% block content %}
<!--div class="" id="event-name-hint">Enter a name</div> 

<input aria-describedby="event-name-hint"id="name" name="input-autocomplete" placeholder="" type="text"-->


<style>
/* legacy: prototype out of sync with live. these styles are for the prototype to mimic live/preview: starts */
.hmlr-wf-button-auto-complete#search_button {max-width: 40px !important;}
@media (max-width: 40.0625em) {
  #assign_button {margin-top: 10px;width: auto;}
}
.govuk-button.hmlr-wf-button-auto-complete {top: -40px;}
.js-enabled .govuk-button.hmlr-wf-button-auto-complete {top: auto;}
body:not(.js-enabled) 
.autocomplete-wrapper {display: none;}




/* span overlays typed text over the input field */
.autocomplete__wrapper .autocomplete__status + span {/* fix for fuzzy text */
  width: 100%;
  position: absolute; 
  top: 0; 
  left: -0.5px;
  left: .03125rem;
}

/*
.autocomplete__input.autocomplete__input--default {
  text-indent: -0.5px;
  text-indent: .03125rem;
}
.autocomplete__input.autocomplete__input--default.autocomplete__input--focused {
  xxxbackground-color: #fff; 
}

ddddiv[aria-expanded="true"] {
  background-color: lime;
  color: red;
  border: 3px solid blue; 
}
  */

</style>

<div id="manage_work">
  <form action="/worklist-ui/manage-assigned-work"  method='post' id="manage_form" novalidate>


    
      <input name="csrf_token" type="hidden" value="Ijc5MDRlYjA1ODc2ZTJmZjJjMTc4YWFkMDQzMjdkMTgzZjBjMTE1ZWIi.ZaaQpA.io0GFcT5bEQTcPXAf6unUtECieg">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              Manage assigned work
            </h1>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half" data-box>


          <div class="govuk-form-group">  

            <label class="manage-labels govuk-label govuk-!-font-weight-bold" for="name">
              Find a user who can obtain applications
            </label>

            <!--noscript>
              <div class="manage-bar search-container">
                  <input class="search-bar manage-search govuk-input govuk-!-padding-left-0" id="name" name="name" size="30" type="text" value="">
              </div>
            </noscript-->

            <input class="hidden-result" id="caseworker_id_from" name="caseworker_id_from" type="hidden" value=""> 
            <input class="hidden-name" id="caseworker_name_from" name="caseworker_name_from" type="hidden" value="">

            <div class="manage-bar search-container">
              <div id="tt-autoselect" class="autocomplete-wrapper search-bar manage-search govuk-!-padding-left-0"></div>
            </div>

<!--div aria-labelledby="" id="name__assistiveHint">test</div-->
            <input class="search-button govuk-button govuk-!-margin-bottom-0 hmlr-wf-button-auto-complete" type="submit" id="search_button" value="Search" style="min-width: 40px; max-height: 38px;">

          </div>

        </div>

        <div class="govuk-grid-column-one-half" data-box>

          <div class="govuk-form-group">
            <label class="manage-labels govuk-label govuk-!-font-weight-bold" for="assignee">Assign to a user who can obtain applications</label>
          
            <!--noscript>
              <div class="manage-bar search-container">
                <input class="search-bar manage-search govuk-input" id="assignee" name="assignee" size="30" type="text" value="">
              </div>              
            </noscript-->
          
            <input class="hidden-result" id="caseworker_id_to" name="caseworker_id_to" type="hidden" value=""> <input class="hidden-name" id="caseworker_name_to" name="caseworker_name_to" type="hidden" value="">

            <div id="new-me-wrapper"><!-- <<<<< this is a new wrapper div to add -->

                <!-- *** old HTML remains unchange here: starts *** -->
                <div class="manage-bar search-container">
                  <div id="tt2-autoselect" class="autocomplete-wrapper search-bar manage-search govuk-!-padding-left-0 govuk-!-margin-bottom-1"></div>
                </div>

                <input class="wf-button govuk-button govuk-!-margin-bottom-0 hmlr-wf-button-auto-complete" type="submit" id="assign_button" value="Assign" formaction="/worklist-ui/reassign">                
                <!-- *** old HTML remains unchange here: ends *** -->

                <div id="new-me-checkbox">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="me" name="me" type="hidden" value="Darren whatever Harridence ID">
                      <label class="govuk-label govuk-checkboxes__label" for="me">
                        Assign to me
                      </label>
                    </div>
                  </div>
                </div>
                <!--input id="remember_assignee" name="remember_assignee" type="hidden"-->
                <script>
                  document.addEventListener('DOMContentLoaded', () => {//init this code

                    const theMeCheckbox = document.getElementById('me');

                    if (theMeCheckbox) {//first check the pg has this checkbox: saves running the code unnecessarily
                      const usersName = 'Darren Harridence (Darren.Harridence ), Information Systems';//caseworker needs to be written in the pg HTML output
                      const newMeWrapper = document.getElementById('new-me-wrapper');
                      const assignToInput = document.getElementById('assignee');
                      const assignListBox = document.getElementById('assignee__listbox');

                      theMeCheckbox.type = 'checkbox';
                      theMeCheckbox.value = usersName;

                      theMeCheckbox.addEventListener('change', () => {
                        const isChecked = theMeCheckbox.checked;

                        assignToInput.toggleAttribute('disabled', isChecked);
                        assignToInput.classList.toggle('now-disabled', isChecked);
                        assignToInput.value = isChecked ? usersName : '';

                        newMeWrapper.classList.toggle('hide-assignee__listbox', isChecked);

                        setTimeout(() => {
                          assignToInput.setAttribute('aria-expanded', 'false');
                          assignListBox.classList.remove('autocomplete__menu--visible');
                          assignListBox.classList.add('autocomplete__menu--hidden');//remove default 
                        }, 500);//500 ms = 0.5 sec

                        /* if we use a hidden input to submit a value, use this code. Starts */
                        //const caseworkerNameID = 'whatever caseworker data is sent';//the logged in caseworker. const //usersName?
                        //const rememberAssignee = document.getElementById('remember_assignee');//the hidden input
                        //rememberAssignee.value = caseworkerNameID; // Add the value
                        /* if we use a hidden input to submit a value, use this code. Ends */

                        if (!isChecked) {//un-check
                          //rememberAssignee.value = ''; //And this code. Remove the value from the hidden input

                          //Reset and hide the assignListBox
                          assignToInput.blur();
                          assignListBox.innerHTML = '';
                        }
                      });
                    }

                  });//end init
                </script>
                <style>
                  #new-me-wrapper.hide-assignee__listbox #assignee__listbox,
                  #new-me-checkbox {
                    display: none;
                  }
                  .js-enabled #new-me-checkbox {
                    display: block;
                  }




                  /*#new-me-wrapper.hide-assignee__listbox .now-disabled {
                    visibility: hidden;
                  }*/
                  /*#new-me-wrapper.hide-assignee__listbox .autocomplete__hint {
                    border: 2px solid rgba(11, 12, 12, 0.1); 
                  }*/
                </style>                
            </div>
              
              
          </div>

        </div>
    </div>

    <!--div id="results-container"></div-->      
    
  </form>
</div>




<!--div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      What is the name of the event?
    </label>
  </h1>
  <div id="event-name-hint" class="govuk-hint">
    The name you’ll use on promotional material
  </div>
  <input class="govuk-input" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
</div-->
<!--script>
window.addEventListener('load', function() {
  setTimeout(function() {
    const form = document.getElementById('manage_form');
    if (form) {
      const nameHint = document.createElement('div');
      nameHint.className = 'govuk-visually-hidden';
      nameHint.id = 'name__assistiveHint';
      nameHint.textContent = 'Enter a name';

      const assigneeHint = document.createElement('div');
      assigneeHint.className = 'govuk-visually-hidden';
      assigneeHint.id = 'assignee__assistiveHint';
      assigneeHint.textContent = 'Enter a name';

      // Insert at the beginning of the form
      form.insertBefore(assigneeHint, form.firstChild);
      form.insertBefore(nameHint, form.firstChild);
    }
  }, 2000); // 2-second delay
});

</script-->

<script>
/*document.addEventListener('DOMContentLoaded', function () {
  var assigneeElement = document.getElementById('assignee');
  if (assigneeElement) {
    assigneeElement.removeAttribute('aria-describedby');
    assigneeElement.removeAttribute('aria-owns');
    assigneeElement.removeAttribute('aria-autocomplete');
    assigneeElement.removeAttribute('role');
  }
});*/

/*setTimeout(function () {
  document.querySelectorAll('*').forEach(function (el) {
    Array.from(el.attributes).forEach(function (attr) {
      if (attr.name.startsWith('aria-')) {
        el.removeAttribute(attr.name);
      }
    });
  });
}, 0);*/

/*setTimeout(function () {
  const ariaAttributesToRemove = ['aria-describedby', 'aria-label', 'aria-owns', 'aria-autocomplete','role']; // Add or remove as needed

  const main = document.querySelector('main');
  if (main) {
    main.querySelectorAll('*').forEach(function (el) {
      ariaAttributesToRemove.forEach(function (attr) {
        if (el.hasAttribute(attr)) {
          el.removeAttribute(attr);
        }
      });
    });
  }
}, 500);*/

/*setTimeout(function () {
  const allowedAriaAttributes = new Set([
    'aria-expanded',
    'aria-describedby',
    'aria-label',
    'aria-owns',
    'aria-autocomplete',
    'aria-atomic',
    'aria-live'//,
    //'aria-labelledby'
  ]);

  const main = document.querySelector('main');
  if (main) {
    main.querySelectorAll('*').forEach(function (el) {
      Array.from(el.attributes).forEach(function (attr) {
        if (attr.name.startsWith('aria-') && !allowedAriaAttributes.has(attr.name)) {
          el.removeAttribute(attr.name);
        }
      });
    });
  }
}, 500);*/

/*setTimeout(function () {
  const ariaAttributes = new Set();

  document.querySelectorAll('*').forEach(function (el) {
    Array.from(el.attributes).forEach(function (attr) {
      if (attr.name.startsWith('aria-')) {
        ariaAttributes.add(attr.name);
      }
    });
  });

  if (ariaAttributes.size > 0) {
    alert('ARIA attributes found:\n\n' + Array.from(ariaAttributes).join('\n'));
  } else {
    alert('No ARIA attributes found on the page.');
  }
}, 1000);*/



/*setTimeout(function () {
  ['name', 'assignee'].forEach(function (id) {
    var el = document.getElementById(id);
    if (el) {
      el.removeAttribute('aria-describedby');
    }
  });
}, 500);*/

/*setTimeout(function () {
  document.querySelectorAll('div.search-container').forEach(function (container) {
    container.querySelectorAll('[aria-labelledby]').forEach(function (el) {
      el.removeAttribute('aria-labelledby');
    });
  });
}, 1000);*/



const manageForm = document.getElementById('manage_form');//ID on the autocomplete form tag
if (manageForm) {
  setTimeout(function () {

    // fix may not be needed after upgrading autocomplete version
    const ids = ['caseworker_from-select', 'caseworker_to-select'];

    ids.forEach(id => {//fix for autocomplete bug
      const element = document.getElementById(id);
      if (element) {
        const label = document.createElement('label');
        label.textContent = 'List';
        label.setAttribute('for', id);
        label.hidden = true;
        element.parentNode.insertBefore(label, element);
      }
    });

    // fix may not be needed after upgrading autocomplete version
    manageForm.querySelectorAll('.search-container').forEach(function (container) {
      container.querySelectorAll('[aria-labelledby]').forEach(function (el) {
        el.removeAttribute('aria-labelledby');//fix for autocomplete bug v3.+
      });
    });
  }, 500);
}


</script>


{% endblock %}
