{% extends "layouts/wf_layout_legacy_wcag_updates-new-autocomplete.html" %}

{% set pageName="Index template example for legacy designs" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
        
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Manage assigned work
      </li>
  </ol>

</div>
{% endblock %}

{% block content %}

<style>
/* legacy: prototype out of sync with live. these styles are for the prototype to mimic live/preview: starts */
.hmlr-wf-button-auto-complete#search_button {max-width: 40px !important;}
@media (max-width: 40.0625em) {
  #assign_button {margin-top: 10px;width: auto;}
}
.govuk-button.hmlr-wf-button-auto-complete {top: -40px;}
.js-enabled .govuk-button.hmlr-wf-button-auto-complete {top: auto;}
body:not(.js-enabled) 
.autocomplete-wrapper {display: none;}
</style>

<div id="manage_work">
  <form action="/worklist-ui/manage-assigned-work"  method='post' id="manage_form" novalidate>
    
      <input name="csrf_token" type="hidden" value="Ijc5MDRlYjA1ODc2ZTJmZjJjMTc4YWFkMDQzMjdkMTgzZjBjMTE1ZWIi.ZaaQpA.io0GFcT5bEQTcPXAf6unUtECieg">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              Manage assigned work
            </h1>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half" data-box>


          <div class="govuk-form-group">  

            <label class="manage-labels govuk-label govuk-!-font-weight-bold" for="name">
              Find a user who can obtain applications
            </label>
          
            <noscript>
              <div class="manage-bar search-container">
                  <input class="search-bar manage-search govuk-input govuk-!-padding-left-0" id="name" name="name" size="30" type="text" value="">
              </div>
            </noscript>

            <input class="hidden-result" id="caseworker_id_from" name="caseworker_id_from" type="hidden" value=""> 
            <input class="hidden-name" id="caseworker_name_from" name="caseworker_name_from" type="hidden" value="">

            <div class="manage-bar search-container">
              <div id="tt-autoselect" class="autocomplete-wrapper search-bar manage-search govuk-!-padding-left-0"></div>
            </div>
            <input class="search-button govuk-button govuk-!-margin-bottom-0 hmlr-wf-button-auto-complete" type="submit" id="search_button" value="Search" style="min-width: 40px; max-height: 38px;">

          </div>

        </div>

        <div class="govuk-grid-column-one-half" data-box>

          <div class="govuk-form-group">
            <label class="manage-labels govuk-label govuk-!-font-weight-bold" for="assignee">Assign to a user who can obtain applications</label>
          
            <noscript>
              <div class="manage-bar search-container">
                <input class="search-bar manage-search govuk-input" id="assignee" name="assignee" size="30" type="text" value="">
              </div>              
            </noscript>
          
            <input class="hidden-result" id="caseworker_id_to" name="caseworker_id_to" type="hidden" value=""> <input class="hidden-name" id="caseworker_name_to" name="caseworker_name_to" type="hidden" value="">

            <div id="new-me-wrapper">

                <!-- *** old HTML remains unchange here: starts *** -->
                <div class="manage-bar search-container">
                  <div id="tt2-autoselect" class="autocomplete-wrapper search-bar manage-search govuk-!-padding-left-0 govuk-!-margin-bottom-1"></div>
                </div>
                <input class="wf-button govuk-button govuk-!-margin-bottom-0 hmlr-wf-button-auto-complete" type="submit" id="assign_button" value="Assign" formaction="/worklist-ui/reassign">
                <!-- *** old HTML remains unchange here: ends *** -->

                <div id="new-me-checkbox">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="me" name="me" type="hidden" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="me">
                        Assign to me
                      </label>
                    </div>
                  </div>
                </div>

                <script>
                  document.addEventListener('DOMContentLoaded', () => {
                    const usersName = 'Darren Harridence';
                    const newMeWrapper = document.getElementById('new-me-wrapper');
                    const assignToInput = document.getElementById('assignee');
                    const assignListBox = document.getElementById('assignee__listbox');
                    const theMeCheckbox = document.getElementById('me');

                    if (theMeCheckbox) {
                      theMeCheckbox.type = 'checkbox';
                      theMeCheckbox.value = usersName;

                      theMeCheckbox.addEventListener('change', () => {
                        const isChecked = theMeCheckbox.checked;

                        assignToInput.toggleAttribute('disabled', isChecked);
                        assignToInput.classList.toggle('now-disabled', isChecked);
                        assignToInput.value = isChecked ? usersName : '';

                        newMeWrapper.classList.toggle('hide-assignee__listbox', isChecked);

                        if (!isChecked) {
                          assignToInput.blur();

                          // Reset and hide the assignListBox
                          assignListBox.classList.remove('autocomplete__menu--visible');
                          assignListBox.classList.add('autocomplete__menu--hidden');
                          assignListBox.innerHTML = '';
                        }

                        // assignToInput.setAttribute('placeholder', isChecked ? 'Disabled' : '');
                      });
                    }
                  });
                </script>
                <style>
                  #new-me-wrapper.hide-assignee__listbox #assignee__listbox,
                  #new-me-checkbox {
                    display: none;
                  }
                  .js-enabled #new-me-checkbox {
                    display: block;
                  }
                </style>                
            </div>
              
              
          </div>

        </div>
    </div>

    <!--div id="results-container"></div-->      
    
  </form>
</div>



{% endblock %}
