{% extends "layouts/wf_layout.html" %}

{% set pageName="{{ serviceName }} IA and UI work" %}

{% block content %}
    
<div class="govuk-grid-row hmlr-min-height-header-sm">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Workflow <span class="govuk-heading-l govuk-!-font-weight-regular govuk-!-display-inline">&dash; lorem ipsum centreitta</span>
    </h1>

    <p class="govuk-body hmlr-secondary-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique quae enim eius saepe.
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>      

</div>


<div class="govuk-grid-row xxxhmlr-full-height">
  <!--nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0 xxxhmlr-full-height__col">

    <a href="#page-content" class="govuk-skip-link hmlr-skip-link">
      Skip to the main content
    </a>
    
    {% include "../includes/inc_left-nav-01.html" %}
    
  </nav-->

  <section class="govuk-grid-column-three-quaters" id="page-content" role="region">

    <!--Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde pariatur deserunt atque fugiat. Ipsam architecto distinctio, et, dignissimos repellendus atque sed aliquam perferendis error, perspiciatis consequatur quas a odio unde!-->

  </section>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  </div>
</div>
{% endblock %}
