{% extends "layouts/wf_layout_legacy.html" %}

{% block pageTitle %}
You need permission to access this service
{% endblock %}

{% block beforeContent %}

{#
    <!-- extra content before the Main tag goes here ... -->
#}
<style>
  .hmlr-wf-lowercase {
    text-transform: lowercase;
  }
  .hmlr-wf-lowercase abbr {
    text-transform: none;
  }  
</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">
          You need permission to access this service
        </h1>
        
        <p class="govuk-body">
          You can <a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">request access through 4me (opens in new tab)</a>.
        </p>

        <p class="govuk-body govuk-!-margin-top-9">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Go to Homepage</a>
        </p>

    </div>

</div>
{% endblock %}