ul.hmlr-left-nav {

    &.govuk-list li a.govuk-link.govuk-link--no-visited-state {
      font-family: "GDS Transport", arial, sans-serif !important;
      -webkit-font-smoothing: antialiased; 
    }

    padding: 0;
  
    ul.govuk-list {
      margin-top: 0;
    }
  
    & > li.hmlr-left-nav__active, 
    & > li.hmlr-left-nav__active--child {
      ul {
        padding-left: govuk-spacing(7);//was 6. (6 = left aligned)
      }
    }
  
    li {
      margin-bottom: 0;
      padding: 8px 0 5px;
      @include hmlr-font-size($s: 17px, $l: 1.2);
      @include word-wrap; 

      span {
        font-weight: normal;
      }
  
      ul {
        padding-bottom: govuk-spacing(1); 
        padding-left: govuk-spacing(4);
        margin-bottom: 0; 

        li { /* no .hmlr-left-nav__active--child required at this child level .hmlr-left-nav__active*/
          @include menu-inset-anchors-bullets; 
          @include hmlr-font-size($s: 16px, $l: 1.2);
          border-left: none !important;
          margin-left: govuk-spacing(0); 
          padding-bottom: govuk-spacing(0); 

          a {
            margin-left: 0; 
          } 
        }
      }
  
      a {
        text-decoration: none !important;
        text-underline-offset: .1em;
  
        &:hover {
          // styles supersede by gds upgrade to 4.2
          text-decoration: underline !important;
          text-decoration-thickness: .1875rem !important;
          text-decoration-thickness: .15em !important;
          -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
          -webkit-text-decoration-skip: none;
          text-decoration-skip: none;
        }
  
        &:focus {
          text-decoration-thickness: 0 !important;
          text-decoration: none !important;
        }
  
        span {
          font-size: 90%;
        }
      }
    }

}  

.hmlr-left-nav__active, 
.hmlr-left-nav__active--child {
    ul {
      padding-left: govuk-spacing(6);
    }

    & > a {
      margin-left: govuk-spacing(2);
    }

    display: block;
    margin-left: - govuk-spacing(2) - 4;
    border-left: 4px solid $govuk-brand-colour; //$hmlr-brand-colour
}

.hmlr-left-nav__active {
  & > a {
    font-weight: bold; 
  }
}
