  /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
table.hmlr-table-worklist-fonts {   
	
	/*
		add class 'hmlr-table-worklist-fonts' to the table tag
		change mth names to short 3 digets
		remove 'case' classes
		change both 'govuk-heading-l' to 'govuk-heading-m'
		add a footer to the PL list (when there are 6 or more cases in the PL list)
	*/


	thead, tfoot {

		@include govuk-media-query($from: desktop){
			th {
				@include govuk-font($size: 16, $weight: bold);
			}

			th:nth-child(1) {
				width: auto;
			}
			th:nth-child(2) {
				width: auto;
			}
			th:nth-child(3) {
				width: 15%;
			}
			th:nth-child(4) {
				width: 25%;
			}
			th:nth-child(5) {
				width: auto;
			}
			th:nth-child(6) {
				width: 20%;
			}															
		}
	}

	tbody {
		vertical-align: top; 
		border-top: 2px solid $govuk-input-border-colour; 
		border-bottom: 2px solid  $govuk-input-border-colour;

		& + tbody {
			border-bottom: 2px solid  $govuk-input-border-colour;
		}	

		input.govuk-button {
			margin-bottom: govuk-spacing(0);
		}
		

		@include govuk-media-query($from: desktop){
			tr {
				td {
					@include govuk-font($size: 16); 
					padding: govuk-spacing(3) govuk-spacing(2) govuk-spacing(2) govuk-spacing(0);

					span {
						@include govuk-font($size: 16);
					}
				}

				/*&:last-child td {
					padding: govuk-spacing(0) govuk-spacing(1) govuk-spacing(0) govuk-spacing(0);
				}*/

				.case__actions-wrapper {
					padding: govuk-spacing(0);
				}
				.case__left-hand-actions {
					margin-bottom: govuk-spacing(1);
				}
			}

			tr:first-child {
				td:nth-child(3) {
					div {
						font-size: 90%;
					}
				}
			}
		}

		td strong {
			@include govuk-font($size: 16, $weight: bold);
			
			&.govuk-tag-expedite {
				margin-top: govuk-spacing(1); 

				color: govuk-colour("white");
				background-color: govuk-colour("blue");
				text-transform: uppercase;
				font-size: 80%;
				line-height: 1.2;
				padding-top: govuk-spacing(1) + 1;
				padding-bottom: govuk-spacing(1) - 1;
			}
		}
	}





    /*@media only screen and (max-width: 894px), (min-device-width: 902px) and (max-device-width: 1024px)  {

		&::after, 
		tr::after, 
		tr td::after {
			content: "";
			clear: both;
			display: table;
		}
    

        &, thead, tbody, th, td, tr {
            display: block;
        }


		thead tr {
			position: absolute; 
			top: -9999px;
		}

		tbody {
			border-top: none;
    		padding-top: govuk-spacing(2);

			tr:last-child td {
				border-bottom: none !important;
			}

			tr th[scope="row"]:first-child {
				padding-top: govuk-spacing(6); 
				border-bottom: 2px solid $govuk-input-border-colour;
			}
		}

		thead + tbody {
			padding-bottom: govuk-spacing(2);
		}
		thead + tbody + tbody {
			border-top: 2px solid $govuk-input-border-colour !important; 
			padding-top: govuk-spacing(2);
		}		
		tbody + tbody tr:last-child {
			border-bottom: 2px solid $govuk-input-border-colour !important; 
			padding-bottom: govuk-spacing(2);
		}		

		thead + tbody, 
		thead + tbody tr:first-child td:first-child {
			padding-top: govuk-spacing(0);
		}

        tr {
            margin: govuk-spacing(0);
        }
    
		td {
			border-bottom: 1px solid $govuk-border-colour;
			position: relative;
			padding: (govuk-spacing(1) + 3px) 0 (govuk-spacing(1) + 3px) 34%; 
			width: auto;

			&[colspan="6"] {
				div {
					padding-top: govuk-spacing(0);
					margin: govuk-spacing(0);
					line-height: normal;
				}
				a, input {
					padding-left: govuk-spacing(0); 
					font-size: inherit !important;
				}
				input {
					&.case__hyperlink, 
					&.govuk-link { 
						padding-top: govuk-spacing(0); 
						margin-bottom: (- govuk-spacing(1)); 
					}
					&.govuk-button {
						padding-left: govuk-spacing(2);
						padding-right: govuk-spacing(2); 
						margin-bottom: govuk-spacing(1);
					}
				}
			}
		} 

		td:before {
			position: absolute;
			left: 0;
			padding-right: govuk-spacing(2);
			white-space: nowrap;
		}		

		
        tbody tr {
			td:before {font-weight: bold; }
            td:nth-of-type(1):before { content: attr(data-table-dynamic); }
            td:nth-of-type(2):before { content: attr(data-table-dynamic); }
            td:nth-of-type(3):before { content: attr(data-table-dynamic); }
            td:nth-of-type(4):before { content: attr(data-table-dynamic); }
            td:nth-of-type(5):before { content: attr(data-table-dynamic); }
            td:nth-of-type(6):before { content: attr(data-table-dynamic); }
            td:nth-of-type(7):before { content: attr(data-table-dynamic); }
            td:nth-of-type(8):before { content: attr(data-table-dynamic); }
            td:nth-of-type(9):before { content: attr(data-table-dynamic); }
            td:nth-of-type(10):before { content: attr(data-table-dynamic); }
        }

    }*/
}


table.hmlr-table-dynamic { /* *** This section is for the expandable notes in dynamic table *** */

	.case__my-notes {
		display: none;
	}

	.case__left-hand-actions input[type='submit']{
		margin: govuk-spacing(0) !important;
	}

	.case__actions-wrapper {
		//padding-bottom: govuk-spacing(3); 

		.hmlr-table-dynamic__expandable {
			float: left; 
			width: 100%; 
		}		
	}

	@at-root .js-enabled {

		.case__my-notes {
			display: inline-block !important;
		}

		.hmlr-table-dynamic__expandable {//hide
			overflow: hidden;

			max-height: 0;
			transition: max-height 0.3s ease-out;

			&.hmlr-table-dynamic__expandable--show {//reveal 
				//max-height: 300px; /* Adjust this value based on the content height */
  				transition: max-height 0.3s ease-in;
			}	
			
			textarea {
				resize: none !important; /* Disable manual resizing */
				overflow: hidden;
				//@include govuk-font($size: 19, $weight: regular, $tabular: true);
				@include govuk-font($size: 16);
				line-height: 1.25 !important;
				padding: govuk-spacing(2) !important;
				margin-bottom: govuk-spacing(0) !important;
				/*box-shadow: inset 0 0 10px govuk-colour("mid-grey");*/
			}

			input[type='submit'], 
			button[type='submit'] {
				border: 2px solid $govuk-input-border-colour; 
				margin-top: govuk-spacing(2);
				@include govuk-font($size: 16);
				padding: (govuk-spacing(1) +1) govuk-spacing(2) govuk-spacing(1) govuk-spacing(2);
			}

		}
	
	}

}
