$hmlr-brand-colour: #789904 !important;
//$std-font-family: "GDS Transport", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 

$hmlr-tbody-bottom-padding: govuk-spacing(4);

@function calculaterem($s) {
    $remsize: $s / 16px;
    @return #{$remsize}rem;
}

@mixin hmlr-font-size($s, $l) {
    font-size: $s !important;
    font-size: calculaterem($s) !important;
    line-height: $l !important;
}

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin hover-underline() {
    text-decoration-thickness: .15em !important;
    text-decoration-thickness: .1875rem !important;
}

@mixin menu-inset-anchors-bullets {
    &:before {
        content: "-";
        margin-left: - govuk-spacing(4);
        color: $govuk-secondary-text-colour;
    }
}

@mixin menu-inset-anchors {
    ul.xxxxxxxx {
        padding-left: govuk-spacing(6); 
        padding-bottom: govuk-spacing(1); 

        li {
            @include menu-inset-anchors-bullets;
        }      
    }
}



  

