.hmlr-wf-form-grouping {
    button, input[type='submit'], input[type='button'] {
        margin: govuk-spacing(0) govuk-spacing(0) govuk-spacing(2) govuk-spacing(0);
    }

    /*& > div {
        display: inline-block; 
    }*/ 

    div[class$="checkboxes--small"] {
        label[class$="font-size-16"] {
            line-height: 1.6rem !important;
        }
    }

    position: relative;
    width: fit-content; 
    border: 1px solid $govuk-border-colour;
    padding: govuk-spacing(3) govuk-spacing(3) (govuk-spacing(2) - 2px) govuk-spacing(3);  

    /*.hmlr-wf-form-grouping__group {display: flow-root; }*/

    &.hmlr-wf-form-grouping--width-01 {
        min-width: 363px; 
    }
    &.hmlr-wf-form-grouping--width-02 {
        min-width: 33%;
    }     
    &.hmlr-wf-form-grouping--width-03 {
        min-width: 50%;
    } 
    &.hmlr-wf-form-grouping--width-04 {
        min-width: 66%;
    }  
    /*&.hmlr-wf-form-grouping--full-width {
        width: 100%; 
    }*/      

    .hmlr-wf-from-grouping__header {
        background-color: govuk-colour("white"); 
        color: $govuk-secondary-text-colour;
        font-weight: normal; 
        display: inline-block; 
        margin: govuk-spacing(0); 
        margin-left: - govuk-spacing(1); 
        padding: 0 govuk-spacing(1);         
        position: absolute; 
        top: - (govuk-spacing(3) + 1px); 

        &.govuk-\!-font-size-16 { 
            top: - (govuk-spacing(2) + 1px);  
        }        

        &.govuk-\!-font-size-19 {
            top: - govuk-spacing(3);  
        }
    }
} 