.hmlr-wf-lists {

    &:not(:first-child){/* this is an override to resolve a legacy css instruction for the old WF 2x list page */
        margin-top: unset;
    }

    @include govuk-media-query($from: desktop){
        
        /*&.hmlr-wf-lists--lrg-top-margin {
            margin-top: 120px;
        }*/

        &.hmlr-wf-lists--last-col-right {
            thead tr th:last-of-type, 
            tfoot tr th:last-of-type, 
            tbody tr td:not([colspan]):last-of-type {
                text-align: right; 
            }
        }

        th {
            font-size: 86%; 
            /* letter-spacing: 0.02rem;*/ /* font-stretch: semi-condensed; */
        }
    }

    thead th {
        vertical-align: bottom;
    }

    tfoot th {
        vertical-align: top;
    }

    &.hmlr-wf-lists--visually-hide-left-headers {
        thead td:first-child, 
        thead th:first-child,
        tfoot td:first-child, 
        tfoot th:first-child,          
        tbody th:first-child, 
        tbody td:first-child {
            @include govuk-visually-hidden;
        }
    } 

    &.hmlr-wf-lists--tbody-dividers {
        thead, tbody tr:last-child {
            border-bottom: 2px solid $govuk-text-colour; 
        }
    }

    &.hmlr-wf-lists--tbody-spacing tbody:not(:last-child) tr:last-child {/*:not(:last-child) might not be needed?*/
        th, td {
            padding-bottom: govuk-spacing(7);
        }
    }

    tfoot.govuk-table__head {
        th.govuk-table__header, 
        td.govuk-table__cell {
            border-bottom: none;
        }
    }

    sup {
        font-size: 110%;
        font-weight: bold; 
        line-height: 0;
    }

    &.govuk-\!-font-size-16 {
        .govuk-table__caption {
            margin-top: govuk-spacing(4);
            margin-bottom: govuk-spacing(7);
        } 
    }

    @include govuk-media-query($from: desktop){
        &.govuk-\!-font-size-16 {
            .govuk-table__caption {
                margin-top: govuk-spacing(0);
                margin-bottom: govuk-spacing(4);
            } 

            .hmlr-wf-lists__menu li {
                @include govuk-font($size: 14, $weight: regular, $line-height: 1.5); 

                .govuk-button {
                    @include govuk-font($size: 14, $weight: regular, $line-height: .5); //0.5
                    margin-top: -3px;
                }
            }
        }    
    }

    .hmlr-wf-lists__menu { 

        li {
            display: inline-block;
            margin-right: govuk-spacing(3); 
            @include govuk-font($size: 16, $weight: regular, $line-height: 1.5);

            &:last-child{
                margin-right: govuk-spacing(0); 
            }              

            .govuk-button {
                @include govuk-font($size: 16, $weight: regular, $line-height: .5);
                margin-top: -2px; 
                margin-bottom: govuk-spacing(0);
            }            
        }

        @include govuk-media-query($from: desktop){
            display: flex; 
            justify-content: space-between;

            li {/*flex: 1 1 0; width: 0;*/
                margin-right: 0;
                padding-right: govuk-spacing(2); 

                &:last-child{
                    padding-right: govuk-spacing(0); 
                }                 
            }
        } 

        /*&.hmlr-wf-lists__menu--two-left {

            li:nth-child(n+3) {
                background-color: lime;
            }            
            li:nth-child(-n+2)  {
                border: 1px solid red; 
            }
            li:nth-child(2) {
                margin-right: 50px;
            }

        }*/
        
    }

}
