.js-enabled {
    @include govuk-media-query($from: tablet){
        #page-content {//can kill this block anytime
            & > .govuk-grid-row:first-of-type {
                & > div[class*="govuk-grid-column"] {//ensure we target the column divs (whichever type they might be)
                    height: 0.1px; 
                    overflow: visible;
                    /*.hmlr-sort-right, */
                    .hmlr-sort-right--move-up {// hmlr-sort-right--move-up moves the select element up into the upper row
                        margin-top: -5rem;
                    }
                }
            }
        }
    }

    .hmlr-sort-right {
        button, input[type="submit"]{
            position: absolute; 
            left: -3000px; 
            top: -3000px; 
        }
    }
}


.hmlr-sort-right {
    select {
        width: auto;
    }
    
    & > .govuk-form-group {
        margin-bottom: govuk-spacing(0) !important;
    }

    button, input[type="submit"]{
        padding: govuk-spacing(1) govuk-spacing(1) (govuk-spacing(1) - 2) govuk-spacing(1); 
        margin-top: govuk-spacing(1);
    }

    /*.js-enabled & {
        button, input[type="submit"]{
            position: absolute; 
            left: -3000px; 
            top: -3000px; 
        }
    }*/    
}
