  /*
	alternative styling for current/established worklist page (and its HTML). 
	can remove the single class of 'case'.
  */
table.hmlr-table-worklist-fonts {   

	thead, tfoot {

		@include govuk-media-query($from: desktop){
			th {
				@include govuk-font($size: 16, $weight: bold);
			}

			th:nth-child(1) {
				width: auto;
			}
			th:nth-child(2) {
				width: auto;
			}
			th:nth-child(3) {
				width: 15%;
			}
			th:nth-child(4) {
				width: 25%;
			}
			th:nth-child(5) {
				width: auto;
			}
			th:nth-child(6) {
				width: 20%;
			}															
		}
	}

	tbody {
		vertical-align: top; 
		border-top: 2px solid $govuk-input-border-colour; 
		border-bottom: 2px solid  $govuk-input-border-colour;

		& + tbody {
			border-bottom: 2px solid  $govuk-input-border-colour;
		}	

		input.govuk-button {
			margin-bottom: govuk-spacing(0);
		}
		

		@include govuk-media-query($from: desktop){
			tr {
				td {
					@include govuk-font($size: 16); 
					padding: govuk-spacing(3) govuk-spacing(2) govuk-spacing(2) govuk-spacing(0);

					span {
						@include govuk-font($size: 16);
					}
				}

				/*&:last-child td {
					padding: govuk-spacing(0) govuk-spacing(1) govuk-spacing(0) govuk-spacing(0);
				}*/

				.case__actions-wrapper {
					padding: govuk-spacing(0);
				}
				.case__left-hand-actions {
					margin-bottom: govuk-spacing(1);
				}
			}

			tr:first-child {
				td:nth-child(3) {
					div {
						font-size: 90%;
					}
				}
			}
		}

		td strong {
			@include govuk-font($size: 16, $weight: bold);
			
			&.govuk-tag-expedite {
				margin-top: govuk-spacing(1); 

				color: govuk-colour("white");
				background-color: govuk-colour("blue");
				text-transform: uppercase;
				font-size: 80%;
				line-height: 1.2;
				padding-top: govuk-spacing(1) + 1;
				padding-bottom: govuk-spacing(1) - 1;
			}
		}
	}

}
