{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
          <!--span class="govuk-caption-l">A <abbr>UCD</abbr> experiment</span-->
          <h1 class="govuk-heading-m">Clear local storage</h1>

          <p class="govk-body">
            Simply by opening this page you have cleared the hideIndex value in your local storage. 
          </p>

          <p class="govk-body">
            The content on the main index page is now visible. (Refresh the index page).
          </p>          

        </div>
   </div>  

</div>

<script>
  window.onload = function() {
    localStorage.removeItem('hideIndex');
  };
</script>
{% endblock %}
