{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <form action="#" id="quiz_form" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-m">Question 3</span>
                    <h1 class="govuk-fieldset__heading">
                      Which colour of soap would you prefer?
                    </h1>
                  </legend>

                  <!-- select a colour of soap dish to match the colour of soap you preferred. 
                  TYPE in the name of the colour! 
                  
                  Remove the bracketed colours and run the list upside down -->

                  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour" name="soapColour" type="radio" value="alfalfa">
                      <label class="govuk-label govuk-radios__label" for="soapColour">
                        Alfalfa (green)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-2" name="soapColour" type="radio" value="alkanet">
                      <label class="govuk-label govuk-radios__label" for="soapColour-2">
                        Alkanet (purple and blue)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-3" name="soapColour" type="radio" value="annatto">
                      <label class="govuk-label govuk-radios__label" for="soapColour-3">
                        Annatto (yellow to orange)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-4" name="soapColour" type="radio" value="beetroot">
                      <label class="govuk-label govuk-radios__label" for="soapColour-4">
                        Beetroot (red to yellow)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-5" name="soapColour" type="radio" value="walnut">
                      <label class="govuk-label govuk-radios__label" for="soapColour-5">
                        Walnut (orange to brown)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-6" name="soapColour" type="radio" value="calendula">
                      <label class="govuk-label govuk-radios__label" for="soapColour-6">
                        Calendula (beige to yellow)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-7" name="soapColour" type="radio" value="indigo">
                      <label class="govuk-label govuk-radios__label" for="soapColour-7">
                        Indigo (blue)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-8" name="soapColour" type="radio" value="madder">
                      <label class="govuk-label govuk-radios__label" for="soapColour-8">
                        Madder (red to purple)
                      </label>
                    </div> 
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="soapColour-9" name="soapColour" type="radio" value="moroccan">
                      <label class="govuk-label govuk-radios__label" for="soapColour-9">
                        Moroccan (red to brown)
                      </label>
                    </div>                                                                                                    
                  </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>            
          </form>

        </div>
   </div>  

</div>
{% endblock %}
