{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <form action="#" id="quiz_form" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-m">Question 8</span>
                    <h1 class="govuk-fieldset__heading">
                      Select an option to which you attribute your success in your role
                    </h1>
                  </legend>


                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="selfServingBias" name="selfServingBias" type="radio" value="1-hardwork">
                      <label class="govuk-label govuk-radios__label" for="selfServingBias">
                        Hard work
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="selfServingBias-2" name="selfServingBias" type="radio" value="2">
                      <label class="govuk-label govuk-radios__label" for="selfServingBias-2">
                        Luck
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="selfServingBias-3" name="selfServingBias" type="radio" value="3">
                      <label class="govuk-label govuk-radios__label" for="selfServingBias-3">
                        External factors
                      </label>
                    </div>                    
                    
                                                                                                   
                  </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>            
          </form>

        </div>
   </div>  

</div>
{% endblock %}
