{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <form action="#" id="quiz_form" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="quiz-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-m">Question 9</span>
                    <h1 class="govuk-fieldset__heading">
                      Which of these statements is true?
                    </h1>
                  </legend>

                  <div id="quiz-hint" class="govuk-hint">
                    After the earthquake, David claimed that it had been predicted by Nostradamus five hundred years ago. His claim is based on which pitfall of heuristics?
                  </div>


                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="hindsightBias" name="hindsightBias" type="radio" value="1">
                      <label class="govuk-label govuk-radios__label" for="hindsightBias">
                        Confirmation bias
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="hindsightBias-2" name="hindsightBias" type="radio" value="2">
                      <label class="govuk-label govuk-radios__label" for="hindsightBias-2">
                        Representativeness bias
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="hindsightBias-3" name="hindsightBias" type="radio" value="3-hindsight">
                      <label class="govuk-label govuk-radios__label" for="hindsightBias-3">
                        Hindsight bias
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="hindsightBias-4" name="hindsightBias" type="radio" value="4">
                      <label class="govuk-label govuk-radios__label" for="hindsightBias-4">
                        Functional fixedness
                      </label>
                    </div>                                        
                    
                                                                                                   
                  </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>            
          </form>

        </div>
   </div>  

</div>
{% endblock %}
