{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <form action="#" id="quiz_form" method="post" novalidate>

                  <span class="govuk-caption-m">Question 9</span>
                  <h1 class="govuk-heading-l">Review this poster</h1>

                  {% if (data['whichTeam'] == 'A') %}
                  <p class="govuk-body">
                    This American safety poster was issued by the Illinois Safety Division in the mid-twentieth century but failed to be adopted for use by any other <abbr>US</abbr> state. 
                  </p> 
                  {% else %}
                  <p class="govuk-body">
                    This is a classic American safety poster from the mid-twentieth century. Issued by the <abbr>US</abbr> Safety Division as part of their Federal Art Project it remains their most successful design and today sells as an iconic piece of graphic design.
                  </p>
                  {% endif %}
                 

                  <img src="/public/images/poster2.jpg" class="govuk-!-margin-top-3 govuk-!-margin-bottom-6" style="width: 50%;" alt="Work with care poster by Isaac Levitt.">


                  <!-- just record the negatives -->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend">
                        Was the illustration easy to understand?
                      </legend>
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-3" name="classicPoster2" type="radio" value="y">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-3">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-4" name="classicPoster2" type="radio" value="n">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-4">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>  
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend">
                        Was the space used effectively?
                      </legend>
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-5" name="classicPoster22" type="radio" value="y">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-5">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-6" name="classicPoster22" type="radio" value="n">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-6">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>                                                       
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend">
                        Was the colour pallett memorable?
                      </legend>
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-7" name="classicPoster23" type="radio" value="y">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-7">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-8" name="classicPoster23" type="radio" value="n">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-8">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>  
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend">
                        Was the message easy to understand?
                      </legend>
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-9" name="classicPoster24" type="radio" value="y">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-9">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="classicPoster2-10" name="classicPoster24" type="radio" value="n">
                          <label class="govuk-label govuk-radios__label" for="classicPoster2-10">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>                                   



            <!--div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="quiz-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-m">Question 9</span>
                  <h1 class="govuk-fieldset__heading">
                    Review this poster
                  </h1>
                </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2" name="classicPoster2" type="checkbox" value="pos">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2">
                        I like the strong typography  
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2-2" name="classicPoster2" type="checkbox" value="pos">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2-2">
                        I like the dynamic text flow
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2-5" name="classicPoster2" type="checkbox" value="neg">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2-5">
                        I think the illustration isn't clear
                      </label>
                    </div>                    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2-3" name="classicPoster2" type="checkbox" value="pos">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2-3">
                        I think it is distinctive and direct 
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2-6" name="classicPoster2" type="neg" value="neg">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2-6">
                        I dislike the subdued colours
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2-7" name="classicPoster2" type="checkbox" value="neg">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2-7">
                        I think the text is difficult to read
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2-4" name="classicPoster2" type="checkbox" value="pos">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2-4">
                        I like the memorable colour pallett
                      </label>
                    </div>                    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="classicPoster2-8" name="classicPoster2" type="checkbox" value="neg">
                      <label class="govuk-label govuk-checkboxes__label" for="classicPoster2-8">
                        I don't like the uppercase lettering
                      </label>
                    </div> 
                  </div>
                </fieldset>
            </div-->

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>            
          </form>

        </div>
   </div>  

</div>
{% endblock %}
