{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <form action="#" id="quiz_form" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="quiz-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-m">Question 12</span>
                    <h1 class="govuk-fieldset__heading">
                      Choose which questions you'd like to talk about
                    </h1>
                  </legend>

                  <div id="quiz-hint" class="govuk-hint">
                    After the questionnaire is completed 3 individuals will be chosen to explain their answers. If you are chosen, which of these options would you prefer to explain?
                  </div>

                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="whichQuestion" name="whichQuestion" type="radio" value="1">
                      <label class="govuk-label govuk-radios__label" for="whichQuestion">
                        Your Penguin mascot and Wild flower choices and why
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="whichQuestion-2" name="whichQuestion" type="radio" value="2">
                      <label class="govuk-label govuk-radios__label" for="whichQuestion-2">
                        Your review of the Work with Care poster and the Safety at Work poster
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="whichQuestion-3" name="whichQuestion" type="radio" value="3">
                      <label class="govuk-label govuk-radios__label" for="whichQuestion-3">
                        What rating you gave the <abbr>GDS</abbr> design system
                      </label>
                    </div>
                                                                                                   
                  </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>            
          </form>

        </div>
   </div>  

</div>
{% endblock %}
