{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <form action="#" id="quiz_form" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="quiz-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-m">Question 13</span>
                    <h1 class="govuk-fieldset__heading">
                      Who am I?
                    </h1>
                  </legend>

                  {% if (data['whichTeam'] == 'A') %}
                  <div id="quiz-hint" class="govuk-hint">
                    I like, reading, board games, painting, dancing and swimming. 
                  </div>
                  {% else %}
                  <div id="quiz-hint" class="govuk-hint">
                    I like, reading, board games, painting, golf and swimming. 
                  </div>                  
                  {% endif %}
                  
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="bestPerson" name="bestPerson" type="radio" value="1">
                      <label class="govuk-label govuk-radios__label" for="bestPerson">
                        Adam Flay
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="bestPerson-2" name="bestPerson" type="radio" value="2">
                      <label class="govuk-label govuk-radios__label" for="bestPerson-2">
                        Erin Warner
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="bestPerson-3" name="bestPerson" type="radio" value="3">
                      <label class="govuk-label govuk-radios__label" for="bestPerson-3">
                        Darren Harridence
                      </label>
                    </div>
                                                                                                   
                  </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>            
          </form>

        </div>
   </div>  

</div>
{% endblock %}
