{% extends "layouts/non-wf.html" %}

{#% 
  set pageName="Quiz question" 
%#}

{% block content %}
<div class="content-wrapper">       
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <form action="#" id="quiz_form" method="post" novalidate>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-m">And finally ...</span>
                  <h1 class="govuk-fieldset__heading">
                    How much did you enjoy answering these questions?
                  </h1>
                </legend>

                                  

                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="lastQuestion1" name="lastQuestion" type="radio" value="1">
                      <label class="govuk-label govuk-radios__label" for="lastQuestion1">
                        Very much
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="lastQuestion2" name="lastQuestion" type="radio" value="2">
                      <label class="govuk-label govuk-radios__label" for="lastQuestion2">
                        It was okay
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="lastQuestion3" name="lastQuestion" type="radio" value="3">
                      <label class="govuk-label govuk-radios__label" for="lastQuestion3">
                        Not much
                      </label>
                    </div>                    
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="lastQuestion4" name="lastQuestion" type="radio" value="4">
                      <label class="govuk-label govuk-radios__label" for="lastQuestion4">
                        I hated it
                      </label>
                    </div>                                        

                </fieldset>
            </div>

            <p class="govuk-body">
              Thank you for participating XXXXXXXXXXX - it was much appreciated. 
            </p> 

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>            
          </form>

        </div>
   </div>  

</div>
{% endblock %}
