{% extends "layouts/main.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Extention of time index - dates
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



          
          <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
            
            Extension of time prototypes - with DATES - V3-1
            
          </h1>

          <ul class="govuk-list govuk-list--spaced">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/defer-time-dates-v3-1/two-defer_01.html" target="_blank">Version 3-1: (opens in new tab)</a> &nbsp;<span style="font-size: 0.9rem;">(Updated question text)</span><br>
              <span class="govuk-!-font-size-16">This version incorporates all three options for adding a date.</span>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/defer-time-dates/" target="_blank">Previous versions:  (opens in new tab)</a>
            </li>            
          </ul>

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">

          <p class="govuk-body-s">
            Clear the session data from each flow - using the clear data link in the footer - before starting the alternative flow.
          </p>

          <!--p class="govuk-body-s">
            Tip: To clear the session data for each session, you can use incognito mode or private browsing for each user and close that window tab when you are done. In Chrome (browser) right-click on the link and select 'Open link in incognito mode'.
          </p-->

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">
          
          <h2 class="govuk-heading-s govuk-!-margin-bottom-9">
            Error messages 
          </h2>
          
          <ul class="govuk-list govuk-list--bullet">
            <li>Select a deferral reason (in the proto)</li>
            <li>{% include "./inc_20-days-error.html" %} (in the proto)</li>
            <li>Enter the new cancellation date (in the proto)</li>
            <li>The new cancellation date must include a day (in the proto)</li>
            <li>The new cancellation date must include a month (in the proto)</li>
            <li>The new cancellation date must include a year (in the proto)</li>
            <li>The new cancellation date must be a real date</li>
            <li>The new cancellation date must be in the future (note: the new cancellation date cannot be in the past or 'today')</li>
            <!--li>Or (?), The new cancellation date must be today or in the future</li-->   
            <li>Year must include 4 numbers</li>  
            <li>... <i>and for the custom number field</i> ...</li>       
            <li>Enter a number of working days to extend by (in the proto)</li>       
            <li>Working days must only include numbers (in the proto); e.g, no letters, etc</li>
            <li>The number of working days must be 1 or more (in the proto); if minus 1</li>
            <li>The number of working days must be 1 or more (in the proto); if zero</li>       
            <li>{% include "./inc_number-error.html" %} (in the proto); if 100 or greater</li> 
            <li>...</li>              
            <li>Note, for the "Enter a new cancellation date form" the new cancellation date must be after the current cancellation date: The new cancellation date must be after the current cancellation date</li>
            <li>Note, the new date entry form must fire a validation message if the date is not a working day: The new cancellation date must be a working day [Rosie to confirm] </li>              
          </ul>

          <p class="govuk-body">Some requirements include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>White space of custom number to be trimmed and formatted to remove any leading zero</li>
            <li>The new deferral date must be later than the date already in use on the application: This will require an additional error message (see above) ***</li>
            <li>Dates must be a working day. The custom days should automatically count only working days. The date entry form must fire a validation message if the date is not a working day (see above) ***</li>
            <li>Day counts to start from, and include, the next working day (not from 'today')</li>
            <li>Working days Calculated should (obviously) also account for Bank Holidays</li>
          </ul>          


  </div>
</div>




{% endblock %}
