{% extends "layouts/wf_layout.html" %}

{% set pageName="{{ serviceName }} IA and UI work" %}

{% block content %}
    
<div class="govuk-grid-row hmlr-min-height-header-sm">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Workflow <span class="govuk-heading-l govuk-!-font-weight-regular govuk-!-display-inline">&dash; design concepts</span>
    </h1>

    <p class="govuk-body-s hmlr-secondary-text">
      Primarily looking at options to introduce a core information architecture (<abbr>IA</abbr>) structure, to easily accommodate growth of the service with additional services and to safely avoid compromised or convoluted user journeys.
    </p>

    <p class="govuk-body-s hmlr-secondary-text">
      As well as the information being grouped logically to aid usability, the <abbr>IA</abbr> should be effortlessly expandable (while also creating a structure to allow work on individual areas and pages/features interdependently). 
    </p>  
    
    <p class="govuk-body-s hmlr-secondary-text">
      Following is a series of concepts to support this via the user-interface. This <abbr>IA</abbr> is also combined with the opportunity to build the presentation layer soundly, so that it is extensible and futureproofed for <abbr>GDS</abbr> compliance. 
    </p>  
    
    <p class="govuk-body hmlr-secondary-text">
      
    </p>    

  </div>

  <div class="govuk-grid-column-one-third">

  </div>      

</div>


<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds" id="page-content" role="region">

    <h2 class="govuk-heading-m">
      Information architecture 
    </h2>

    <p class="govuk-body-s">
      User-interface devices to support changes in information architecture. Designs largely negate requirements for breadcrumbs.
    </p>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Concept 1</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> 
            <a href="../concepts-01/example-01" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular">
              View<span class="govuk-visually-hidden"> concept 1</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              Left navigation 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Description
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              
              Workflow content split into two conceptually in the menu. Nested secondary sub links are 'anchor' or 'jump-to' links, to land on the relevant section of the page. Simple use of top level 'My Worklist' menu link. (Can add soft scroll). Sub links disappear when not on the 'Worklist' page: adds additional 'click' to return to the Worklist page, but is simple to interpret.

            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Concept 2</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> 
            <a href="example-02" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular">
              View<span class="govuk-visually-hidden"> concept 2</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              Left navigation 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Description
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              
              Workflow content split across two pages with nested secondary sub links targeting an 'applications' and 'progress later' pages. This creates a 'My Worklist' landing page - and an opportunity to create a default landing/home page for the 'Workflow' service (which can provide dashboard info). <i>Not suitable for use as a secondary navigtion (with a top-level navigation).</i>
              
              <br><br>

              'Applications' and 'Progress later' links <i>disappear</i> when not in the 'My Worklist' area.

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Concept 2b 
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              
              This <a href="example-02b.html" class="govuk-link govuk-link--no-visited-state">alternative variation (2b)</a> persists the secondary links when elsewhere in the service. Included here for completeness. 'Applications' and 'Progress later' links do <i>not</i> disappear when not in the 'My Worklist' area.

            </dd>
          </div>          
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Concept 3</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> 
            <a href="example-03-applications" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular">
              View<span class="govuk-visually-hidden"> concept 3</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              Top level and secondary navigation 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Description
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              
              A primary navigation (in the page header) sets out the most fundemental information groupings: which have their own secondary navigation (left nav).

              <br><br>

              These top level options can either serve their own 'area' landing page or default to the first page in the secondary navigation (as in this example).

              <br><br>
              Potentially move 'Search' from top level nav and include in secondary nav, so that each area has its own set of search options. 

              <br><br>
              'Report an issue' either moved to the footer (or left nav). 

              <br><br>
              We can incorporate 'Workflow' banner title/heading above the navigation and/or a 'Home' link in the top level nav if a landing dashboard was ever required.

              <br><br>

              Worklist, is supported by two secondary links: 'applications' and 'progress later'.

            </dd>
          </div>
        </dl>
      </div>
    </div>


    <!-- ********************* LANDING PAGE DESIGNS START: ************************** -->

    <h2 class="govuk-heading-m govuk-!-padding-top-9">
      Landing (home) page concepts
    </h2>

    <p class="govuk-body-s">
      Revised concepts for the Workflow landing/home page within any revised <abbr>IA</abbr> framework. Again, the structure of these layouts must be easily extensible.
    </p>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Landing 1</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> 
            <a href="#landing-01" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular">
              View<span class="govuk-visually-hidden"> landing 1</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              Concept for revised landing page within new <abbr>IA</abbr>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Description
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              
              Gentle evolution from familiar and pre-existing landing page.

            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Landing 2</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> 
            <a href="#landing-02" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular">
              View<span class="govuk-visually-hidden"> landing 2</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              Alternative design for the landing page within new <abbr>IA</abbr>.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
              Description
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              
              Alternative design using an established government pattern (and representing a "conventional" government aesthetic).

            </dd>
          </div>
        </dl>
      </div>
    </div>


    <h2 class="govuk-heading-m govuk-!-padding-top-9">
      Applications page design
    </h2>

    <p class="govuk-body-s">
      Revised concepts for the presentation of 'applications'. The current live service is impacted by differing display environments and are not extensible.
    </p>

    <p class="govuk-body-s">
      ...
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  </div>
</div>
{% endblock %}
