<div class="govuk-grid-column-two-thirds">

    <div class="hmlr-filter-warning-text hmlr-filter-warning-text--inverse govuk-!-font-weight-regular govuk-!-font-size-16">

      <div class="govuk-warning-text"> 
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          A filter is showing <b>Expedited</b> cases only.
        </strong>
      </div>      
    
    </div>

</div> 