<table class="govuk-table xxxxworklist__table    hmlr-table-dynamic">
  
    <caption class="govuk-table__caption govuk-table__caption--m">Work items in progress later</caption>

    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" id="progress_later_priority_dates" scope="col">Priority date</th>
          <th class="govuk-table__header" id="progress_later_title_numbers" scope="col">Title number</th>
          <th class="govuk-table__header" id="progress_later_abrs" scope="col"><abbr title="A B R">ABR</abbr></th>
          <th class="govuk-table__header" id="progress_later_categories" scope="col">Category</th>
          <th class="govuk-table__header" id="progress_later_dates_obtained" scope="col">Date obtained</th>
          <th class="govuk-table__header" id="progress_later_next_actions" scope="col">Next action</th>
        </tr>
    </thead>
    <tbody data-case-ref="V519SWW" class="case">
      <tr id="row_6042" class="govuk-table__row case__data_row " >
        <td class="case__date" id="V519SWW_priority_date" headers="progress_later_priority_dates" data-table-dynamic="Priority date">
              
              17 July 2023
            
        </td>
        <td class="case__title-number" id="V519SWW_title_number" headers="progress_later_title_numbers" data-table-dynamic="Title number">
            <span class="case__inc"></span>
            DT102641

            <strong class="govuk-tag-expedite govuk-tag">
              Expedite
            </strong>
            
        </td>
        <td id="V519SWW_abr" class="case__abr" headers="progress_later_abrs" data-table-dynamic="ABR">
            V519SWW
            <div></div>
        </td>
        <td id="V519SWW_cat" class="case__category" headers="progress_later_categories" data-table-dynamic="Category">
          Application Processing: Executive Register Update Standard
        </td>
        <td class="case__date" id="V519SWW_dobtained" headers="progress_later_dates_obtained" data-table-dynamic="Date obtained">
            
            23 February 2024
            
        </td>
        <td id="V519SWW_next_action" class="case__next-action" headers="progress_later_next_actions" data-table-dynamic="Next action">
            
                New - Start to process
            
        </td>
      </tr>
      <tr id="row_6042_actions" class="govuk-table__row case__actions">
          <td colspan="6" data-table-dynamic="Options">
            <div class="case__actions-wrapper">
              <div class="case__left-hand-actions actions-spacing">
                <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
                  href="#">Return to <abbr title="e-serve">ESRV</abbr>
                  <span class="govuk-visually-hidden">: case <abbr>V519SWW</abbr> to <abbr>DB2</abbr></span>
                </a>
              </div>
              <div class="case__right-hand-actions actions-spacing">

                  <form class="case__form" novalidate
                      id="change_state_6042"
                      action="#"
                      method="post"
                      onsubmit="btn_await_lawyer_6042.disabled = true;
                                btn_progress_now_6042.disabled = true;
                                btn_progress_later_6042.disabled = true;">
                    
                    <input id="btn_await_lawyer_3011" title="Refer case V519SWW to a lawyer" type="submit" name="Waiting_for_lawyer" class="govuk-link govuk-link--no-visited-state case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/3011?lr_ref_number=DU164181&amp;lr_work_ref=D348RWW">

                    <span class="govuk-visually-hidden">|</span>
                      
    <a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
    href="#">Refer<span class="govuk-visually-hidden"> case <abbr>V519SWW</abbr></span>
    </a>

                      <span class="govuk-visually-hidden">|</span>
                      
      <input id="btn_progress_now_6042" title="Move case V519SWW into your worklist" type="submit"
          name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">

                      <span class="govuk-visually-hidden">|</span>
                      
      <input id="btn_progress_later_6042" title="Progress case V519SWW later" type="hidden"
          name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">

                      <span class="govuk-visually-hidden">|</span>
                      
    <a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
    href="#">Defer<span class="govuk-visually-hidden"> case <abbr>V519SWW</abbr></span>
    </a>

                      <span class="govuk-visually-hidden">|</span>
                  

                  
                      
    <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
    href="#"
    id="link_activity_history_V519SWW"
    data-ga-category="Activity_History_Link_From_Worklist"
    data-ga-action="Activity History link clicked from worklist page"
    data-ga-label="Worklist_Activity_History_Link"
    >View activity history
    <span class="govuk-visually-hidden"> for <abbr>V519SWW</abbr></span>
    </a>

                      <span class="govuk-visually-hidden">|</span>
                      
    <a
      class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
      href="#">
      More info
    <span class="govuk-visually-hidden">: open daylist for case <abbr>V519SWW</abbr>. Opens in new window.</span></a>

                      <span class="govuk-visually-hidden">|</span>
                  

                  
                  </form>
              </div>
            </div>
          </td>
      </tr>
    </tbody>
    <tbody data-case-ref="Y674RWW" class="case">
      <tr id="row_1075" class="govuk-table__row case__data_row">
        <td class="case__date" id="Y674RWW_priority_date" headers="progress_later_priority_dates" data-table-dynamic="Priority date">
          11 April 2022
        </td>
        <td class="case__title-number" id="Y674RWW_title_number" headers="progress_later_title_numbers" data-table-dynamic="Title number">
            <span class="case__inc"></span>
            DU164190 

            <strong class="govuk-tag-expedite govuk-tag">
              Expedite
            </strong>
            
        </td>
        <td id="Y674RWW_abr" class="case__abr" headers="progress_later_abrs" data-table-dynamic="ABR">
            Y674RWW
            <div></div>
        </td>
        <td id="Y674RWW_cat" class="case__category" headers="progress_later_categories" data-table-dynamic="Category">
           Volume Register Update
        </td>
        <td class="case__date" id="Y674RWW_dobtained" headers="progress_later_dates_obtained" data-table-dynamic="Date obtained">
            6 June 2024
        </td>
        <td id="Y674RWW_next_action" class="case__next-action" headers="progress_later_next_actions" data-table-dynamic="Next action">
            Consider referral from<br>
    
            Michaela Webber<br>
        </td>
      </tr>
      <tr id="row_1075_actions" class="govuk-table__row case__actions">
                <td colspan="6" data-table-dynamic="Options">
                  <div class="case__actions-wrapper">
                    <div class="case__left-hand-actions actions-spacing">
        
                    <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block" href="#">Return to <abbr title="e-serve">ESRV</abbr>
          <span class="govuk-visually-hidden">: case <abbr>Y674RWW</abbr> to <abbr>DB2</abbr></span></a>

                  

              </div>

              <div class="case__right-hand-actions actions-spacing">

                  <form class="case__form" novalidate
                      id="change_state_1075"
                      action="#"
                      method="post"
                      onsubmit="btn_await_lawyer_1075.disabled = true;
                                btn_progress_now_1075.disabled = true;
                                btn_progress_later_1075.disabled = true;">
                    
                    <input id="btn_await_lawyer_3011" title="Refer case Y674RWW to a lawyer" type="submit" name="Waiting_for_lawyer" class="govuk-link govuk-link--no-visited-state case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/3011?lr_ref_number=DU164181&amp;lr_work_ref=D348RWW">

                    <span class="govuk-visually-hidden">|</span>
                      
    <a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
    href="#">Refer<span class="govuk-visually-hidden"> case <abbr>Y674RWW</abbr></span>
    </a>

    <span class="govuk-visually-hidden">|</span>

    <input id="btn_progress_now_1075" title="Move case Y674RWW into your worklist" type="submit"
    name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">

    <span class="govuk-visually-hidden">|</span>

    <input id="btn_progress_later_1075" title="Progress case Y674RWW later" type="hidden"
    name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">

    <span class="govuk-visually-hidden">|</span>
                      
    <a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
    href="#">Defer<span class="govuk-visually-hidden"> case <abbr>Y674RWW</abbr></span>
    </a>

    <span class="govuk-visually-hidden">|</span>
                      
    <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
    href="#"
    id="link_activity_history_Y674RWW"
    data-ga-category="Activity_History_Link_From_Worklist"
    data-ga-action="Activity History link clicked from worklist page"
    data-ga-label="Worklist_Activity_History_Link"
    >View activity history
    <span class="govuk-visually-hidden"> for <abbr>Y674RWW</abbr></span>
    </a>

    <span class="govuk-visually-hidden">|</span>
                      
    <a class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
      href="#">
      More info
    <span class="govuk-visually-hidden">: open daylist for case <abbr>Y674RWW</abbr>. Opens in new window.</span></a>

    <span class="govuk-visually-hidden">|</span>
                </form>
            </div>
          </div>
        </td>
    </tr>
    </tbody>

    <tbody data-case-ref="K588WWW" class="case">
        <tr id="row_11492" class="govuk-table__row case__data_row">
          <td class="case__date" id="K588WWW_priority_date" headers="progress_later_priority_dates" data-table-dynamic="Priority date">
                6 June 2024
          </td>
          <td class="case__title-number" id="K588WWW_title_number" headers="progress_later_title_numbers" data-table-dynamic="Title number">
              <span class="case__inc"></span>
              DU164222
              
          </td>
          <td id="K588WWW_abr" class="case__abr" headers="progress_later_abrs" data-table-dynamic="ABR">
              K588WWW
              <div></div>
          </td>
          <td id="K588WWW_cat" class="case__category" headers="progress_later_categories" data-table-dynamic="Category">
              Executive Register Update Standard
          </td>
          <td class="case__date" id="K588WWW_dobtained" headers="progress_later_dates_obtained" data-table-dynamic="Date obtained">
              
              6 June 2024
              
          </td>
          <td id="K588WWW_next_action" class="case__next-action" headers="progress_later_next_actions" data-table-dynamic="Next actions">
                          Consider referral from<br>
                          Eldridge Doumbe<br>
          </td>
        </tr>
        <tr id="row_11492_actions" class="govuk-table__row case__actions">
            <td colspan="6" data-table-dynamic="Options">
              <div class="case__actions-wrapper">
                <div class="case__left-hand-actions actions-spacing">
                  <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
                    href="#">Return to <abbr title="e-serve">ESRV</abbr>
                    <span class="govuk-visually-hidden">: case <abbr>K588WWW</abbr> to <abbr>DB2</abbr></span>
                  </a>
                </div>
                <div class="case__right-hand-actions actions-spacing">
    
                    <form class="case__form" novalidate
                        id="change_state_11492"
                        action="#"
                        method="post"
                        onsubmit="btn_await_lawyer_11492.disabled = true;
                                  btn_progress_now_11492.disabled = true;
                                  btn_progress_later_11492.disabled = true;">
                   
                      
                      
    
                   <input id="btn_await_lawyer_3011" title="Refer case K588WWW to a lawyer" type="submit" name="Waiting_for_lawyer" class="govuk-link govuk-link--no-visited-state case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/3011?lr_ref_number=DU164181&amp;lr_work_ref=D348RWW">
    
                   <span class="govuk-visually-hidden">|</span>
    
                        <span class="govuk-visually-hidden">|</span>
                        
    <a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
      href="#">Refer<span class="govuk-visually-hidden"> case <abbr>K588WWW</abbr></span>
    </a>
    
                        <span class="govuk-visually-hidden">|</span>
                        
        <input id="btn_progress_now_11492" title="Move case K588WWW into your worklist" type="submit"
            name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">
    
                        <span class="govuk-visually-hidden">|</span>
                        
        <input id="btn_progress_later_11492" title="Progress case K588WWW later" type="hidden"
            name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">
    
                        <span class="govuk-visually-hidden">|</span>
                        
    <a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
      href="#">Defer<span class="govuk-visually-hidden"> case <abbr>K588WWW</abbr></span>
    </a>
    
                        <span class="govuk-visually-hidden">|</span>
                    
    
                    
                        
    <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
      href="#"
      id="link_activity_history_K588WWW"
      data-ga-category="Activity_History_Link_From_Worklist"
      data-ga-action="Activity History link clicked from worklist page"
      data-ga-label="Worklist_Activity_History_Link"
      >View activity history
      <span class="govuk-visually-hidden"> for <abbr>K588WWW</abbr></span>
    </a>
    
                        <span class="govuk-visually-hidden">|</span>
                        
    <a
        class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
        href="#">
        More info
    <span class="govuk-visually-hidden">: open daylist for case <abbr>K588WWW</abbr>. Opens in new window.</span></a>
    
                        <span class="govuk-visually-hidden">|</span>
                    
    
                    
                    </form>
                </div>
              </div>
            </td>
        </tr>
    </tbody>
    <tbody data-case-ref="V444SWW" class="case">
      <tr id="row_6042" class="govuk-table__row case__data_row " >
        <td class="case__date" id="V444SWW_priority_date" headers="progress_later_priority_dates" data-table-dynamic="Priority date">
              
              19 August 2024
            
        </td>
        <td class="case__title-number" id="V444SWW_title_number" headers="progress_later_title_numbers" data-table-dynamic="Title number">
            <span class="case__inc"></span>
            DT102641
            
        </td>
        <td id="V444SWW_abr" class="case__abr" headers="progress_later_abrs" data-table-dynamic="ABR">
            V444SWW
            <div></div>
        </td>
        <td id="V444SWW_cat" class="case__category" headers="progress_later_categories" data-table-dynamic="Category">
          Application Processing: Executive Register Update Standard
        </td>
        <td class="case__date" id="V444SWW_dobtained" headers="progress_later_dates_obtained" data-table-dynamic="Date obtained">
            
            23 December 2024
            
        </td>
        <td id="V444SWW_next_action" class="case__next-action" headers="progress_later_next_actions" data-table-dynamic="Next action">
            
                New - Start to process
            
        </td>
      </tr>
      <tr id="row_6042_actions" class="govuk-table__row case__actions">
          <td colspan="6" data-table-dynamic="Options">
            <div class="case__actions-wrapper">
              <div class="case__left-hand-actions actions-spacing">
                <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
                  href="#">Return to <abbr title="e-serve">ESRV</abbr>
                  <span class="govuk-visually-hidden">: case <abbr>V444SWW</abbr> to <abbr>DB2</abbr></span>
                </a>
              </div>
              <div class="case__right-hand-actions actions-spacing">
    
                  <form class="case__form" novalidate
                      id="change_state_6042"
                      action="#"
                      method="post"
                      onsubmit="btn_await_lawyer_6042.disabled = true;
                                btn_progress_now_6042.disabled = true;
                                btn_progress_later_6042.disabled = true;">
                    
                    <input id="btn_await_lawyer_3011" title="Refer case V444SWW to a lawyer" type="submit" name="Waiting_for_lawyer" class="govuk-link govuk-link--no-visited-state case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/3011?lr_ref_number=DU164181&amp;lr_work_ref=D348RWW">
    
                      <span class="govuk-visually-hidden">|</span>
    
                      
    <a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
    href="#">Refer<span class="govuk-visually-hidden"> case <abbr>V444SWW</abbr></span>
    </a>
    
                      <span class="govuk-visually-hidden">|</span>
                      
      <input id="btn_progress_now_6042" title="Move case V444SWW into your worklist" type="submit"
          name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">
    
                      <span class="govuk-visually-hidden">|</span>
                      
      <input id="btn_progress_later_6042" title="Progress case V444SWW later" type="hidden"
          name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">
    
                      <span class="govuk-visually-hidden">|</span>
                      
    <a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
    href="#">Defer<span class="govuk-visually-hidden"> case <abbr>V444SWW</abbr></span>
    </a>
    
                      <span class="govuk-visually-hidden">|</span>
                  
    
                  
                      
    <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
    href="#"
    id="link_activity_history_V444SWW"
    data-ga-category="Activity_History_Link_From_Worklist"
    data-ga-action="Activity History link clicked from worklist page"
    data-ga-label="Worklist_Activity_History_Link"
    >View activity history
    <span class="govuk-visually-hidden"> for <abbr>V444SWW</abbr></span>
    </a>
    
                      <span class="govuk-visually-hidden">|</span>
                      
    <a
      class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
      href="#">
      More info
    <span class="govuk-visually-hidden">: open daylist for case <abbr>V444SWW</abbr>. Opens in new window.</span></a>
    
                      <span class="govuk-visually-hidden">|</span>
                  
    
                  
                  </form>
              </div>
            </div>
          </td>
      </tr>
    </tbody>
    <tbody data-case-ref="Y555RWW" class="case">
        <tr id="row_1075" class="govuk-table__row case__data_row">
          <td class="case__date" id="Y555RWW_priority_date" headers="progress_later_priority_dates" data-table-dynamic="Priority date">
            8 April 2023
          </td>
          <td class="case__title-number" id="Y555RWW_title_number" headers="progress_later_title_numbers" data-table-dynamic="Title number">
              <span class="case__inc"></span>
              DU164190
              
          </td>
          <td id="Y555RWW_abr" class="case__abr" headers="progress_later_abrs" data-table-dynamic="ABR">
              Y555RWW
              <div></div>
          </td>
          <td id="Y555RWW_cat" class="case__category" headers="progress_later_categories" data-table-dynamic="Category">
    Volume Register Update
          </td>
          <td class="case__date" id="Y555RWW_dobtained" headers="progress_later_dates_obtained" data-table-dynamic="Date obtained">
              
              12 June 2023
              
          </td>
          <td id="Y555RWW_next_action" class="case__next-action" headers="progress_later_next_actions" data-table-dynamic="Next action">
              
                  
                          Consider referral from<br>
                  
                          Michaela Webber<br>
                  
              
          </td>
        </tr>
        <tr id="row_1075_actions" class="govuk-table__row case__actions">
                  <td colspan="6" data-table-dynamic="Options">
                    <div class="case__actions-wrapper">
                      <div class="case__left-hand-actions actions-spacing">
          
                      <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block" href="#">Return to <abbr title="e-serve">ESRV</abbr>
            <span class="govuk-visually-hidden">: case <abbr>Y555RWW</abbr> to <abbr>DB2</abbr></span></a>
    
                    
    
                </div>
    
                <div class="case__right-hand-actions actions-spacing">
    
                    <form class="case__form" novalidate
                        id="change_state_1075"
                        action="#"
                        method="post"
                        onsubmit="btn_await_lawyer_1075.disabled = true;
                                  btn_progress_now_1075.disabled = true;
                                  btn_progress_later_1075.disabled = true;">
                      
    
                      <input id="btn_await_lawyer_3011" title="Refer case Y555RWW to a lawyer" type="submit" name="Waiting_for_lawyer" class="govuk-link govuk-link--no-visited-state case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Waiting for lawyer" formaction="await_lawyer/3011?lr_ref_number=DU164181&amp;lr_work_ref=D348RWW">
    
                      <span class="govuk-visually-hidden">|</span>
    
                      
    <a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
      href="#">Refer<span class="govuk-visually-hidden"> case <abbr>Y555RWW</abbr></span>
    </a>
    
    <span class="govuk-visually-hidden">|</span>
    
    <input id="btn_progress_now_1075" title="Move case Y555RWW into your worklist" type="submit"
    name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">
    
    <span class="govuk-visually-hidden">|</span>
    
    <input id="btn_progress_later_1075" title="Progress case Y555RWW later" type="hidden"
    name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">
    
    <span class="govuk-visually-hidden">|</span>
                        
    <a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
      href="#">Defer<span class="govuk-visually-hidden"> case <abbr>Y555RWW</abbr></span>
    </a>
    
    <span class="govuk-visually-hidden">|</span>
                        
    <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
      href="#"
      id="link_activity_history_Y555RWW"
      data-ga-category="Activity_History_Link_From_Worklist"
      data-ga-action="Activity History link clicked from worklist page"
      data-ga-label="Worklist_Activity_History_Link"
      >View activity history
      <span class="govuk-visually-hidden"> for <abbr>Y555RWW</abbr></span>
    </a>
    
    <span class="govuk-visually-hidden">|</span>
                        
    <a class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
        href="#">
        More info
    <span class="govuk-visually-hidden">: open daylist for case <abbr>Y555RWW</abbr>. Opens in new window.</span></a>
    
    <span class="govuk-visually-hidden">|</span>
                  </form>
              </div>
            </div>
          </td>
      </tr>
    </tbody>    




  </table>