<tbody data-case-ref="E365VWW" class="case case--parent ">
    <tr id="row_10628" class="govuk-table__row case__data_row ">

        
<td class="case__date" id="E365VWW_priority_date" headers="progress_now_priority_dates" data-table-dynamic="Priority date">
    
      
      22 January 2025 
      
    
</td>


        
<td class="case__title-number" id="E365VWW_title_number" headers="progress_now_title_numbers" data-table-dynamic="Title number">
    
        <span class="case__inc">
                
        </span>
        DU164997
        
    
</td>


        
<td id="E365VWW_abr" class="case__abr" headers="progress_now_abrs" data-table-dynamic="ABR">
    
    E365VWW
    
    <div>
          Leading application
    </div>
</td>


        
<td id="E365VWW_cat" class="case__category" headers="progress_now_categories" data-table-dynamic="Category">
    
    
    
    
      Executive Register Update Standard

    
</td>


        
<td class="case__date" id="E365VWW_dobtained" headers="progress_now_dates_obtained" data-table-dynamic="Date obtained">
    
    10 January 2024
    
</td>


        
<td id="E365VWW_next_action" class="case__next-action" headers="progress_now_next_actions" data-table-dynamic="Next action">
    
    
        New - Start to process
    
    
</td>


    </tr>
    

    


    
    <tr id="row_10628_actions" class="govuk-table__row case__actions">
        <td colspan="6" data-table-dynamic="Options">
          <div class="case__actions-wrapper">
            <div class="case__left-hand-actions actions-spacing">

                
                    
<span class="govuk-visually-hidden">|</span>              

                
                
<a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16" href="#"  aria-label="return to e-serve">
  Return to <abbr title="e-serve">ESRV</abbr><span class="govuk-visually-hidden">: case <abbr>E365VWW</abbr> to <abbr>DB2</abbr></span>
</a>

<span class="govuk-visually-hidden">|</span>                

            </div>

            <div class="case__right-hand-actions actions-spacing">

                <form class="case__form" id="change_state_10628" action="#" method="post" novalidate>
                  <!--  onsubmit="btn_await_lawyer_10628.disabled = true; btn_progress_now_10628.disabled = true btn_progress_later_10628.disabled = true;" -->
                  
                    <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                  
                    <input class="case__progress-code" id="hidden_value_progress_10628" type="hidden" name="my_activity_code" value="my_activity_code">
                    <!--input class="case__progress-code" id="hidden_value_progress_10628" type="hidden" name="activity_code" value="PROGRESS_LATER"-->

                    <input id="hidden_value_progress_child_cases_10628" type="hidden" name="child_cases" value="1">

                    <input id="btn_await_lawyer_10628" aria-label="Refer case E365VWW to a lawyer" type="hidden" name="Waiting_for_lawyer" class="case__hyperlink case__await_lawyer_btn
                    govuk-!-font-size-16" value="Waiting for lawyer" formaction="#">
                    
<a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16" href="#">
  Refer<span class="govuk-visually-hidden"> case <abbr>E365VWW</abbr></span>
</a>

<span class="govuk-visually-hidden">|</span>

              
<input aria-label="Move case E365VWW into your worklist" id="btn_progress_now_10628" type="submit" name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn govuk-!-font-size-16" value="Work on this">

<span class="govuk-visually-hidden">|</span>

<!-- ********************************************************************************** -->
                  
    <input id="btn_progress_later_10628" aria-label="Progress case E365VWW later" type="submit" name="my_progress_later" class="govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Progress later">

    <span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16" href="#">
  Defer <span class="govuk-visually-hidden">case <abbr>E365VWW</abbr></span>
</a>
                
<span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="#" id="link_activity_history_E365VWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
  View activity history <span class="govuk-visually-hidden">for <abbr>E365VWW</abbr></span>
</a>

<span class="govuk-visually-hidden">|</span>
                    
<a href="#" class="govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
    More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619SWW</abbr>. Opens in new tab.</span>
</a>

<span class="govuk-visually-hidden">|</span>
                    
<a href="#" class="govuk-link govuk-link--no-visited-state case__my-notes case__anchor govuk-!-font-size-16" target="_blank">
    My notes<span class="govuk-visually-hidden">: for case <abbr>N619SWW</abbr></span>
</a>            

<!--span class="govuk-visually-hidden">|</span>

<button id="btn_show_attached_N619SWW" class="case__expand case__hyperlink case__anchor govuk-!-font-size-16 govuk-link">
  <span class="case__expand-verb" id="attached_apps_verb_N619SWW">Show</span> attached applications <span class="govuk-visually-hidden">for <abbr>N619SWW</abbr></span> <span class="case__expand-symbol" id="attached_apps_operator_N619SWW">&plus;</span>
</button-->
                
                </form>
            </div>

            <div class="hmlr-table-dynamic__expandable" aria-hidden="true">

              <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                  My notes
                </label>
                <textarea class="govuk-textarea resize-ta" id="more-detail" name="moreDetail" rows="5"></textarea>
                <button type="submit" class="govuk-button">Save</button>
              </div>

            </div>


          </div>
        </td>
    </tr>
    
</tbody>
        
<tbody data-case-ref="D365VWW" class="case" data-parent="E365VWW">
    <tr id="row_10629" class="govuk-table__row case__data_row ">

        
<td class="case__date">
    26 August 2024
</td>


        
<td class="case__title-number" id="D365VWW_title_number" headers="progress_now_title_numbers">
    
        <span class="case__inc">
                
        </span>
        DU164998
        
    
</td>


        
<td id="D365VWW_abr" class="case__abr" headers="progress_now_abrs">
    
    D365VWW
    
    <div>
          Attached to E365VWW 
    </div>
</td>


        
<td id="D365VWW_cat" class="case__category" headers="progress_now_categories">
    
    
    
    
      Executive Register Update Standard

    
</td>


        
<td class="case__date" id="D365VWW_dobtained" headers="progress_now_dates_obtained">
    
    25 January 2024
    
</td>


        
<td id="D365VWW_next_action" class="case__next-action" headers="progress_now_next_actions">
    
    
        New - Start to process
    
    
</td>


    </tr>
    


    
    <tr id="row_10629_actions" class="govuk-table__row case__actions">
        <td colspan="6">
          <div class="case__actions-wrapper">
            <div class="case__left-hand-actions actions-spacing">

                

    
<a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16" href="#"  aria-label="return to e-serve">
  Return to <abbr title="e-serve">ESRV</abbr><span class="govuk-visually-hidden">: case <abbr>E365VWW</abbr> to <abbr>DB2</abbr></span>
</a>


                    
<span class="govuk-visually-hidden">|</span>                 

                

            </div>

            <div class="case__right-hand-actions actions-spacing">

                <form class="case__form" id="change_state_10629" action="#" method="post" onsubmit="btn_await_lawyer_10629.disabled = true;
                              btn_progress_now_10629.disabled = true;
                              btn_progress_later_10629.disabled = true;" novalidate>
                  
<input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">

<input class="case__progress-code" id="hidden_value_progress_10629" type="hidden" name="activity_code" value="PROGRESS_LATER">

<span class="govuk-visually-hidden">|</span>       

<input id="hidden_value_progress_child_cases_10629" type="hidden" name="child_cases" value="0">




                
                    
<a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="#" id="link_activity_history_D365VWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
  View activity history <span class="govuk-visually-hidden">for <abbr>D365VWW</abbr></span>
</a>

<span class="govuk-visually-hidden">|</span>       
                    
<a href="#" class="govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
  More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619XXX</abbr>. Opens in new tab.</span>
</a>

<span class="govuk-visually-hidden">|</span>
                    
<a href="#" class="govuk-link govuk-link--no-visited-state case__my-notes case__anchor govuk-!-font-size-16" target="_blank">
    My notes<span class="govuk-visually-hidden">: for case <abbr>N619XXX</abbr></span>
</a>     
                

                
                </form>
            </div>

            <div class="hmlr-table-dynamic__expandable" aria-hidden="true">

              <div class="govuk-form-group">
                <label class="govuk-label" for="xmore-detail">
                  My notes
                </label>
<textarea class="govuk-textarea" id="xmore-detail" name="xmoreDetail" rows="5">The British weather is famously unpredictable, often changing multiple times in a single day. 
    
This variability is largely due to the UK's geographical location, which places it at the meeting point of several different air masses. These air masses bring a mix of weather conditions, from the cold, dry air from the Arctic to the warm, moist air from the Atlantic. As a result, the weather can be quite changeable, with sunny spells quickly giving way to showers and vice versa.

=== My updates ===

One of the most notable features of the British weather is its mildness. The UK rarely experiences extreme temperatures, thanks to the moderating influence of the surrounding seas. Winters are generally cool rather than bitterly cold, with average temperatures hovering around 0-7°C (32-45°F). Snowfall is relatively rare and usually light when it does occur, although some areas, particularly in Scotland and northern England, can see more significant snowfalls.

Summers in the UK are also relatively mild, with average temperatures ranging from 15-25°C (59-77°F). Heatwaves do occur occasionally, with temperatures sometimes reaching 30°C (86°F) or higher, but these are usually short-lived. The summer months are also the sunniest time of the year, although even in summer, the weather can be quite variable, with sunny days often interspersed with periods of cloud and rain. 

--------------

This week:

Rain is a common feature of the British weather, with the UK receiving an average of 885 mm (34.8 inches) of rainfall per year. The wettest months are typically October to January, while the driest months are usually April to June. However, rainfall can occur at any time of year, and it is not uncommon for a single day to see both heavy downpours and bright sunshine. The west of the country tends to be wetter than the east, with areas such as the Lake District and western Scotland receiving the highest amounts of rainfall.

The British weather is also known for its windiness, particularly in coastal areas. The prevailing winds come from the southwest, bringing moist air from the Atlantic. These winds can be quite strong, especially during the autumn and winter months, when storms are more frequent. The strongest winds are usually associated with low-pressure systems that move in from the Atlantic, bringing gales and heavy rain.

Despite its reputation for being grey and rainy, the UK does enjoy its fair share of fine weather. Spring and early summer can be particularly pleasant, with long days and plenty of sunshine. The countryside comes to life with blooming flowers and lush greenery, making it a great time for outdoor activities. Autumn can also be a beautiful season, with the changing leaves providing a stunning backdrop to the crisp, clear days.

In conclusion, the British weather is a complex and ever-changing phenomenon, influenced by a variety of factors including geography, air masses, and the surrounding seas. While it can be unpredictable and sometimes frustrating, it also has its charms, offering a diverse range of conditions that can be enjoyed throughout the year. Whether it's a sunny summer's day, a crisp autumn morning, or a snowy winter's evening, there's always something to appreciate about the British weather.

                
                
                </textarea>

                  <button type="submit" class="govuk-button">Save</button>

              </div>

            </div>


          </div>
        </td>
    </tr>
    
</tbody>

<script>

    //case__more-info-link 
    //window.onload = (event) => {
      //alert('fired');
    //};
    
    
    
    document.addEventListener('DOMContentLoaded', function() {
    
    
        function checkIfTblsExist() {
          const tbl1 = document.getElementById(progress_now_table);
          const tbl2 = document.getElementById(progress_later_table);
          if (tbl1 || tbl2) {
              return true;
          } else {
              return false;
          }
        }
        
        //*** start open/close of notes divs/textarea ... ***
        if (checkIfTblsExist) {//only run code if we're on the right page!
    
          const defH = 123;//default height of textarea form element (= 5 rows) as a const. 
          var defaultHeight = defH;//this var gets updated/changed regularly
          const extraPadding = 84;//extra needed by expandable div for bottom "padding"
    
          const mainContent = document.getElementById('main-content');
          const links = mainContent.getElementsByClassName('case__my-notes');
          const expandableDivs = mainContent.querySelectorAll('.hmlr-table-dynamic__expandable');
          
          expandableDivs.forEach(function(d) {
              d.style.maxHeight = '0px';//for slide open animation: setting now to save time later
          });  
          
          function calcHeight(value) {
            let numberOfLineBreaks = (value.match(/\n/g) || []).length;
            // min-height + lines x line-height + padding + border (adjust to size)
            let newHeight = 20 + numberOfLineBreaks * 20 + 20 + 2;//defaultHeight replaced the number 20
            return newHeight;
          }      
    
          for (var i = 0; i < links.length; i++) {// Add an event listener to each 'Show my notes' link
            (function(index) {
              links[index].addEventListener('click', function(e) {
                e.preventDefault();
    
    
                //var thisTextArea = null; 
                var tdEle = this.closest('td'); // Navigate dom up to the closest td element
                var wrapEleHeight = tdEle.querySelector('.case__actions-wrapper');
    
                if (tdEle) {
                    var expandableEle = tdEle.querySelector('.hmlr-table-dynamic__expandable');
                    
                    //textarea field start >>>>
                    var thisTextArea = expandableEle.querySelector('textarea');
                    //var textAreaHeight = calcHeight(thisTextArea.value); 


                    thisTextArea.style.height = 'auto';
                    let textAreaHeight = (thisTextArea.scrollHeight - (extraPadding / 2));  //extraPadding + 20                  




                    defaultHeight = defH;//important to reset it here

                    if(textAreaHeight <= defaultHeight){
                      textAreaHeight = defaultHeight;
                    }else{// += 325
                      defaultHeight = textAreaHeight;//reset default height if textarea content height is greater
                    }
                    
                    thisTextArea.style.height = defaultHeight + 'px';
                    //textarea field end <<<<
    
                    
                    expandableEle.classList.toggle('hmlr-table-dynamic__expandable--show');//add css 'slide opening' class                 
                    expandableEle.setAttribute('aria-hidden', expandableEle.getAttribute('aria-hidden') === 'true' ? 'false' : 'true');//so that wcag knows if its visible
    
                    var boxSize = expandableEle.getAttribute('data-divheight');

                    if (boxSize === null){//before first click/opening
                      defaultHeight = defaultHeight + extraPadding;
                      
                      boxSize = defaultHeight + 'px';//set boxSize to the default height; used for updating max-height on expandable div
                      
                    } else {//this else section starts to grow the textarea height once the default height is breached
                      var currentMaxHeight = expandableEle.style.maxHeight;
      
                      if(currentMaxHeight === '0px'){
                        boxSize = boxSize;
                      }else{

                        if(parseFloat(currentMaxHeight) <= parseFloat(defaultHeight)){//if current value is less than the default height
                          boxSize = defaultHeight;
                        }else{
                          boxSize = currentMaxHeight;
                        }
                        
                      }
                    }
    
                    expandableEle.setAttribute('data-divheight', boxSize);//expandableEle.style.maxHeight
    
                    if (expandableEle.style.maxHeight === '0px') {//if it is closed
                      //alert('>>> ' + boxSize);  
                        expandableEle.style.maxHeight = (parseFloat(boxSize) + /*extraPadding +*/ 'px');//set the max-height with the data value; when first opening
                      
                    } else {//otherwise store the height from the css max-height in the data- attr, to use for reopening next time
                      //alert('xxx ' + boxSize);  
                      expandableEle.setAttribute('data-divheight', expandableEle.style.maxHeight);
                      expandableEle.style.maxHeight = '0px';
                      wrapEleHeight.style.cssText = 'max-height: auto;';
                    }
    
                }
              });
            })(i);
          }
          //end open/close of notes divs/textarea.

          //*** start the typing keyup events to grow the size of the textarea .... ***
          expandableDivs.forEach(expandableDiv => {
            const wrapperEleHeight = expandableDiv.closest('.case__actions-wrapper');
            const expandableEleHeight = wrapperEleHeight.offsetHeight;
            const textarea = expandableDiv.querySelector('textarea'); 
    
            if (textarea) {
/*
let scrollPosition = window.scrollY;

textarea.addEventListener('focus', function() {
    scrollPosition = window.scrollY;
});

textarea.addEventListener('keydown', function(event) {
    window.scrollTo(0, scrollPosition);
});
*/
//textarea.addEventListener('keyup', function(event) {
    //window.scrollTo(0, scrollPosition);
//});

//textarea.addEventListener('input', function(event) {
    //window.scrollTo(0, scrollPosition);
//}); 
             

                textarea.addEventListener("keyup", (e) => { 
                  e.preventDefault();
                  //scrollPosition = window.scrollY;
                  //window.scrollTo(0, scrollPosition);
                  

                  let divHeight2 = calcHeight(textarea.value);
                    
                  if(divHeight2 >= defH){
                    textarea.style.height = 'auto';
                    let divHeight = textarea.scrollHeight;//(textarea.scrollHeight - extraPadding + 20);

                    wrapperEleHeight.style.height = (expandableEleHeight + divHeight + 12) + "px";//*** 12
                    expandableDiv.style.cssText = 'max-height: '+ (expandableEleHeight + divHeight + extraPadding) + "px;";
                    textarea.style.height = divHeight + "px";//textarea.style.height = ((divHeight - extraPadding + 20) + "px");
                  }
                  
                });
    
                /*IMPORTANT WIP:  >>>>>> DECTECT IF COPY AND PASTED AND IF SO THEN ADD CSS INSTRUCTION FOR OVERFLOW AUTO */
                /*const handleInput = (event) => {
                  let divHeight = calcHeight(textarea.value);
    
                    if(divHeight > defaultHeight){
                      wrapperEleHeight.style.height = (expandableEleHeight + divHeight + 12) + "px";//*** 12
                      expandableDiv.style.cssText = 'max-height: '+ (expandableEleHeight + divHeight + extraPadding) + "px;";
                      textarea.style.height = divHeight + "px";
                    }
                };
                textarea.addEventListener("keyup", handleInput);
                textarea.addEventListener("paste", handleInput);*/
    
    
            }
          });
          //*** end the typing keyup events to grow the size of the textarea. ***
        }  
    
    });
    </script>