<nav><!-- aria-label="Secondary" -->
    


    <ul class="govuk-list hmlr-left-nav">
        <li>
            <a href="ui-c-complex-0.html" class="govuk-link govuk-link--no-visited-state">
                Home
            </a>
        </li>
        <li>
            <a href="ui-c-complex-2.html" class="govuk-link govuk-link--no-visited-state">
                Progress Now&nbsp;<span>(1)</span>
            </a>
        </li>
        <li class="hmlr-left-nav__active--child hmlr-left-nav__active">
            <a href="#" class="govuk-link govuk-link--no-visited-state" aria-current="page">
                Progress Later&nbsp;<span>(8)</span>
            </a> 

            <ul class="govuk-list">
                <li>
                    <a href="ui-c-complex-3.html" class="govuk-link govuk-link--no-visited-state">
                        Expedited&nbsp;<span>(2)</span>
                    </a> 
                </li>
                <li>
                    <a href="ui-c-complex-4.html" class="govuk-link govuk-link--no-visited-state">
                        Referred&nbsp;<span>(3)</span>
                    </a> 
                </li> 
                <li>
                    <a href="ui-c-complex-5.html" class="govuk-link govuk-link--no-visited-state">
                        My flagged cases&nbsp;<span>(3)</span>
                    </a> 
                </li>                            
            </ul>            
        </li>        
        <li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Select a category of work
            </a>
        </li>
        <!--li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Production information
            </a>
        </li--> 
        <li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Manage assigned work
            </a>
        </li> 
        <!--li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Report an issue
            </a>
        </li-->
        <li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Search
            </a>
        </li>         
    </ul>
    
</nav>    