<nav><!-- aria-label="Secondary" -->
    
    <ul class="govuk-list hmlr-left-nav">
        <li class="hmlr-left-nav__active--child">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                My Worklist
            </a>

            <ul class="govuk-list">
                <li>
                    <a href="#" class="govuk-link govuk-link--no-visited-state">
                        Progress Now&nbsp;<span>(1)</span>
                    </a> 
                </li>
                <li class="hmlr-left-nav__active">
                    <a href="#" class="govuk-link govuk-link--no-visited-state" aria-current="page">
                        Progress Later&nbsp;<span>(8)</span>
                    </a> 
                </li>            
            </ul>
        </li>
        <li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Select a category of work
            </a>
        </li>
 
        <li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Manage assigned work
            </a>
        </li> 

        <li>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                Search
            </a>
        </li>         
    </ul>
    
</nav>    