{% extends "layouts/wf_layout_legacy.html" %}

{% set pageName="Index" %}

{% block content %}



<noscript>
  <div class="warning media">
      <div class="media__item">
          <i class="icon icon-important">
              <span class="visuallyhidden">Warning</span>
          </i>
      </div>
      <div class="media__body">
          <h2 class="govuk-heading-s spacing-bottom-flush">JavaScript is disabled</h2>
          <p class="spacing-top-flush">You must have JavaScript turned on to use this page</p>
      </div>
  </div>
</noscript>

<div id="worklist_page">
<meta property="proc_party" content="1510">

<div id="data-progress-now-table" data-progress-now-table>
  
  
      <h1 id="my_worklist_header" class="govuk-heading-l worklist__header">
  
  My Worklist : 1 application
  
      </h1>
  


  <p class="govuk-body">
    
    Your category of work is <span class="bold">Application Processing: Executive Register Update Standard</span>.
    
    <a href="#" title="Select category of work page" class="govuk-link">Change your category of work</a>.
  </p>

    

  
      <div class="panel panel-border-narrow alert-success" hidden>
          <p id="last_action_performed" class="govuk-body">
              None
          </p>
      </div>
  


    

  
<table id="progress_now_table" class="govuk-table worklist__table ">
  
      <caption class="govuk-table__caption govuk-table__caption--m">Work items in My Worklist</caption>
  

  

  <thead class="govuk-table__head">
      <tr class="govuk-table__row worklist-black-border">
          <th class="govuk-table__header" id="progress_now_priority_dates" scope="col">Priority date</th>
          <th class="govuk-table__header" id="progress_now_title_numbers" scope="col">Title number</th>
          <th class="govuk-table__header" id="progress_now_abrs" scope="col"><abbr title="A B R">ABR</abbr></th>
          <th class="govuk-table__header" id="progress_now_categories" scope="col">Category</th>
          <th class="govuk-table__header" id="progress_now_dates_obtained" scope="col">Date obtained</th>
          <th class="govuk-table__header" id="progress_now_next_actions" scope="col">Next action</th>
      </tr>
  </thead>

  
      
  <tbody data-case-ref="M390SWW" class="case  " >
      <tr id="row_3835" class="govuk-table__row case__data_row " >

          
  <td class="case__date" id="M390SWW_priority_date" headers="progress_now_priority_dates">
      
        
        9 February 2023
        
      
  </td>


          
  <td class="case__title-number" id="M390SWW_title_number" headers="progress_now_title_numbers">
      
          <span class="case__inc">
                  
          </span>
          DU164415
          
      
  </td>


          
  <td id="M390SWW_abr" class="case__abr" headers="progress_now_abrs">
      
      M390SWW
      
      <div>
           
      </div>
  </td>


          
  <td id="M390SWW_cat" class="case__category" headers="progress_now_categories">
      
      <abbr title="Application Processing: Executive Register Update Standard">
        Application Processing: Executive Register Update Standard
      </abbr>
      
  </td>


          
  <td class="case__date" id="M390SWW_dobtained" headers="progress_now_dates_obtained">
      
      6 November 2023
      
  </td>


          
  <td id="M390SWW_next_action" class="case__next-action" headers="progress_now_next_actions">
      
      
          New - Start to process
      
      
  </td>


      </tr>
      
  
      
  

      
      <tr id="row_3835_actions" class="govuk-table__row case__actions">
          <td colspan="6">
            <div class="case__actions-wrapper">
              <div class="case__left-hand-actions actions-spacing">

                  
                      
                          
  <a href="#"
  id="open_btn_M390SWW"
  title="Open Casework UI to start processing case M390SWW"
  aria-label="Open Casework UI to start processing case M390SWW"
  class="wf-button">Open</a>

                      
                  

                  
                  
  <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" href="#" aria-label="return to e-serve"
     title="Return case M390SWW to DB2">Return to ESRV</a>

                  

              </div>

              <div class="case__right-hand-actions actions-spacing">

                  <form class="case__form"
                      id="change_state_3835"
                      action="change_state/3835?lr_ref_number=DU164415&lr_work_ref=M390SWW"
                      method="post"
                      onsubmit="btn_await_lawyer_3835.disabled = true;
                                btn_progress_now_3835.disabled = true;
                                btn_progress_later_3835.disabled = true;">
                    
                      <input name="csrf_token" type="hidden" value="IjhmNjZiMWQ5YjRlZjNjNTk3M2U0YTA3YjEzZTQyZWI3M2ViYzFiOTEi.ZUkTKw.7AaQNhbPCwTka2teo6jvwEf55og">
                    
                    
                      
                    

                      <input class="case__progress-code" id="hidden_value_progress_3835" type="hidden" name="activity_code" value=PROGRESS_LATER>

                      <input id="hidden_value_progress_child_cases_3835" type="hidden" name="child_cases" value=0>


                  

                      
      <input id="btn_await_lawyer_3835"
             title="Refer case M390SWW to a lawyer"
             type="submit"
             name="Waiting_for_lawyer"
             class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48
                hidden govuk-!-font-size-16"
             value = "Waiting for lawyer"
             hidden
             formaction="await_lawyer/3835?lr_ref_number=DU164415&lr_work_ref=M390SWW">


                      
  <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     title="Refer case: M390SWW"
     href="#">Refer</a>


                      
      <input id="btn_progress_now_3835" title="Move case M390SWW into your worklist" type="submit"
          name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn hidden govuk-!-font-size-16  govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Work on this">


      
      <input id="btn_progress_later_3835" title="Progress case M390SWW later" type="submit"
          name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16  govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Progress later">


                      
  <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     title="Defer case M390SWW">Defer</a>

                  

                  
                      
  <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event  govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     id="link_activity_history_M390SWW"
     title="Activity history for M390SWW"
     aria-label="Activity history for M390SWW"
     data-ga-category="Activity_History_Link_From_Worklist"
     data-ga-action="Activity History link clicked from worklist page"
     data-ga-label="Worklist_Activity_History_Link"
     >View Activity History</a>


                      
  <a
      class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16  govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
      title="Open daylist for case M390SWW"
      aria-label="Open daylist for case M390SWW"
      href="#">
      More info</a>

                  

                  
                  </form>
              </div>
            </div>
          </td>
      </tr>
      
  </tbody>

      
  
</table>


</div>

  

  <script type="application/json" id="action_messages">
    <!-- removed for this flat design file -->
  </script>


  
  <div class="govuk-form-group">
    <form action="/worklist-ui/ap-orchestrations" method="post">
      
        <input name="csrf_token" type="hidden" value="IjhmNjZiMWQ5YjRlZjNjNTk3M2U0YTA3YjEzZTQyZWI3M2ViYzFiOTEi.ZUkTKw.7AaQNhbPCwTka2teo6jvwEf55og">
      
      <input type="submit" id="button_obtain" value="Obtain" class="govuk-button button-large hidden" data-double-click-prevention>
    </form>
  </div>
  


<div id="data-progress-later-table" data-progress-later-table>
  
  
      <h2 id="progress_later_header" class="govuk-heading-l worklist__header " >
  
  Progress Later : 4 applications
  
      </h2>
  

  
<table id="progress_later_table" class="govuk-table worklist__table ">
  

  
      <caption class="govuk-table__caption govuk-table__caption--m">Work items in progress later</caption>
  

  <thead class="govuk-table__head">
      <tr class="govuk-table__row worklist-black-border">
          <th class="govuk-table__header" id="progress_later_priority_dates" scope="col">Priority date</th>
          <th class="govuk-table__header" id="progress_later_title_numbers" scope="col">Title number</th>
          <th class="govuk-table__header" id="progress_later_abrs" scope="col"><abbr title="A B R">ABR</abbr></th>
          <th class="govuk-table__header" id="progress_later_categories" scope="col">Category</th>
          <th class="govuk-table__header" id="progress_later_dates_obtained" scope="col">Date obtained</th>
          <th class="govuk-table__header" id="progress_later_next_actions" scope="col">Next action</th>
      </tr>
  </thead>

  
      
  <tbody data-case-ref="E076RWW" class="case  " >
      <tr id="row_2141" class="govuk-table__row case__data_row " >

          
  <td class="case__date" id="E076RWW_priority_date" headers="progress_later_priority_dates">
      
        
        17 June 2022
        
      
  </td>


          
  <td class="case__title-number" id="E076RWW_title_number" headers="progress_later_title_numbers">
      
          <span class="case__inc">
                  
          </span>
          DU164181
          
      
  </td>


          
  <td id="E076RWW_abr" class="case__abr" headers="progress_later_abrs">
      
      E076RWW
      
      <div>
           
      </div>
  </td>


          
  <td id="E076RWW_cat" class="case__category" headers="progress_later_categories">
      
      <abbr title="Volume Change of Ownership Actionable Deferral: Requisition">
        Volume Change of Ownership Actionable Deferral: Requisition
      </abbr>
      
  </td>


          
  <td class="case__date" id="E076RWW_dobtained" headers="progress_later_dates_obtained">
      
      31 August 2023
      
  </td>


          
  <td id="E076RWW_next_action" class="case__next-action" headers="progress_later_next_actions">
      
      
          Issue reminder
      
      
  </td>


      </tr>
      
  
      
          <tr id="row_E076RWW_dates" class="row__dates">
              <td colspan="6">
                <div class="date-wrapper">
                  
                      <div id="E076RWW_rfd_date">
                          Release from deferral date: 16 May 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="E076RWW_bf_date">
                          Bring forward date: 27 April 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="E076RWW_canc_date">
                          Cancellation date: 30 May 2023
                      </div>
                  
                  
                </div>
              </td>
          </tr>
      
  

      
      <tr id="row_2141_actions" class="govuk-table__row case__actions">
          <td colspan="6">
            <div class="case__actions-wrapper">
              <div class="case__left-hand-actions actions-spacing">

                  

                  
                  
  <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" href="#" aria-label="return to e-serve"
     title="Return case E076RWW to DB2">Return to ESRV</a>

                  

              </div>

              <div class="case__right-hand-actions actions-spacing">

                  <form class="case__form"
                      id="change_state_2141"
                      action="change_state/2141?lr_ref_number=DU164181&lr_work_ref=E076RWW"
                      method="post"
                      onsubmit="btn_await_lawyer_2141.disabled = true;
                                btn_progress_now_2141.disabled = true;
                                btn_progress_later_2141.disabled = true;">
                    
                      <input name="csrf_token" type="hidden" value="IjhmNjZiMWQ5YjRlZjNjNTk3M2U0YTA3YjEzZTQyZWI3M2ViYzFiOTEi.ZUkTKw.7AaQNhbPCwTka2teo6jvwEf55og">
                    
                     
                    

                      <input class="case__progress-code" id="hidden_value_progress_2141" type="hidden" name="activity_code" value=PROGRESS_NOW>

                      <input id="hidden_value_progress_child_cases_2141" type="hidden" name="child_cases" value=0>


                  

                      
      <input id="btn_await_lawyer_2141"
             title="Refer case E076RWW to a lawyer"
             type="submit"
             name="Waiting_for_lawyer"
             class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48
                 govuk-!-font-size-16"
             value = "Waiting for lawyer"
             
             formaction="await_lawyer/2141?lr_ref_number=DU164181&lr_work_ref=E076RWW">


                      
  <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     title="Refer case: E076RWW"
     href="#">Refer</a>


                      
      <input id="btn_progress_now_2141" title="Move case E076RWW into your worklist" type="submit"
          name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn  govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Work on this">


                      
      <input id="btn_progress_later_2141" title="Progress case E076RWW later" type="submit"
          name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn hidden govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Progress later">


                      
  <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     title="Defer case E076RWW">Defer</a>

                  

                  
                      
  <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     id="link_activity_history_E076RWW"
     title="Activity history for E076RWW"
     aria-label="Activity history for E076RWW"
     data-ga-category="Activity_History_Link_From_Worklist"
     data-ga-action="Activity History link clicked from worklist page"
     data-ga-label="Worklist_Activity_History_Link"
     >View Activity History</a>


                      
  <a
      class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
      title="Open daylist for case E076RWW"
      aria-label="Open daylist for case E076RWW"
      href="#">
      More info</a>

                  

                  
                  </form>
              </div>
            </div>
          </td>
      </tr>
      
  </tbody>

      
  
      
  <tbody data-case-ref="V567RWW" class="case  " >
      <tr id="row_2575" class="govuk-table__row case__data_row " >

          
  <td class="case__date" id="V567RWW_priority_date" headers="progress_later_priority_dates">
      
        
        27 July 2022
        
      
  </td>


          
  <td class="case__title-number" id="V567RWW_title_number" headers="progress_later_title_numbers">
      
          <span class="case__inc">
                  
          </span>
          DU164325
          
      
  </td>


          
  <td id="V567RWW_abr" class="case__abr" headers="progress_later_abrs">
      
      V567RWW
      
      <div>
           
      </div>
  </td>


          
  <td id="V567RWW_cat" class="case__category" headers="progress_later_categories">
      
      <abbr title="Volume Change of Ownership Actionable Deferral: Requisition">
        Volume Change of Ownership Actionable Deferral: Requisition
      </abbr>
      
  </td>


          
  <td class="case__date" id="V567RWW_dobtained" headers="progress_later_dates_obtained">
      
      12 September 2023
      
  </td>


          
  <td id="V567RWW_next_action" class="case__next-action" headers="progress_later_next_actions">
      
      
          Issue reminder
      
      
  </td>


      </tr>
      
  
      
          <tr id="row_V567RWW_dates" class="row__dates">
              <td colspan="6">
                <div class="date-wrapper">
                  
                      <div id="V567RWW_rfd_date">
                          Release from deferral date: 16 May 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="V567RWW_bf_date">
                          Bring forward date: 28 April 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="V567RWW_canc_date">
                          Cancellation date: 31 May 2023
                      </div>
                  
                  
                </div>
              </td>
          </tr>
      
  

      
      <tr id="row_2575_actions" class="govuk-table__row case__actions">
          <td colspan="6">
            <div class="case__actions-wrapper">
              <div class="case__left-hand-actions actions-spacing">

                  

                  
                  
  <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" href="#" aria-label="return to e-serve"
     title="Return case V567RWW to DB2">Return to ESRV</a>

                  

              </div>

              <div class="case__right-hand-actions actions-spacing">

                  <form class="case__form"
                      id="change_state_2575"
                      action="change_state/2575?lr_ref_number=DU164325&lr_work_ref=V567RWW"
                      method="post"
                      onsubmit="btn_await_lawyer_2575.disabled = true;
                                btn_progress_now_2575.disabled = true;
                                btn_progress_later_2575.disabled = true;">
                    
                      <input name="csrf_token" type="hidden" value="IjhmNjZiMWQ5YjRlZjNjNTk3M2U0YTA3YjEzZTQyZWI3M2ViYzFiOTEi.ZUkTKw.7AaQNhbPCwTka2teo6jvwEf55og">
                    
                     
                    

                      <input class="case__progress-code" id="hidden_value_progress_2575" type="hidden" name="activity_code" value=PROGRESS_NOW>

                      <input id="hidden_value_progress_child_cases_2575" type="hidden" name="child_cases" value=0>


                  

                      
      <input id="btn_await_lawyer_2575"
             title="Refer case V567RWW to a lawyer"
             type="submit"
             name="Waiting_for_lawyer"
             class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48
                 govuk-!-font-size-16"
             value = "Waiting for lawyer"
             
             formaction="await_lawyer/2575?lr_ref_number=DU164325&lr_work_ref=V567RWW">


                      
  <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     title="Refer case: V567RWW"
     href="#">Refer</a>


                      
      <input id="btn_progress_now_2575" title="Move case V567RWW into your worklist" type="submit"
          name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn  govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Work on this">


                      
      <input id="btn_progress_later_2575" title="Progress case V567RWW later" type="submit"
          name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn hidden govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Progress later">


                      
  <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     title="Defer case V567RWW">Defer</a>

                  

                  
                      
  <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     id="link_activity_history_V567RWW"
     title="Activity history for V567RWW"
     aria-label="Activity history for V567RWW"
     data-ga-category="Activity_History_Link_From_Worklist"
     data-ga-action="Activity History link clicked from worklist page"
     data-ga-label="Worklist_Activity_History_Link"
     >View Activity History</a>


                      
  <a
      class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
      title="Open daylist for case V567RWW"
      aria-label="Open daylist for case V567RWW"
      href="#">
      More info</a>

                  

                  
                  </form>
              </div>
            </div>
          </td>
      </tr>
      
  </tbody>

      
  
      
  <tbody data-case-ref="G667RWW" class="case  " >
      <tr id="row_2582" class="govuk-table__row case__data_row " >

          
  <td class="case__date" id="G667RWW_priority_date" headers="progress_later_priority_dates">
      
        
        27 July 2022
        
      
  </td>


          
  <td class="case__title-number" id="G667RWW_title_number" headers="progress_later_title_numbers">
      
          <span class="case__inc">
                  
          </span>
          DU164326
          
      
  </td>


          
  <td id="G667RWW_abr" class="case__abr" headers="progress_later_abrs">
      
      G667RWW
      
      <div>
           
      </div>
  </td>


          
  <td id="G667RWW_cat" class="case__category" headers="progress_later_categories">
      
      <abbr title="Volume Change of Ownership Actionable Deferral: Requisition">
        Volume Change of Ownership Actionable Deferral: Requisition
      </abbr>
      
  </td>


          
  <td class="case__date" id="G667RWW_dobtained" headers="progress_later_dates_obtained">
      
      14 September 2023
      
  </td>


          
  <td id="G667RWW_next_action" class="case__next-action" headers="progress_later_next_actions">
      
      
          Issue reminder
      
      
  </td>


      </tr>
      
  
      
          <tr id="row_G667RWW_dates" class="row__dates">
              <td colspan="6">
                <div class="date-wrapper">
                  
                      <div id="G667RWW_rfd_date">
                          Release from deferral date: 17 July 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="G667RWW_bf_date">
                          Bring forward date: 6 June 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="G667RWW_canc_date">
                          Cancellation date: 4 July 2023
                      </div>
                  
                  
                </div>
              </td>
          </tr>
      
  

      
      <tr id="row_2582_actions" class="govuk-table__row case__actions">
          <td colspan="6">
            <div class="case__actions-wrapper">
              <div class="case__left-hand-actions actions-spacing">

                  

                  
                  
  <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" href="#" aria-label="return to e-serve"
     title="Return case G667RWW to DB2">Return to ESRV</a>

                  

              </div>

              <div class="case__right-hand-actions actions-spacing">

                  <form class="case__form"
                      id="change_state_2582"
                      action="change_state/2582?lr_ref_number=DU164326&lr_work_ref=G667RWW"
                      method="post"
                      onsubmit="btn_await_lawyer_2582.disabled = true;
                                btn_progress_now_2582.disabled = true;
                                btn_progress_later_2582.disabled = true;">
                    
                      <input name="csrf_token" type="hidden" value="IjhmNjZiMWQ5YjRlZjNjNTk3M2U0YTA3YjEzZTQyZWI3M2ViYzFiOTEi.ZUkTKw.7AaQNhbPCwTka2teo6jvwEf55og">
                    
                     
                    

                      <input class="case__progress-code" id="hidden_value_progress_2582" type="hidden" name="activity_code" value=PROGRESS_NOW>

                      <input id="hidden_value_progress_child_cases_2582" type="hidden" name="child_cases" value=0>


                  

                      
      <input id="btn_await_lawyer_2582"
             title="Refer case G667RWW to a lawyer"
             type="submit"
             name="Waiting_for_lawyer"
             class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48
                 govuk-!-font-size-16"
             value = "Waiting for lawyer"
             
             formaction="await_lawyer/2582?lr_ref_number=DU164326&lr_work_ref=G667RWW">


                      
  <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     title="Refer case: G667RWW"
     href="#">Refer</a>


                      
      <input id="btn_progress_now_2582" title="Move case G667RWW into your worklist" type="submit"
          name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn  govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Work on this">


                      
      <input id="btn_progress_later_2582" title="Progress case G667RWW later" type="submit"
          name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn hidden govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Progress later">


                      
  <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     title="Defer case G667RWW">Defer</a>

                  

                  
                      
  <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     id="link_activity_history_G667RWW"
     title="Activity history for G667RWW"
     aria-label="Activity history for G667RWW"
     data-ga-category="Activity_History_Link_From_Worklist"
     data-ga-action="Activity History link clicked from worklist page"
     data-ga-label="Worklist_Activity_History_Link"
     >View Activity History</a>


                      
  <a
      class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
      title="Open daylist for case G667RWW"
      aria-label="Open daylist for case G667RWW"
      href="#">
      More info</a>

                  

                  
                  </form>
              </div>
            </div>
          </td>
      </tr>
      
  </tbody>

      
  
      
  <tbody data-case-ref="W211SWW" class="case  " >
      <tr id="row_3902" class="govuk-table__row case__data_row " >

          
  <td class="case__date" id="W211SWW_priority_date" headers="progress_later_priority_dates">
      
        
        27 February 2023
        
      
  </td>


          
  <td class="case__title-number" id="W211SWW_title_number" headers="progress_later_title_numbers">
      
          <span class="case__inc">
                  
          </span>
          SK101489
          
      
  </td>


          
  <td id="W211SWW_abr" class="case__abr" headers="progress_later_abrs">
      
      W211SWW
      
      <div>
           
      </div>
  </td>


          
  <td id="W211SWW_cat" class="case__category" headers="progress_later_categories">
      
      <abbr title="Volume Change of Ownership Actionable Deferral: Requisition">
        Volume Change of Ownership Actionable Deferral: Requisition
      </abbr>
      
  </td>


          
  <td class="case__date" id="W211SWW_dobtained" headers="progress_later_dates_obtained">
      
      14 September 2023
      
  </td>


          
  <td id="W211SWW_next_action" class="case__next-action" headers="progress_later_next_actions">
      
      
          Issue reminder
      
      
  </td>


      </tr>
      
  
      
          <tr id="row_W211SWW_dates" class="row__dates">
              <td colspan="6">
                <div class="date-wrapper">
                  
                      <div id="W211SWW_rfd_date">
                          Release from deferral date: 16 May 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="W211SWW_bf_date">
                          Bring forward date: 28 February 2023
                      </div>
                  
                  
                      <div class="spacing-top-third" id="W211SWW_canc_date">
                          Cancellation date: 31 May 2023
                      </div>
                  
                  
                </div>
              </td>
          </tr>
      
  

      
      <tr id="row_3902_actions" class="govuk-table__row case__actions">
          <td colspan="6">
            <div class="case__actions-wrapper">
              <div class="case__left-hand-actions actions-spacing">

                  

                  
                  
  <a class="govuk-link actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" href="#" aria-label="return to e-serve"
     title="Return case W211SWW to DB2">Return to ESRV</a>

                  

              </div>

              <div class="case__right-hand-actions actions-spacing">

                  <form class="case__form"
                      id="change_state_3902"
                      action="change_state/3902?lr_ref_number=SK101489&lr_work_ref=W211SWW"
                      method="post"
                      onsubmit="btn_await_lawyer_3902.disabled = true;
                                btn_progress_now_3902.disabled = true;
                                btn_progress_later_3902.disabled = true;">
                    
                      <input name="csrf_token" type="hidden" value="IjhmNjZiMWQ5YjRlZjNjNTk3M2U0YTA3YjEzZTQyZWI3M2ViYzFiOTEi.ZUkTKw.7AaQNhbPCwTka2teo6jvwEf55og">
                    
                     
                    

                      <input class="case__progress-code" id="hidden_value_progress_3902" type="hidden" name="activity_code" value=PROGRESS_NOW>

                      <input id="hidden_value_progress_child_cases_3902" type="hidden" name="child_cases" value=0>


                  

                      
      <input id="btn_await_lawyer_3902"
             title="Refer case W211SWW to a lawyer"
             type="submit"
             name="Waiting_for_lawyer"
             class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48
                 govuk-!-font-size-16"
             value = "Waiting for lawyer"
             
             formaction="await_lawyer/3902?lr_ref_number=SK101489&lr_work_ref=W211SWW">


                      
  <a class="govuk-link case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     title="Refer case: W211SWW"
     href="#">Refer</a>


                      
      <input id="btn_progress_now_3902" title="Move case W211SWW into your worklist" type="submit"
          name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn  govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Work on this">


                      
      <input id="btn_progress_later_3902" title="Progress case W211SWW later" type="submit"
          name="Progress_later" class="govuk-link case__hyperlink case__progress-later-btn hidden govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48" value="Progress later">


                      
  <a class="govuk-link case__defer-link case__anchor govuk-!-font-size-16"
     href="#"
     title="Defer case W211SWW">Defer</a>

                  

                  
                      
  <a class="govuk-link case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
     href="#"
     id="link_activity_history_W211SWW"
     title="Activity history for W211SWW"
     aria-label="Activity history for W211SWW"
     data-ga-category="Activity_History_Link_From_Worklist"
     data-ga-action="Activity History link clicked from worklist page"
     data-ga-label="Worklist_Activity_History_Link"
     >View Activity History</a>


                      
  <a
      class="govuk-link case__more-info-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48"
      title="Open daylist for case W211SWW"
      aria-label="Open daylist for case W211SWW"
      href="#">
      More info</a>

                  

                  
                  </form>
              </div>
            </div>
          </td>
      </tr>
      
  </tbody>

      
  
</table>

</div>

</div>



{% endblock %}
