{% extends "layouts/main.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Extention of time index - dates
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



          
          <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
            
            Extension of time prototypes - with DATES
            
          </h1>

          <ul class="govuk-list govuk-list--spaced">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/defer-time-dates/one-defer_01.html" target="_blank">Flow 1 - dates: (opens in a new tab)</a><br>
              <span class="govuk-!-font-size-16">The <abbr>MVP</abbr> basic option - moving the current calendar fields out into their own page with a confirmation page and success banner - to resolve <abbr>WCAG</abbr> compliancy.</span>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/defer-time-dates/two-defer_01.html" target="_blank">Flow 2 - dates: (opens in a new tab)</a><br>
              <span class="govuk-!-font-size-16">This version incorporates the legacy calendar fields as an option within the new flow and 'add 20 days' design.</span>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">

          <p class="govuk-body-s">
            Clear the session data from each flow - using the clear data link in the footer - before starting the alternative flow.
          </p>

          <p class="govuk-body-s">
            Tip: To clear the session data for each session, you can use incognito mode or private browsing for each user and close that window tab when you are done. In Chrome (browser) right-click on the link and select 'Open link in incognito mode'.
          </p>

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">
          
          <h2 class="govuk-heading-s govuk-!-margin-bottom-9">
            Error messages
          </h2>
          
          <ul class="govuk-list govuk-list--bullet">
            <li>Select a deferral reason (in the proto)</li>
            <li>Select if you want to extend by 20 working days or enter a new cancellation date (in the proto)</li>
            <li>Enter the new cancellation date (in the proto)</li>
            <li>The new cancellation date must include a day (in the proto)</li>
            <li>The new cancellation date must include a month (in the proto)</li>
            <li>The new cancellation date must include a year (in the proto)</li>
            <li>The new cancellation date must be a real date</li>
            <li>The new cancellation date must be in the future</li>
            <!--li>Or (?), The new cancellation date must be today or in the future</li-->   
            <li>Year must include 4 numbers</li>         
          </ul>


  </div>
</div>




{% endblock %}
