{% extends "layouts/wf_layout_legacy.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Confirm the extension of time
{% endblock %}

{% block beforeContent %}

<a href="one-defer_02.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <form action="one-defer_04" id="id_deferral_category_form" method="post" novalidate>

        <div class="govuk-form-group">
          
          <h1 class="govuk-label-wrapper govuk-!-margin-bottom-6">
            
              Confirm the extension of time
            
          </h1>

          <p class="govuk-body">
            You'll be adding an extension of <span id="forPrototypeOnly2"></span> working days.
          </p>

          <p class="govuk-body">
            The new cancellation date will be {% if data['new-date-day']|length %}
            {{ data['new-date-day'] }} {{ data['new-date-month'] | toMonth }} {{data['new-date-year']}}.
          {% else %}
            .  
          {% endif %}
            
            
          </p> 
          
          <!--br><b> 
           {#  
            {{ data['new-date-day'] | uppercase }} {{ data['new-date-month'] | toMonth | uppercase}}    
           #}
          </b-->
          
        </div>        

         
        
        <div class="govuk-button-group">

          <input type="submit" class="govuk-button" value="Confirm and save">     

          <a class="govuk-link govuk-link--no-visited-state" href="one-defer_02.html">Change the date</a>
        </div>        

      </form>


  </div>
</div>



<script>
  window.onload = (event) => { 

      /* *** this js ONLY for this prototype, not production *** */
      function getWorkingDays(start, end, s, e) {

        if(new Date(e) > new Date(s)){//end(entered date) is after start(today)        
          const oneDay = 24 * 60 * 60 * 1000; // One day in milliseconds
          const startDate = new Date(start);
          const endDate = new Date(end);
          const totalDays = Math.round(Math.abs((endDate - startDate) / oneDay));// Calculate the total days between the two dates
          let workingDays = 0;// Initialize a counter for working days

          for (let i = 0; i <= totalDays; i++) {// Iterate through each day and check if it's a weekday (Monday to Friday)
              const currentDate = new Date(startDate.getTime() + i * oneDay);
              const dayOfWeek = currentDate.getDay();

              if (dayOfWeek !== 0 && dayOfWeek !== 6) {// Check if the day is a weekday (0 = Sunday, 6 = Saturday)
                  workingDays++;
              }
          }

          return workingDays; 

        }else{//start(today) is before end(entered date)

          let workingDays = 0;
          return workingDays;

        }  

      }

      function removeLeadingZero(str) {
          if (str.charAt(0) === '0') {// Remove the first character (if its a zero)
              str = str.substring(1);
          }
          return str;
      }

      //this if statement is if pg data cleared and pg refreshed: the filters need a value of some sort
      {% if data['new-date-day']|length %}

        const myNewDateVal = "{{data['new-date-year']}}-{{data['new-date-month']}}-{{data['new-date-day']}}";
               
      {% else %}

        const myNewDateVal = ;
      {% endif %}
      
      const myNewDate = new Date(myNewDateVal);      
      const myCurrentDate = new Date();   

      let s = myCurrentDate.toDateString();       
      let e = myNewDate.toDateString(); 

      const targetSpan2 = document.getElementById("forPrototypeOnly2");
      const workingDaysCount = getWorkingDays(myCurrentDate, myNewDateVal,s,e);      
      targetSpan2.textContent = workingDaysCount;

  }      
</script>
{% endblock %}
