
      <div class="govuk-radios govuk-!-margin-top-4" data-module="govuk-radios">

        <!-- *** only use 'govuk-!-padding-bottom-1' on labels if there is a hint text *** -->

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="referral" type="radio" name="reason-why" value="referral" aria-describedby="referral-hint" data-aria-controls="conditional-reason-1" {% if (data['reason-why'] == 'referral') %}
          checked
          {% endif %}>
          
          <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="referral">
            Referral
          </label>
          <div id="referral-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
            You intend to refer the case <!--For example, you want to query something with a colleague-->
          </div>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-1">
          <div class="govuk-form-group 
          {% if (data['reason-why'] == 'referral' and data['the-reason-why'] == null) %}
          govuk-form-group--error
          {% endif %}
          ">

            <fieldset class="govuk-fieldset govuk-!-margin-top-5" {% if (data['reason-why'] == 'referral' and data['the-reason-why'] == null) %}aria-describedby="the-reason-why-error"{% endif %}> 

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
                Select a referral reason <!--the case will be referred--> <!--and what it is awaiting-->
              </legend>

              <!--div id="pending-hint" class="govuk-hint govuk-!-margin-bottom-5 govuk-!-font-size-16 govuk-visually-hidden">
                This will will update the Next Action
              </div-->  
              
              {% if (data['reason-why'] == 'referral' and data['the-reason-why'] == null) %}
                <p id="the-reason-why-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Select a referral reason
                </p>
              {% endif %}

              <div class="govuk-radios govuk-radios--small">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="tt1" type="radio" name="the-reason-why" value="tt1" {% if (data['the-reason-why'] == 'tt1') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="tt1">
                    Awaiting <abbr>TT</abbr>1
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="tt2" type="radio" name="the-reason-why" value="tt2" {% if (data['the-reason-why'] == 'tt2') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="tt2">
                    Awaiting <abbr>TT</abbr>2
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="tt3" type="radio" name="the-reason-why" value="tt3" {% if (data['the-reason-why'] == 'tt3') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="tt3">
                    Awaiting <abbr>TT</abbr>3 / Lawyer
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="hro" type="radio" name="the-reason-why" value="hro" {% if (data['the-reason-why'] == 'hro') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="hro">
                    Awaiting <abbr>HRO</abbr>
                  </label>
                </div>  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="eo" type="radio" name="the-reason-why" value="eo" {% if (data['the-reason-why'] == 'eo') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="eo">
                    Awaiting <abbr>RO</abbr>
                  </label>
                </div>                                                                 
              
              </div>

            </fieldset>

          </div>
        </div>  
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="pending" type="radio" name="reason-why" value="pending" data-aria-controls="conditional-reason-2" {% if (data['reason-why'] == 'pending') %}
          checked
          {% endif %}>    <!--  aria-describedby="pending-hint"  -->
          
          <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="pending">
            Other
          </label>
          <!--<div id="pending-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
            Reasons other than a referral          
          </div>-->
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-2">
          <div class="govuk-form-group 
          {% if (data['reason-why'] == 'pending' and data['the-reason-why'] == null) %}
          govuk-form-group--error
          {% endif %}
          ">

            <fieldset class="govuk-fieldset govuk-!-margin-top-5" aria-describedby="pending-hint 
            {% if (data['reason-why'] == 'pending' and data['the-reason-why'] == null) %}
            govuk-form-group--error
            {% endif %}
            ">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
                Select a <!--pending--> reason
              </legend>

              <div id="pending-hint" class="govuk-hint govuk-!-margin-bottom-5 govuk-!-font-size-16 govuk-visually-hidden">
                This will help you identify why applications are in your Progress Later list
              </div>
              
              {% if (data['reason-why'] == 'pending' and data['the-reason-why'] == null) %}
                <p id="the-reason-why-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Select a reason
                </p>
              {% endif %}              

              <div class="govuk-radios govuk-radios--small">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="manual" type="radio" name="the-reason-why" value="manual" aria-describedby="manual-hint" {% if (data['the-reason-why'] == 'manual') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="manual">
                      Manual files require ordering
                  </label>

                  <div id="manual-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                    Files not available within the <abbr>FACs</abbr> system 
                  </div>

                  <!--div id="manual-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                    There are still some very old manual files, held in paper format, for applications lodged before the 90s and which are currently not scanned in our FACs system. If a caseworker needs to investigate these, they would need to order the files, which are then sent to the caseworker through a manual process. A user could potentially, place their application in the 'Progress Later' area of their worklist to await these files being received.
                  </div-->


                </div> 
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="surveys" type="radio" name="the-reason-why" value="surveys" {% if (data['the-reason-why'] == 'surveys') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="surveys">
                      Awaiting a survey   <!-- surveys need to be carried out -->
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="subsequent" type="radio" name="the-reason-why" value="subsequent" aria-describedby="subsequent-hint" {% if (data['the-reason-why'] == 'subsequent') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="subsequent">
                      Subsequent applications
                  </label>
                  <div id="subsequent-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                      <!-- Sometimes if you are working on strings, you don't want another caseworker obtaining the subsequent application, so I pull it and put it in Progress Later -->
          
                      To avoid a colleague obtaining the subsequent application <!-- when working on strings -->
                  </div>
                </div>              
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="telephone" type="radio" name="the-reason-why" value="telephone" aria-describedby="telephone-hint" {% if (data['the-reason-why'] == 'telephone') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="telephone">
                      Telephone conversation required
                  </label>
                  <div id="telephone-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                      For example, you might be waiting to call at a specific time 
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cancelled" type="radio" name="the-reason-why" value="cancelled" aria-describedby="cancelled-hint" {% if (data['the-reason-why'] == 'cancelled') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="cancelled">
                      Application needs to be Cancelled and Retaken In (<abbr>CRTI</abbr>) 
                  </label>
                  <div id="cancelled-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                      <!-- This would be an overtime issue. You would drop the case out of Workflow to CRTI, however I retain in Workflow for the Monday morning because I would forget if I dropped it out on the weekend -->
          
                      Retain this case within Workflow to ensure it is not forgotten <!--(when dropping the case outside of typical working hours)-->
                  </div>
                </div> 
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="complex" type="radio" name="the-reason-why" value="complex" aria-describedby="complex-hint" {% if (data['the-reason-why'] == 'complex') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="complex">
                      Complex case
                  </label>
                  <div id="complex-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                      <!-- More time than is available is required than is available
          
                      More time is required -->
          
                      Additional time required
          
                      <!--More than the time that available is required
                      More than the available time is required-->
          
                      <!--You need more than the available time to process this case--> <!-- application? -->    
                      <!-- Complex cases pulled at the end of the working day (Pending) -->
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="progress" type="radio" name="the-reason-why" value="progress" aria-describedby="progress-hint" {% if (data['the-reason-why'] == 'progress') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="progress">
                      Work in progress
                  </label>
                  <div id="progress-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                      This case is ongoing <!--(and requires more than a day)--> <!--taking more time than a working day-->
                  </div>
                </div>                           
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="training" type="radio" name="the-reason-why" value="training" aria-describedby="training-hint" {% if (data['the-reason-why'] == 'training') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-1" for="training">
                      Training example
                  </label>
                  <div id="training-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                      Colleagues might require this type of case for training
                      <!--. Temporarilly moving the case to Progress Later until confirmation 
                      Move to Progress Later until confirmation that the application can be moved--> <!-- to another colleague -->
                  </div>
                </div>
        
                <div class="govuk-radios__divider govuk-!-padding-bottom-2">or</div>
        
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="something" type="radio" name="the-reason-why" value="something" {% if (data['the-reason-why'] == 'something') %}
                  checked
                  {% endif %}>
                  
                  <label class="govuk-label govuk-radios__label" for="something">
                      Something else
                  </label>
                </div>
            
            </div>

            </fieldset>

          </div>
        </div>        

      </div>
