<tbody data-case-ref="K588WWW" class="case">
    <tr id="row_11492" class="govuk-table__row case__data_row">
      <td class="case__date" id="K588WWW_priority_date" headers="progress_later_priority_dates">
            6 June 2024
      </td>
      <td class="case__title-number" id="K588WWW_title_number" headers="progress_later_title_numbers">
          <span class="case__inc"></span>
          DU164222
          
      </td>
      <td id="K588WWW_abr" class="case__abr" headers="progress_later_abrs">
          K588WWW
          <div></div>
      </td>
      <td id="K588WWW_cat" class="case__category" headers="progress_later_categories">
          Executive Register Update Standard
      </td>
      <td class="case__date" id="K588WWW_dobtained" headers="progress_later_dates_obtained">
          
          6 June 2024
          
      </td>
      <td id="K588WWW_next_action" class="case__next-action" headers="progress_later_next_actions">
                      Awaiting TT3 / Lawyer
      </td>
    </tr>
    <tr id="row_K588WWW_reason">
      <td colspan="6">

        <div class="case__reason-wrapper govuk-!-font-size-16">

          <span class="case__reason-wrapper__inner">
            <span class="hmlr-wf-reason-dot" style="background-color: #5694ca;"></span>
          </span>

            Referred

          <span class="govuk-!-display-inline-block; govuk-!-margin-left-4">(<span class="govuk-visually-hidden">Moved to Progress Later: </span>24 November 2024)</span>

        </div>

      </td>
    </tr>       
    <tr id="row_11492_actions" class="govuk-table__row case__actions">
        <td colspan="6">
          <div class="case__actions-wrapper">
            <div class="case__left-hand-actions actions-spacing">
              <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
                href="#">Return to <abbr title="e-serve">ESRV</abbr>
                <span class="govuk-visually-hidden">: case <abbr>K588WWW</abbr> to <abbr>DB2</abbr></span>
              </a>
            </div>
            <div class="case__right-hand-actions actions-spacing">

                <form class="case__form" novalidate
                    id="change_state_11492"
                    action="#"
                    method="post"
                    onsubmit="btn_await_lawyer_11492.disabled = true;
                              btn_progress_now_11492.disabled = true;
                              btn_progress_later_11492.disabled = true;">
                  
                  <input 
                  id="btn_change_reason_10628" 
                  title="Change reason for case K588WWW" 
                  type="submit" 
                  name="change_the_reason" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Change the reason" 
                  formaction="#"> 
                  
                  <span class="govuk-visually-hidden">|</span>

                  <input 
                  id="btn_update_next_action_10628" 
                  title="Update next action for case K588WWW" 
                  type="submit" 
                  name="update_next_action" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Update next action" 
                  formaction="#">

                  <span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
  href="#">Refer<span class="govuk-visually-hidden"> case <abbr>K588WWW</abbr></span>
</a>

                    <span class="govuk-visually-hidden">|</span>
                    
    <input id="btn_progress_now_11492" title="Move case K588WWW into your worklist" type="submit"
        name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">

                    <span class="govuk-visually-hidden">|</span>
                    
    <input id="btn_progress_later_11492" title="Progress case K588WWW later" type="hidden"
        name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">

                    <span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
  href="#">Defer<span class="govuk-visually-hidden"> case <abbr>K588WWW</abbr></span>
</a>

                    <span class="govuk-visually-hidden">|</span>
                

                
                    
<a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
  href="#"
  id="link_activity_history_K588WWW"
  data-ga-category="Activity_History_Link_From_Worklist"
  data-ga-action="Activity History link clicked from worklist page"
  data-ga-label="Worklist_Activity_History_Link"
  >View activity history
  <span class="govuk-visually-hidden"> for <abbr>K588WWW</abbr></span>
</a>

                    <span class="govuk-visually-hidden">|</span>
                    
<a
    class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
    href="#">
    More info
<span class="govuk-visually-hidden">: open daylist for case <abbr>K588WWW</abbr>. Opens in new window.</span></a>

                    <span class="govuk-visually-hidden">|</span>
                

                
                </form>
            </div>
          </div>
        </td>
    </tr>
</tbody>
<tbody data-case-ref="V444SWW" class="case">
  <tr id="row_V444SWW" class="govuk-table__row case__data_row " >
    <td class="case__date" id="V444SWW_priority_date" headers="progress_later_priority_dates">
          
          19 August 2024
        
    </td>
    <td class="case__title-number" id="V444SWW_title_number" headers="progress_later_title_numbers">
        <span class="case__inc"></span>
        DT102641
        
    </td>
    <td id="V444SWW_abr" class="case__abr" headers="progress_later_abrs">
        V444SWW
        <div></div>
    </td>
    <td id="V444SWW_cat" class="case__category" headers="progress_later_categories">
      Application Processing: Executive Register Update Standard
    </td>
    <td class="case__date" id="V444SWW_dobtained" headers="progress_later_dates_obtained">
        
        23 December 2024
        
    </td>
    <td id="V444SWW_next_action" class="case__next-action" headers="progress_later_next_actions">
        
            Awaiting TT2
        
    </td>
  </tr>
  <tr id="row_10628_reason">
    <td colspan="6">

      <div class="case__reason-wrapper govuk-!-font-size-16">

        <span class="case__reason-wrapper__inner">
          <span class="hmlr-wf-reason-dot" style="background-color: #5694ca;"></span>
        </span>

          Referred

        <span class="govuk-!-display-inline-block; govuk-!-margin-left-4">(<span class="govuk-visually-hidden">Moved to Progress Later: </span>28 October 2024)</span>

      </div>

    </td>
  </tr>  
  <tr id="row_6042_actions" class="govuk-table__row case__actions">
      <td colspan="6">
        <div class="case__actions-wrapper">
          <div class="case__left-hand-actions actions-spacing">
            <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
              href="#">Return to <abbr title="e-serve">ESRV</abbr>
              <span class="govuk-visually-hidden">: case <abbr>V444SWW</abbr> to <abbr>DB2</abbr></span>
            </a>
          </div>
          <div class="case__right-hand-actions actions-spacing">

              <form class="case__form" novalidate
                  id="change_state_6042"
                  action="#"
                  method="post"
                  onsubmit="btn_await_lawyer_6042.disabled = true;
                            btn_progress_now_6042.disabled = true;
                            btn_progress_later_6042.disabled = true;">
                  <input 
                  id="V444SWW" 
                  title="Change reason for case E365VWW" 
                  type="submit" 
                  name="change_the_reason" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Change the reason" 
                  formaction="#"> 

                  <span class="govuk-visually-hidden">|</span>

                  <input 
                  id="btn_update_next_action_10628" 
                  title="Update next action for case V444SWW" 
                  type="submit" 
                  name="update_next_action" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Update next action" 
                  formaction="#">

                  <span class="govuk-visually-hidden">|</span>
                  
<a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
href="#">Refer<span class="govuk-visually-hidden"> case <abbr>V444SWW</abbr></span>
</a>

                  <span class="govuk-visually-hidden">|</span>
                  
  <input id="btn_progress_now_6042" title="Move case V444SWW into your worklist" type="submit"
      name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">

                  <span class="govuk-visually-hidden">|</span>
                  
  <input id="btn_progress_later_6042" title="Progress case V444SWW later" type="hidden"
      name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">

                  <span class="govuk-visually-hidden">|</span>
                  
<a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
href="#">Defer<span class="govuk-visually-hidden"> case <abbr>V444SWW</abbr></span>
</a>

                  <span class="govuk-visually-hidden">|</span>
              

              
                  
<a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
href="#"
id="link_activity_history_V444SWW"
data-ga-category="Activity_History_Link_From_Worklist"
data-ga-action="Activity History link clicked from worklist page"
data-ga-label="Worklist_Activity_History_Link"
>View activity history
<span class="govuk-visually-hidden"> for <abbr>V444SWW</abbr></span>
</a>

                  <span class="govuk-visually-hidden">|</span>
                  
<a
  class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
  href="#">
  More info
<span class="govuk-visually-hidden">: open daylist for case <abbr>V444SWW</abbr>. Opens in new window.</span></a>

                  <span class="govuk-visually-hidden">|</span>
              

              
              </form>
          </div>
        </div>
      </td>
  </tr>
</tbody>
<tbody data-case-ref="Y555RWW" class="case">
    <tr id="row_1075" class="govuk-table__row case__data_row " >
      <td class="case__date" id="Y555RWW_priority_date" headers="progress_later_priority_dates">
        8 April 2023
      </td>
      <td class="case__title-number" id="Y555RWW_title_number" headers="progress_later_title_numbers">
          <span class="case__inc"></span>
          DU164190
          
      </td>
      <td id="Y555RWW_abr" class="case__abr" headers="progress_later_abrs">
          Y555RWW
          <div></div>
      </td>
      <td id="Y555RWW_cat" class="case__category" headers="progress_later_categories">
Volume Register Update
      </td>
      <td class="case__date" id="Y555RWW_dobtained" headers="progress_later_dates_obtained">
          
          12 June 2023
          
      </td>
      <td id="Y555RWW_next_action" class="case__next-action" headers="progress_later_next_actions">
          
              
                      Consider assignment from <br>
              
                      David Harris<br>
              
          
      </td>
    </tr>
    <tr id="row_10628_reason">
      <td colspan="6">

        <div class="case__reason-wrapper govuk-!-font-size-16">

          <span class="case__reason-wrapper__inner">
            <span class="hmlr-wf-reason-dot hmlr-wf-reason-dot--consider-referral"></span>
          </span>
        
            Consider referral

          <!--span class="govuk-!-display-inline-block; govuk-!-margin-left-4">(<span class="govuk-visually-hidden">Moved to Progress Later: </span>26 November 2024)</span-->

        </div>

      </td>
    </tr>    
    <tr id="row_1075_actions" class="govuk-table__row case__actions">
              <td colspan="6">
                <div class="case__actions-wrapper">
                  <div class="case__left-hand-actions actions-spacing">
      
                  <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block" href="#">Return to <abbr title="e-serve">ESRV</abbr>
        <span class="govuk-visually-hidden">: case <abbr>Y555RWW</abbr> to <abbr>DB2</abbr></span></a>

                

            </div>

            <div class="case__right-hand-actions actions-spacing">

                <form class="case__form" novalidate
                    id="change_state_1075"
                    action="#"
                    method="post"
                    onsubmit="btn_await_lawyer_1075.disabled = true;
                              btn_progress_now_1075.disabled = true;
                              btn_progress_later_1075.disabled = true;">
                  
                  <input 
                  id="btn_change_reason_10628" 
                  title="Change reason for case Y555RWW" 
                  type="submit" 
                  name="change_the_reason" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Change the reason" 
                  formaction="#"> 
                  
                  <span class="govuk-visually-hidden">|</span>

                  <input 
                  id="btn_update_next_action_10628" 
                  title="Update next action for case Y555RWW" 
                  type="submit" 
                  name="update_next_action" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Update next action" 
                  formaction="#">

                  <span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
  href="#">Refer<span class="govuk-visually-hidden"> case <abbr>Y555RWW</abbr></span>
</a>

<span class="govuk-visually-hidden">|</span>

<input id="btn_progress_now_1075" title="Move case Y555RWW into your worklist" type="submit"
name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">

<span class="govuk-visually-hidden">|</span>

<input id="btn_progress_later_1075" title="Progress case Y555RWW later" type="hidden"
name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">

<span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
  href="#">Defer<span class="govuk-visually-hidden"> case <abbr>Y555RWW</abbr></span>
</a>

<span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
  href="#"
  id="link_activity_history_Y555RWW"
  data-ga-category="Activity_History_Link_From_Worklist"
  data-ga-action="Activity History link clicked from worklist page"
  data-ga-label="Worklist_Activity_History_Link"
  >View activity history
  <span class="govuk-visually-hidden"> for <abbr>Y555RWW</abbr></span>
</a>

<span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
    href="#">
    More info
<span class="govuk-visually-hidden">: open daylist for case <abbr>Y555RWW</abbr>. Opens in new window.</span></a>

<span class="govuk-visually-hidden">|</span>
              </form>
          </div>
        </div>
      </td>
  </tr>
</tbody>
<tbody data-case-ref="K666WWW" class="case">
    <tr id="row_11492" class="govuk-table__row case__data_row">
      <td class="case__date" id="K666WWW_priority_date" headers="progress_later_priority_dates">
            9 July 2024
      </td>
      <td class="case__title-number" id="K666WWW_title_number" headers="progress_later_title_numbers">
          <span class="case__inc"></span>
          DU164222
          
      </td>
      <td id="K666WWW_abr" class="case__abr" headers="progress_later_abrs">
          K666WWW
          <div></div>
      </td>
      <td id="K666WWW_cat" class="case__category" headers="progress_later_categories">
          Executive Register Update Standard
      </td>
      <td class="case__date" id="K666WWW_dobtained" headers="progress_later_dates_obtained">
          
          9 August 2024
          
      </td>
      <td id="K666WWW_next_action" class="case__next-action" headers="progress_later_next_actions">
        Consider expired objection notice
      </td>
    </tr>
    <tr id="row_K666WWW_reason">
      <td colspan="6">  

        <div class="case__reason-wrapper govuk-!-font-size-16">

          <span class="case__reason-wrapper__inner">
            <span class="hmlr-wf-reason-dot" style="background-color: #00703c;"></span>
          </span>
          
            Reason: Work in progress

          <span class="govuk-!-display-inline-block; govuk-!-margin-left-4">(<span class="govuk-visually-hidden">Moved to Progress Later: </span>20 November 2024)</span>

        </div>  

      </td>
    </tr>          
    <tr id="row_11492_actions" class="govuk-table__row case__actions">
        <td colspan="6">
          <div class="case__actions-wrapper">
            <div class="case__left-hand-actions actions-spacing">
              <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
                href="#">Return to <abbr title="e-serve">ESRV</abbr>
                <span class="govuk-visually-hidden">: case <abbr>K666WWW</abbr> to <abbr>DB2</abbr></span>
              </a>
            </div>
            <div class="case__right-hand-actions actions-spacing">

                <form class="case__form" novalidate
                    id="change_state_11492"
                    action="#"
                    method="post"
                    onsubmit="btn_await_lawyer_11492.disabled = true;
                              btn_progress_now_11492.disabled = true;
                              btn_progress_later_11492.disabled = true;">
                  
                  <input 
                  id="btn_change_reason_10628" 
                  title="Change reason for case K666WWW" 
                  type="submit" 
                  name="change_the_reason" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Change the reason" 
                  formaction="#"> 
                  
                  <span class="govuk-visually-hidden">|</span>

                  <input 
                  id="btn_update_next_action_10628" 
                  title="Update next action for case K666WWW" 
                  type="submit" 
                  name="update_next_action" 
                  class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" 
                  value="Update next action" 
                  formaction="#">

                  <span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
  href="#">Refer<span class="govuk-visually-hidden"> case <abbr>K666WWW</abbr></span>
</a>

                    <span class="govuk-visually-hidden">|</span>
                    
    <input id="btn_progress_now_11492" title="Move case K666WWW into your worklist" type="submit"
        name="Work_on_this" class="govuk-!-display-inline-block govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Work on this">

                    <span class="govuk-visually-hidden">|</span>
                    
    <input id="btn_progress_later_11492" title="Progress case K666WWW later" type="hidden"
        name="Progress_later" class="govuk-link govuk-link--no-visited-state case__hyperlink case__progress-later-btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Progress later">

                    <span class="govuk-visually-hidden">|</span>
                    
<a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16 govuk-!-display-inline-block"
  href="#">Defer<span class="govuk-visually-hidden"> case <abbr>K666WWW</abbr></span>
</a>

                    <span class="govuk-visually-hidden">|</span>
                

                
                    
<a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event govuk-!-display-inline-block hmlr-link--min-width-48"
  href="#"
  id="link_activity_history_K666WWW"
  data-ga-category="Activity_History_Link_From_Worklist"
  data-ga-action="Activity History link clicked from worklist page"
  data-ga-label="Worklist_Activity_History_Link"
  >View activity history
  <span class="govuk-visually-hidden"> for <abbr>K666WWW</abbr></span>
</a>

                    <span class="govuk-visually-hidden">|</span>
                    
<a
    class="govuk-!-display-inline-block govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16"
    href="#">
    More info
<span class="govuk-visually-hidden">: open daylist for case <abbr>K666WWW</abbr>. Opens in new window.</span></a>

                    <span class="govuk-visually-hidden">|</span>
                

                
                </form>
            </div>
          </div>
        </td>
    </tr>
</tbody>