{% set theReasonWhy = data['the-reason-why'] %}

      {% if theReasonWhy == "tt1" %}
        Referral: TT1
      {% elif theReasonWhy == "tt2" %}
        Referral: TT2
      {% elif theReasonWhy == "tt3" %}
        Referral: TT3
      {% elif theReasonWhy == "hro" %}
        Referral: HRO
      {% elif theReasonWhy == "ero" %}
        Referral: ERO        
      {% elif theReasonWhy == "ro" %}
        Referral: RO        
      {% elif theReasonWhy == "paper" %}
        Paper files needed
      {% elif theReasonWhy == "surveys" %}
        Survey needed
      {% elif theReasonWhy == "pior" %}
        Pior application
      {% elif theReasonWhy == "telephone" %}
        Phone call needed
      {% elif theReasonWhy == "cancelled" %} 
        Cancel and retake in (CRTI) 
      {% elif theReasonWhy == "complex" %}
        Complex case 
      {% elif theReasonWhy == "lam" %}
        LAM referral                           
      {% elif theReasonWhy == "progress" %}
        Work in progress
      {% elif theReasonWhy == "training" %}
        Training case  
      {% elif theReasonWhy == "something" %}
        Unspecified                   
      {% else %}
        Unknown
      {% endif %}