{% set thePendingReasonWhy = data['pending-why'] %}

{% if thePendingReasonWhy == "manual" %}
  Manual files require ordering{% elif thePendingReasonWhy == "surveys" %}
  Awaiting a survey{% elif thePendingReasonWhy == "subsequent" %}
  Subsequent applications{% elif thePendingReasonWhy == "telephone" %}
  Telephone conversation required{% elif thePendingReasonWhy == "cancelled" %}
  Application needs to be Cancelled and Retaken In (CRTI){% elif thePendingReasonWhy == "complex" %}
  Complex case{% elif thePendingReasonWhy == "progress" %}
  Work in progress{% elif thePendingReasonWhy == "training" %}
  Training example{% elif thePendingReasonWhy == "something" %}
  Something else{% else %}
  Referral
{% endif %}