{% set theReasonWhy = data['the-reason-why'] %}

      {% if theReasonWhy == "tt1" %}
        Awaiting TT1
      {% elif theReasonWhy == "tt2" %}
        Awaiting TT2
      {% elif theReasonWhy == "tt3" %}
        Awaiting TT3 / Lawyer
      {% elif theReasonWhy == "hro" %}
        Awaiting HRO
      {% elif theReasonWhy == "ro" %}
        Awaiting RO        
      {% elif theReasonWhy == "manual" %}
        Manual files require ordering
      {% elif theReasonWhy == "surveys" %}
        Awaiting survey(s)
      {% elif theReasonWhy == "subsequent" %}
        Subsequent applications (colleagues can't obtain)
      {% elif theReasonWhy == "telephone" %}
        Telephone conversation required
      {% elif theReasonWhy == "cancelled" %} 
        CRTI required
      {% elif theReasonWhy == "complex" %}
        Complex - sufficent time required                   
      {% elif theReasonWhy == "progress" %}
        In progress and ongoing
      {% elif theReasonWhy == "training" %}
        In use for training - awaiting update  
      {% elif theReasonWhy == "something" %}
        Something 10                   
      {% else %}
        Unknown
      {% endif %}