{% set thePendingWhyColour = data['pending-why'] %}

    {% if thePendingWhyColour == "manual" %}
    #d53880
    {% elif thePendingWhyColour == "surveys" %}
    #912b88
    {% elif thePendingWhyColour == "subsequent" %}
    #f499be
    {% elif thePendingWhyColour == "telephone" %}
    #6f72af
    {% elif thePendingWhyColour == "cancelled" %}
    brown                    
    {% elif thePendingWhyColour == "complex" %}
    #d4351c
    {% elif thePendingWhyColour == "progress" %}
    #00703c
    {% elif thePendingWhyColour == "training" %}
    #ffdd00
    {% elif thePendingWhyColour == "something" %}
    #b1b4b6                 
    {% else %}
    #5694ca
    {% endif %}