{% set theReasonWhy = data['reason-why'] %}

                  {% if theReasonWhy == "manual" %}
                    Manual files require ordering{% elif theReasonWhy == "surveys" %}
                    Awaiting a survey{% elif theReasonWhy == "subsequent" %}
                    Subsequent applications{% elif theReasonWhy == "referral" %}
                    Referral{% elif theReasonWhy == "telephone" %}
                    Telephone conversation required{% elif theReasonWhy == "cancelled" %}
                    Application needs to be Cancelled and Retaken In (CRTI){% elif theReasonWhy == "complex" %}
                    Complex case{% elif theReasonWhy == "progress" %}
                    Work in progress{% elif theReasonWhy == "training" %}
                    Training example{% elif theReasonWhy == "something" %}
                    Something else{% else %}
                    
                  {% endif %}