<style>
    .case__reason-wrapper {
      padding: 20px 10px 14px 0; 
      display: flex;
      height: 100%;
    }
    .case__reason-wrapper__inner {
      width: 20px;
      height: 100%; 
      margin-right: 10px; 
    } 
    .hmlr-wf-reason-dot {
      min-width: 20px;
      min-height: 20px;
      display: inline-block;
      margin: 0 10px 0 0;
      border-radius: 50%;
      position: relative;
      top: -0.1rem;
    }
    .hmlr-wf-reason-dot--consider-referral {
      background-color: #fff; 
      border: 3px solid #5694ca; 
      min-width: 17px;
      min-height: 17px;
    }         
  </style>