{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Progress Later" #}

{% block pageTitle %}
Progress Later Index
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
      Progress Later - designs
    </h1>

    <p class="govuk-body-s">
      All links open in a new tab.
    </p>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="/progress-later/index" target="_blank">
          Original functional prototype
        </a>
      </li>
      <li>
        1). <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="/progress-later/why-revised-01" target="_blank">
          Alt form design 1 
        </a>
      </li>
      <li>
        2). <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="/progress-later/why-revised-02" target="_blank">
          Alt form design 2 
        </a>
      </li> 
      <li>
        3). <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="/progress-later/why-revised-03" target="_blank">
          Alt form design 3 
        </a>
      </li>           
    </ul>



    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">

    <details class="govuk-details" style="display: none;">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-!-font-size-16">
          Prototypes
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul class="govuk-list--bullet govuk-list--spaced ">
          <li>
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="/progress-later/pg-1-01.html" target="_blank">
              Progress Later prototype (opens in new tab)
            </a> <br>
            Caseworker selects 'Progress later' - and then selects a reason (from an option of two groups), which then updates the 'Next action' to the appropriate state. 
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="/progress-later/pg-2-01.html" target="_blank">
              Progress Later prototype v2 (opens in new tab)
            </a> <br>
            In this extended version, the 'Waiting for lawyer' menu option is replaced with a 'Change Progress later reason' option, where the caseworker can update the next action by choosing 1 of the 4 'awaiting' options. This extends the current 'Waiting for lawyer' functionality. (Prototype: use the case moved to Progress Later DU164997) 
          </li>
        </ul>

      </div>
    </details>        
          

    <details class="govuk-details" style="display: none;">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-!-font-size-16">
          Various prototypes/designs/concepts for reference
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <p class="govuk-body govuk-!-font-size-16">
          All links open in a new tab. (Form validation pages not yet created.)
        </p>
    
        <ul class="govuk-list--bullet govuk-list--spaced govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/progress-later/pg-a-01.html" target="_blank">
              (A) Standard functionality
            </a> <br>
            Caseworker selects 'Progress later' and then a reason why - this updates the 'Next action' to the appropriate state. (This prototype uses dummy next actions - yet to be defined). System updates next actions appropriately, as now. 
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/progress-later/pg-b-01.html" target="_blank">
              (B) Standard functionality &plus; display bespoke reason 
            </a> <br>
              &plus; extra table row for displaying the bespoke reason. (And ability to change it)<br>
              Next action is updated - from the initial page, if a 'refer' reason is selected. Then the 'reason' and 'next action' operate independently. <br>
              Caseworker can change/update 'reason' or 'next action' via the two menu links (with Waiting for lawyer being replaced)
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/progress-later/pg-c-01.html" target="_blank">
              (C) Standard functionality &plus; (as like B) all cases display a bespoke reason
            </a> <br>
              &plus; a standalone single page, demonstrating how the entire list might appear with 'reason' rows. The coloured dot is an inital concept to illustrate the general concept. (Note: selecting the Change/Update buttons will return you to version B, not C - amend URL to return to pg-c-01.html).
          </li>            
        </ul>

      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9" style="display: none;">

    <p class="govuk-body-s">
      Use the '<b>Clear data (pop-up)</b>' link on any page to clear the session data (and each time you use a different version of the prototype). 
    </p>

  </div>
</div>




{% endblock %}
