{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Progress Later" #}

{% block pageTitle %}
Progress Later index
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



          
          <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
            
            Progress Later
            
          </h1>

          <ul class="govuk-list govuk-list--spaced">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/progress-later/item-01.html" target="_blank">Concept 1: (opens in new tab)</a>
            </li>

          </ul>

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">


          <p class="govuk-body-s">
            Use the 'Clear data (pop-up)' link to clear the session data. 
          </p>
          



  </div>
</div>




{% endblock %}
