{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Select a deferral reason
{% endblock %}

{% block beforeContent %}

  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

{% if (data['my_progress_later'] == 'Progress later') %} 

  <section id="pleaseWaitTarget" aria-live="assertive">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="message-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="message-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content" id="message-banner-content">
        <p class="govuk-notification-banner__heading">You will progress application DU164997 / E365VWW later.</p>
      </div>
    </div>
  </section>

{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div id="worklist_page">

      <div id="data-progress-now-table" data-progress-now-table="">
      
      
        <h1 id="my_worklist_header" class="govuk-heading-l worklist__header">
          My Worklist : {% if (data['my_progress_later'] != 'Progress later') %} 
            1
          {% else %}
            0
          {% endif %} applications
        </h1>
    
        <p class="govuk-body">
          
          Your category of work is <span class="bold">Application Processing: Executive Register Update Standard</span>.
          
          <a href="#" class="govuk-link govuk-link--no-visited-state">Change your category of work</a>.
        </p>
        
        {% if (data['my_progress_later'] != 'Progress later') %}

          <table id="progress_now_table" class="govuk-table worklist__table ">
              
              <caption class="govuk-table__caption govuk-table__caption--m">
                  1 application presented in a 6 column table.
              </caption>
        
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row worklist-black-border">
                      <th class="govuk-table__header" id="progress_now_priority_dates" scope="col">Priority date</th>
                      <th class="govuk-table__header" id="progress_now_title_numbers" scope="col">Title number</th>
                      <th class="govuk-table__header" id="progress_now_abrs" scope="col"><abbr title="A B R">ABR</abbr></th>
                      <th class="govuk-table__header" id="progress_now_categories" scope="col">Category</th>
                      <th class="govuk-table__header" id="progress_now_dates_obtained" scope="col">Date obtained</th>
                      <th class="govuk-table__header" id="progress_now_next_actions" scope="col">Next action</th>
                  </tr>
              </thead>
          
              
                  
              <tbody data-case-ref="E365VWW" class="case case--parent ">
                  <tr id="row_10628" class="govuk-table__row case__data_row ">
          
                      
              <td class="case__date" id="E365VWW_priority_date" headers="progress_now_priority_dates">
                  
                    
                    22 January 2025
                    
                  
              </td>
          
          
                      
              <td class="case__title-number" id="E365VWW_title_number" headers="progress_now_title_numbers">
                  
                      <span class="case__inc">
                              
                      </span>
                      DU164997
                      
                  
              </td>
          
          
                      
              <td id="E365VWW_abr" class="case__abr" headers="progress_now_abrs">
                  
                  E365VWW
                  
                  <div>
                        Leading application
                  </div>
              </td>
          
          
                      
              <td id="E365VWW_cat" class="case__category" headers="progress_now_categories">
                  
                  
                  
                  
                    Executive Register Update Standard
    
                  
              </td>
          
          
                      
              <td class="case__date" id="E365VWW_dobtained" headers="progress_now_dates_obtained">
                  
                  10 January 2024
                  
              </td>
          
          
                      
              <td id="E365VWW_next_action" class="case__next-action" headers="progress_now_next_actions">
                  
                  
                      New - Start to process
                  
                  
              </td>
          
          
                  </tr>
                  
              
                  
              
          
                  
                  <tr id="row_10628_actions" class="govuk-table__row case__actions">
                      <td colspan="6">
                        <div class="case__actions-wrapper">
                          <div class="case__left-hand-actions actions-spacing">
          
                              
                                  
                                      
              <form class="case__form case__form--process" id="process_form_10628" action="#" method="POST" novalidate>
                  
                    <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                  
                  <input aria-label="Open CORA to start processing case E365VWW" type="submit" id="open_btn_E365VWW" class="govuk-button" value="Open">
              </form>
          
                                  
              <span class="govuk-visually-hidden">|</span>              
          
                              
                              
              <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16" href="#"  aria-label="return to e-serve">
                Return to <abbr title="e-serve">ESRV</abbr><span class="govuk-visually-hidden">: case <abbr>E365VWW</abbr> to <abbr>DB2</abbr></span>
              </a>
          
              <span class="govuk-visually-hidden">|</span>                
          
                          </div>
          
                          <div class="case__right-hand-actions actions-spacing">
          
                              <form class="case__form" id="change_state_10628" action="#" method="post" novalidate>
                                <!--  onsubmit="btn_await_lawyer_10628.disabled = true; btn_progress_now_10628.disabled = true btn_progress_later_10628.disabled = true;" -->
                                
                                  <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                                
                                  <input class="case__progress-code" id="hidden_value_progress_10628" type="hidden" name="my_activity_code" value="my_activity_code">
                                  <!--input class="case__progress-code" id="hidden_value_progress_10628" type="hidden" name="activity_code" value="PROGRESS_LATER"-->
          
                                  <input id="hidden_value_progress_child_cases_10628" type="hidden" name="child_cases" value="1">
          
                                  <input id="btn_await_lawyer_10628" aria-label="Refer case E365VWW to a lawyer" type="hidden" name="Waiting_for_lawyer" class="case__hyperlink case__await_lawyer_btn
                                  govuk-!-font-size-16" value="Waiting for lawyer" formaction="#">
                                  
              <a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16" href="#">
                Refer<span class="govuk-visually-hidden"> case <abbr>E365VWW</abbr></span>
              </a>
          
              <span class="govuk-visually-hidden">|</span>
    
                            
              <input aria-label="Move case E365VWW into your worklist" id="btn_progress_now_10628" type="submit" name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn govuk-!-font-size-16" value="Work on this">
    
              <span class="govuk-visually-hidden">|</span>
    
              <!-- ********************************************************************************** -->
              
              <input id="btn_progress_later_10628" aria-label="Progress case E365VWW later" type="submit" name="my_progress_later" class="govuk-link case__hyperlink case__progress-later-btn govuk-!-font-size-16" value="Progress later">

                  <span class="govuk-visually-hidden">|</span>
                                  
              <a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16" href="#">
                Defer <span class="govuk-visually-hidden">case <abbr>E365VWW</abbr></span>
              </a>
                              
              <span class="govuk-visually-hidden">|</span>
                                  
              <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="#" id="link_activity_history_E365VWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
                View activity history <span class="govuk-visually-hidden">for <abbr>E365VWW</abbr></span>
              </a>
    
              <span class="govuk-visually-hidden">|</span>
                                  
              <a href="#" class="govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
                  More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619SWW</abbr>. Opens in new tab.</span>
              </a>
    
              <!--span class="govuk-visually-hidden">|</span>
          
              <button id="btn_show_attached_N619SWW" class="case__expand case__hyperlink case__anchor govuk-!-font-size-16 govuk-link">
                <span class="case__expand-verb" id="attached_apps_verb_N619SWW">Show</span> attached applications <span class="govuk-visually-hidden">for <abbr>N619SWW</abbr></span> <span class="case__expand-symbol" id="attached_apps_operator_N619SWW">&plus;</span>
              </button-->
                              
                              </form>
                          </div>
                        </div>
                      </td>
                  </tr>
                  
              </tbody>
          
                  
                      
              <tbody data-case-ref="D365VWW" class="case hidden" data-parent="E365VWW">
                  <tr id="row_10629" class="govuk-table__row case__data_row ">
          
                      
              <td class="case__date">
                  
              </td>
          
          
                      
              <td class="case__title-number" id="D365VWW_title_number" headers="progress_now_title_numbers">
                  
                      <span class="case__inc">
                              
                      </span>
                      DU164998
                      
                  
              </td>
          
          
                      
              <td id="D365VWW_abr" class="case__abr" headers="progress_now_abrs">
                  
                  D365VWW
                  
                  <div>
                        Attached to E365VWW 
                  </div>
              </td>
          
          
                      
              <td id="D365VWW_cat" class="case__category" headers="progress_now_categories">
                  
                  
                  
                  
                    Executive Register Update Standard
    
                  
              </td>
          
          
                      
              <td class="case__date" id="D365VWW_dobtained" headers="progress_now_dates_obtained">
                  
                  25 January 2024
                  
              </td>
          
          
                      
              <td id="D365VWW_next_action" class="case__next-action" headers="progress_now_next_actions">
                  
                  
                      New - Start to process
                  
                  
              </td>
          
          
                  </tr>
                  
              
          
                  
                  <tr id="row_10629_actions" class="govuk-table__row case__actions">
                      <td colspan="6">
                        <div class="case__actions-wrapper">
                          <div class="case__left-hand-actions actions-spacing">
          
                              
                                  
                                      
              <form class="case__form case__form--process" id="process_form_10629" action="#" method="POST" novalidate>
                  
                    <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
                  
                  <input aria-label="Open CORA to start processing case D365VWW" type="submit" id="open_btn_D365VWW" class="wf-button" value="Open">
              </form>
          
                                  
              <span class="govuk-visually-hidden">|</span>                 
          
                              
          
                          </div>
          
                          <div class="case__right-hand-actions actions-spacing">
          
                              <form class="case__form" id="change_state_10629" action="#" method="post" onsubmit="btn_await_lawyer_10629.disabled = true;
                                            btn_progress_now_10629.disabled = true;
                                            btn_progress_later_10629.disabled = true;" novalidate>
                                
              <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
    
              <input class="case__progress-code" id="hidden_value_progress_10629" type="hidden" name="activity_code" value="PROGRESS_LATER">
    
              <span class="govuk-visually-hidden">|</span>       
    
              <input id="hidden_value_progress_child_cases_10629" type="hidden" name="child_cases" value="0">
    
    
          
    
                              
                                  
              <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="#" id="link_activity_history_D365VWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
                View activity history <span class="govuk-visually-hidden">for <abbr>D365VWW</abbr></span>
              </a>
          
              <span class="govuk-visually-hidden">|</span>       
                                  
              <a href="#" class="govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
                More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619XXX</abbr>. Opens in new tab.</span>
              </a>
    
              <span class="govuk-visually-hidden">|</span>       
                              
          
                              
                              </form>
                          </div>
                        </div>
                      </td>
                  </tr>
                  
              </tbody>
          
                  
              
          </table>

        {% else %}
        
          <input type="submit" id="button_obtain_2" value="Obtain" class="govuk-button button-large">

        {% endif %}
    
      </div>            
    
      <h2 id="progress_later_header" class="govuk-heading-l worklist__header">
        Progress Later : 6 applications
      </h2>
      
      <table id="progress_later_table" class="govuk-table worklist__table">
  
        <caption class="govuk-table__caption govuk-table__caption--m">Work items in progress later</caption>

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" id="progress_later_priority_dates" scope="col">Priority date</th>
              <th class="govuk-table__header" id="progress_later_title_numbers" scope="col">Title number</th>
              <th class="govuk-table__header" id="progress_later_abrs" scope="col"><abbr title="A B R">ABR</abbr></th>
              <th class="govuk-table__header" id="progress_later_categories" scope="col">Category</th>
              <th class="govuk-table__header" id="progress_later_dates_obtained" scope="col">Date obtained</th>
              <th class="govuk-table__header" id="progress_later_next_actions" scope="col">Next action</th>
            </tr>
        </thead>
        {% include "./inc_expedited-items-old.html" %}

        {% if (data['my_progress_later'] == 'Progress later') %}
        
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx injected row Starts xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <tbody data-case-ref="E365VWW" class="case case--parent ">
          <tr id="row_10628" class="govuk-table__row case__data_row ">
            <td class="case__date" id="E365VWW_priority_date" headers="progress_now_priority_dates">
                  22 January 2025
            </td>
            <td class="case__title-number" id="E365VWW_title_number" headers="progress_now_title_numbers">
              <span class="case__inc">
                      
              </span>
              DU164997 

              <!--strong class="govuk-tag-reason govuk-tag">
                Something
              </strong>
              <style>.govuk-tag-reason {background-color: #28a197;}</style-->  

            </td>
            <td id="E365VWW_abr" class="case__abr" headers="progress_now_abrs">
                E365VWW
                <div>
                      Leading application
                </div>
            </td>
            <td id="E365VWW_cat" class="case__category" headers="progress_now_categories">
                  Executive Register Update Standard
            </td>
            <td class="case__date" id="E365VWW_dobtained" headers="progress_now_dates_obtained">
                10 January 2024
            </td>
            <td id="E365VWW_next_action" class="case__next-action" headers="progress_now_next_actions">
                  {% set savedReasonWhy = data['reason-why'] %}
                  
                  {% include "./inc_next-actions-both-sets.html" %}
            </td>
          </tr>
          <tr id="row_10628_actions" class="govuk-table__row case__actions">
              <td colspan="6">
                <div class="case__actions-wrapper">
                  <div class="case__left-hand-actions actions-spacing">
                          
                      <span class="govuk-visually-hidden">|</span>              
                                      
                      <a class="govuk-link govuk-link--no-visited-state actions-spacing case__anchor govuk-!-font-size-16" href="#" aria-label="return to e-serve">
                        Return to <abbr title="e-serve">ESRV</abbr><span class="govuk-visually-hidden">: case <abbr>E365VWW</abbr> to <abbr>DB2</abbr></span>
                      </a>
                  
                      <span class="govuk-visually-hidden">|</span>                
  
                  </div>
  
                  <div class="case__right-hand-actions actions-spacing">
  
                      <form class="case__form" id="change_state_10628" action="#" method="post" novalidate>
  
                          <input id="hidden_value_progress_child_cases_10628" type="hidden" name="child_cases" value="1">
                        
                        {% if (data['the-reason-why'] != 'tt3') %}
                          <input id="btn_await_lawyer_10628" title="Refer case E365VWW to a lawyer" type="submit" name="Waiting_for_lawyer" class="govuk-link case__hyperlink case__await_lawyer_btn govuk-!-display-inline-block govuk-!-text-align-centre govuk-!-padding-bottom-1 hmlr-link--min-width-48 govuk-!-font-size-16" value="Waiting for lawyer" formaction="#">
                        {% endif %}
                          
      <a class="govuk-link govuk-link--no-visited-state case__refer-link case__anchor govuk-!-font-size-16" href="#">
        Refer <span class="govuk-visually-hidden">case <abbr>E365VWW</abbr></span>
      </a>
  
      <span class="govuk-visually-hidden">|</span>
                    
      <input aria-label="Move case E365VWW into your worklist" id="btn_progress_now_10628" type="submit" name="Work_on_this" class="govuk-link case__hyperlink case__progress-now-btn govuk-!-font-size-16" value="Work on this">

      <span class="govuk-visually-hidden">|</span>

      <a class="govuk-link govuk-link--no-visited-state case__defer-link case__anchor govuk-!-font-size-16" href="#">
        Defer <span class="govuk-visually-hidden">case <abbr>E365VWW</abbr></span>
      </a>
                      
      <span class="govuk-visually-hidden">|</span>
                          
      <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="#" id="link_activity_history_E365VWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
        View activity history <span class="govuk-visually-hidden">for <abbr>E365VWW</abbr></span>
      </a>

      <span class="govuk-visually-hidden">|</span>
                          
      <a href="#" class="govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
          More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619SWW</abbr>. Opens in new tab.</span>
      </a>

      <!--span class="govuk-visually-hidden">|</span>
  
      <button id="btn_show_attached_N619SWW" class="case__expand case__hyperlink case__anchor govuk-!-font-size-16 govuk-link">
        <span class="case__expand-verb" id="attached_apps_verb_N619SWW">Show</span> attached applications <span class="govuk-visually-hidden">for <abbr>N619SWW</abbr></span> <span class="case__expand-symbol" id="attached_apps_operator_N619SWW">&plus;</span>
      </button-->
                      
                      </form>
                  </div>
                </div>
              </td>
          </tr>
        </tbody>
      <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx injected row Ends xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          
              
      <tbody data-case-ref="D365VWW" class="case hidden" data-parent="E365VWW">
          <tr id="row_10629" class="govuk-table__row case__data_row ">
  
              
      <td class="case__date">
          
      </td>
  
  
              
      <td class="case__title-number" id="D365VWW_title_number" headers="progress_now_title_numbers">
          
              <span class="case__inc">
                      
              </span>
              DU164998
              
          
      </td>
  
  
              
      <td id="D365VWW_abr" class="case__abr" headers="progress_now_abrs">
          
          D365VWW
          
          <div>
                Attached to E365VWW 
          </div>
      </td>
  
  
              
      <td id="D365VWW_cat" class="case__category" headers="progress_now_categories">
          
          
          
          
            Executive Register Update Standard

          
      </td>
  
  
              
      <td class="case__date" id="D365VWW_dobtained" headers="progress_now_dates_obtained">
          
          25 January 2024
          
      </td>
  
  
              
      <td id="D365VWW_next_action" class="case__next-action" headers="progress_now_next_actions">
          
          
              New - Start to process
          
          
      </td>
  
  
          </tr>
          
      
  
          
          <tr id="row_10629_actions" class="govuk-table__row case__actions">
              <td colspan="6">
                <div class="case__actions-wrapper">
                  <div class="case__left-hand-actions actions-spacing">
  
                      
                          
                              
      <form class="case__form case__form--process" id="process_form_10629" action="#" method="POST" novalidate>
          
            <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">
          
          <input aria-label="Open CORA to start processing case D365VWW" type="submit" id="open_btn_D365VWW" class="wf-button" value="Open">
      </form>
  
                          
      <span class="govuk-visually-hidden">|</span>                 
  
                      
  
                  </div>
  
                  <div class="case__right-hand-actions actions-spacing">
  
                      <form class="case__form" id="change_state_10629" action="#" method="post" onsubmit="btn_await_lawyer_10629.disabled = true; btn_progress_now_10629.disabled = true; btn_progress_later_10629.disabled = true;" novalidate>
                        
                        <input name="csrf_token" type="hidden" value="IjI2YzBiY2QwNzJiZjE0M2M3MDMxZGQ1M2UyMTBkMDNhMWE3YTdiZmYi.ZdYZDA.PHMOSAvho5tJKgE5EQe9HLJdBz8">

                        <input class="case__progress-code" id="hidden_value_progress_10629" type="hidden" name="activity_code" value="PROGRESS_LATER">

                        <span class="govuk-visually-hidden">|</span>       

                        <input id="hidden_value_progress_child_cases_10629" type="hidden" name="child_cases" value="0">
                                          
                        <a class="govuk-link govuk-link--no-visited-state case__activity-history-link case__anchor govuk-!-font-size-16 ga_track_event" href="#" id="link_activity_history_D365VWW" data-ga-category="Activity_History_Link_From_Worklist" data-ga-action="Activity History link clicked from worklist page" data-ga-label="Worklist_Activity_History_Link">
                          View activity history <span class="govuk-visually-hidden">for <abbr>D365VWW</abbr></span>
                        </a>
                    
                        <span class="govuk-visually-hidden">|</span>       
                                            
                        <a href="#" class="govuk-link govuk-link--no-visited-state case__more-info-link case__anchor govuk-!-font-size-16" target="_blank">
                          More info<span class="govuk-visually-hidden">: open daylist for case <abbr>N619XXX</abbr>. Opens in new tab.</span>
                        </a>

                        <span class="govuk-visually-hidden">|</span>       
                      
                      </form>
                  </div>
                </div>
              </td>
          </tr>
          
      </tbody>

        {% endif %}
        <!-- xxxxxxxxxxxxxxxxxxx-->

        {% include "./inc_standard-items-old.html" %}
  
      <tfoot class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header hmlr-wf-border-bottom-0" scope="col">Priority date</th>
          <th class="govuk-table__header hmlr-wf-border-bottom-0" scope="col">Title number</th>
          <th class="govuk-table__header hmlr-wf-border-bottom-0" scope="col"><abbr title="A B R">ABR</abbr></th>
          <th class="govuk-table__header hmlr-wf-border-bottom-0" scope="col">Category</th>
          <th class="govuk-table__header hmlr-wf-border-bottom-0" scope="col">Date obtained</th>
          <th class="govuk-table__header hmlr-wf-border-bottom-0" scope="col">Next action</th>
        </tr>
      </tfoot> 
  
      </table>

    </div>

  </div>
</div>




{% endblock %}
