{% extends "layouts/wf_layout_legacy.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Select a deferral reason
{% endblock %}

{% block beforeContent %}

<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="#" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="reason-hint">
    
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Why is this case being moved to Progress Later?
                <!-- Record why the application is being moved to Progress Later? -->
            </h1>
          </legend>
    
          <div id="reason-hint" class="govuk-hint govuk-!-margin-bottom-7">
            This will help you identify why applications are in your Progress Later list
          </div>       

          {% include "./inc_radios-list-of-reasons-2.html" %}


        
        



        </fieldset>
      </div>          
            
      <input type="submit" class="govuk-button" value="Save"> 





    </form>


  </div>
</div>




{% endblock %}
