{% extends "layouts/wf_layout_legacy.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Select a deferral reason
{% endblock %}

{% block beforeContent %}

<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>
      <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" aria-describedby="pending-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          Select a pending reason
        </legend>
    
        <div id="pending-hint" class="govuk-hint govuk-!-margin-bottom-5 govuk-!-font-size-16 govuk-visually-hidden">
          This will help you identify why applications are in your Progress Later list
        </div>

        {% include "./inc_radios-list-pending.html" %}

      </fieldset>

      
      
      <div class="govuk-button-group">
        <input type="submit" class="govuk-button" value="Save">
        <a class="govuk-link govuk-link--no-visited-state" href="pg-b-01.html">Cancel</a>
      </div>      

    </form>


  </div>
</div>




{% endblock %}
