{% extends "layouts/wf_layout.html" %}

{% set pageName="{{ serviceName }} IA and UI work" %}

{% block header %}
  {% include "../includes/design-01/inc_top-nav-std.html" %}
{% endblock %}

{% block content %}
    
<div class="govuk-grid-row hmlr-min-height-header-sm">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Workflow <span class="govuk-heading-l govuk-!-font-weight-regular govuk-!-display-inline">&dash; My Worklist</span>
    </h1>

    <p class="govuk-body hmlr-secondary-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique quae enim eius saepe.
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>      

</div>


<div class="govuk-grid-row">
  <nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0"><!-- aria-label="Secondary" -->

    <a href="#page-content" class="govuk-skip-link hmlr-skip-link">
      Skip to the main content
    </a>
    
    {% include "../includes/design-01/inc_left-nav-02.html" %}
    
  </nav>

  <section class="govuk-grid-column-three-quarters" id="page-content" role="region">

    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels">
      <div class="govuk-grid-column-full">
        
        <h1 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-0">
          My Worklist dashboard highlights
        </h1>

        <p class="govuk-body-s hmlr-grid-row__text">
          You currently have 6 <a href="design-01-applications.html" class="govuk-link govuk-link--no-visited-state">live applications</a> and 40 applications <a href="design-01-progress-later.html" class="govuk-link govuk-link--no-visited-state">to progress later</a>. 
        </p>     
        
        <p class="govuk-body-s hmlr-grid-row__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut debitis expedita laudantium voluptate ipsa. Ullam similique, a dolore quasi labore saepe nisi.
        </p>

      </div>
    </div>    

    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels hmlr-grid-row--panels-colour1">
      <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-4">
          Progress later
        </h2>

        <!--span class="govuk-!-font-weight-bold"></span-->

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--left-number">
          <span class="hmlr-grid-row__number hmlr-grid-row__number--bottom">34</span> applications have been in your progress later list for 8 weeks or more.  
        </p>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--end-link">
          <a href="design-01-progress-later.html" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Progress Later list.</span></a>
        </p>

      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-3">
          Lorem ipsum
        </h2>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam provident corrupti, sed optio, amet possimus obcaecati adipisci commodi, ab <a href="#" class="govuk-link govuk-link--no-visited-state">officia illo tempora</a> porro temporibus. Provident ut ipsum quod earum esse.
      </div>      
    </div>

    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels">
      
      <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-2">
          Consectetur adipisicing elit
        </h2>

        <p class="govuk-body-s hmlr-grid-row__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.  
        </p>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--end-link">
          <a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> lorem ipsum etti.</span></a>
        </p>

      </div> 

      <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-1">
          Countdown to deadline
        </h2>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--left-number">
          <span class="hmlr-grid-row__number">28</span> days until the <abbr>Q4</abbr> casework review periode completes.  
        </p>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--end-link">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Find out more<span class="govuk-visually-hidden"> about the <abbr>Q4</abbr> casework review periode.</span></a>
        </p>
        
      </div>      

    </div> 

    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels">
      <div class="govuk-grid-column-two-thirds">
        two thirds
      </div>
      <div class="govuk-grid-column-one-third">
        one third
      </div>      
    </div>   
    
    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels">
      <div class="govuk-grid-column-one-third">
        
        text
        
      </div>      

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-2">
          An example headline header
        </h2>

        <div class="govuk-warning-text govuk-!-margin-bottom-3">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text govuk-!-font-size-16">
            <span class="govuk-visually-hidden">Warning</span>
            Fraud alerts have been actioned.
          </strong>
        </div>

        <p class="govuk-body-s hmlr-grid-row__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam provident corrupti, sed optio, amet possimus obcaecati adipisci commodi, ab officia illo tempora porro temporibus. Provident ut ipsum quod earum esse. <a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> lorem ipsum etti.</span></a> 
        </p>
      </div>      
    </div>   
    
    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels">
      <div class="govuk-grid-column-one-third">
        one third
      </div>      
      <div class="govuk-grid-column-one-third">
        one third
      </div> 
      <div class="govuk-grid-column-one-third">
        one third
      </div>            
    </div>     

    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels">
      
      <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-0">
          Year end
        </h2>

        <p class="govuk-body-s hmlr-grid-row__text xhmlr-grid-row__text--top-number">
          <span class="hmlr-grid-row__number hmlr-grid-row__number--row">237</span> working days and counting.  
        </p>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--end-link">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Find out more<span class="govuk-visually-hidden"> about the year end.</span></a>
        </p>
        
      </div>

      <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-2">
          Consectetur adipisicing elit
        </h2>

        <p class="govuk-body-s hmlr-grid-row__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut perferendis cumque ab delectus nostrum voluptate facilis vitae fugiat autem? Omnis in, saepe possimus amet natus perferendis labore voluptatem adipisci qui.  
        </p>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--end-link">
          <a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> lorem ipsum etti.</span></a>
        </p>

      </div> 

    </div>     


    <div class="govuk-grid-row hmlr-grid-row hmlr-grid-row--equal-height hmlr-grid-row--panels">
      
      <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-1">
          Countdown to deadline
        </h2>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--left-number">
          <span class="hmlr-grid-row__number">12</span> days until the <abbr>Q4</abbr> casework review periode completes. <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-top-3">Find out more<span class="govuk-visually-hidden"> about the <abbr>Q4</abbr> casework review periode.</span></a> 
        </p>
        
      </div>

      <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-s hmlr-grid-row__heading hmlr-grid-row__heading--colour-4">
          Consectetur adipisicing elit
        </h2>

        <p class="govuk-body-s hmlr-grid-row__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut perferendis cumque ab delectus nostrum voluptate facilis vitae fugiat autem? Omnis in, saepe possimus amet natus perferendis labore voluptatem adipisci qui.</a> 
        </p>

        <p class="govuk-body-s hmlr-grid-row__text hmlr-grid-row__text--end-link">
          <a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> lorem ipsum saepe possimus.</span></a>
        </p>

      </div> 

    </div>     
    
    <!--hr>

    <ul class="govuk-list hmlr-list-panels">
      <li>
        content here
      </li>
      <li>
        content here
      </li>
      <li>
        second row content left
      </li>
      <li>
        second row content right
      </li>
    </ul-->








  </section>


</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  </div>
</div>
{% endblock %}
