{% extends "layouts/wf_layout_legacy.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Error: Select a deferral reason
{% endblock %}

{% block beforeContent %}


<a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#id_DIS">Select a deferral reason</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="#" method="post" novalidate>

      <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="select-a-deferral-reason-error">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
              <h1 class="govuk-fieldset__heading">
                  Select a deferral reason
              </h1>
            </legend>


            <p id="select-a-deferral-reason-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select a deferral reason
            </p>


            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id_DIS" type="radio" name="category_code" value="DIS">
                
                <label class="govuk-label govuk-radios__label" for="id_DIS">
                  Awaiting discharge only (no requisition)
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id_REQN" type="radio" name="category_code" value="REQN" data-aria-controls="conditional-req">
                <label class="govuk-label govuk-radios__label" for="id_REQN">
                  Requisition
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-req">
                <div class="govuk-form-group">
                
                  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-radios__item">  
                      <input class="govuk-radios__input" id="defer-exe" type="radio" name="req" value="defer-exe" data-aria-controls="conditional-req">
                      <label class="govuk-label govuk-radios__label" for="defer-exe">
                        Defer to executive
                      </label>
                    </div>
                  </div>

                </div>
              </div>              

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id_NOTICE" type="radio" name="category_code" value="NOTICE">

                <label class="govuk-label govuk-radios__label" for="id_NOTICE">
                  Partial reply
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id_REQNNOTICE" type="radio" name="category_code" value="REQNNOTICE">

                <label class="govuk-label govuk-radios__label" for="id_REQNNOTICE">
                  Reminder issued
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id_PL" type="radio" name="category_code" value="PL">

                <label class="govuk-label govuk-radios__label" for="id_PL">
                  Extension of time
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="x1" type="radio" name="category_code" value="x1">

                <label class="govuk-label govuk-radios__label" for="x1">
                  Objection notice (15 days) and Requisition
                </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="x2" type="radio" name="category_code" value="x2">

                <label class="govuk-label govuk-radios__label" for="x2">
                  Objection notice (15 days) and Requisition 
                </label>
              </div> 
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="x3" type="radio" name="category_code" value="x3">

                <label class="govuk-label govuk-radios__label" for="x3">
                  Progress later
                </label>
              </div>           

            </div>
              
            <!-- if users navs back this will clear session value if no selection made -->
            <!--input type="hidden" name="category_code" value=""-->


          </fieldset>
      </div>

        <!--input type="hidden" name="lr_ref_number" value="DU164184">
        <input type="hidden" name="lr_work_ref" value="L967RWW">
        <input type="hidden" name="client" value="False"-->
        <input type="hidden" name="days" value="">

        
        <input type="submit" class="govuk-button" value="Select"> 



    </form>


  </div>
</div>


{% endblock %}
