<div class="govuk-header__logo">
    <a href="/" class="govuk-header__link hmlr-header__link">
        <span class="govuk-header__link govuk-header__service-name">
            <abbr>HM</abbr> Land Registry logo
        </span>
    </a>
</div>

<div class="govuk-header__content">
  <a href="../concepts-01/index" class="govuk-header__link govuk-header__service-name">
    Workflow
  </a>
</div>

{#

we want css to use the middle title for mobile and the first title (with the logo) for desktop WIP

#}