<ul class="govuk-list hmlr-left-nav">
    <li>
        <a href="example-02b.html" class="govuk-link govuk-link--no-visited-state">
            My Worklist
        </a>

        <ul class="govuk-list">
            <li>
                <a href="example-02b-applications.html" class="govuk-link govuk-link--no-visited-state">
                    Applications <span>(1)</span>
                </a> 
            </li>
            <li>
                <a href="example-02b-progress-later.html" class="govuk-link govuk-link--no-visited-state">
                    Progress later <span>(4)</span>
                </a> 
            </li>            
        </ul>
    </li>
    <li class="hmlr-left-nav__active">
        <a href="example-02b-select-a-category-of-work.html" class="govuk-link govuk-link--no-visited-state" aria-current="page">
            Select a category of work
        </a>
    </li>
    <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">
            Production information
        </a>
    </li> 
    <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">
            Manage assigned work
        </a>
    </li> 
    <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">
            Report an issue
        </a>
    </li>
    <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">
            Search
        </a>
    </li>         
  </ul>