<header class="govuk-header hmlr-header hmlr-header--with-nav" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">

        {% include "../includes/inc_banner-logo.html" %}

        <div class="govuk-header__content">
            
            <!--a href="#" class="govuk-header__link govuk-header__service-name">
                Workflow
            </a-->

            <nav aria-label="Menu" class="govuk-header__navigation"> <!--  aria-label="primary" -->
                <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
                
                <ul id="navigation" class="govuk-header__navigation-list">
                    <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                        <a class="govuk-header__link" href="example-03-applications" aria-current="location">
                            My Worklist
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="example-03-production-information">
                            Administration
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="example-03-search">
                            Search
                        </a>
                    </li>
                    <!--li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#">
                        Navigation item 4
                        </a>
                    </li-->
                </ul>
            </nav>

        </div>
    </div>
</header>