<nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0" aria-label="secondary">
    
    <a href="#page-content" class="govuk-skip-link hmlr-skip-link">
        Skip to the main content
    </a>

    <ul class="govuk-list hmlr-left-nav">
        <li class="hmlr-left-nav__active">
            <a href="example-03-production-information.html" class="govuk-link govuk-link--no-visited-state" aria-current="page">
                Production information
            </a> 
        </li>
        <li>
            <a href="example-03-manage-assigned-work.html" class="govuk-link govuk-link--no-visited-state">
                Manage assigned work
            </a> 
        </li> 
    </ul>
    
</nav>