{% extends "layouts/wf_layout.html" %}

{% set pageName="Volume" %}

{% block pageTitle %}
Volume
{% endblock %}

{% block beforeContent %}
<!--div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="category-of-work-pt1.html">Select a category of work</a>
      </li>

      <li class="govuk-breadcrumbs__list-item">
        Volume
    </li>      
  </ol>
</div-->
<a href="category-of-work-pt1.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<style>
  @media (min-width: 40.0625em) {/* from desktop */

  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="#" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                        
            <span class="govuk-caption-m">Select a category of work<span class="govuk-visually-hidden">: </span></span>
            
            <h1 class="govuk-fieldset__heading">
              Volume
            </h1>
            
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryVolume" name="categoryVolume" type="radio" value="changeOfOwnership">
              <label class="govuk-label govuk-radios__label" for="categoryVolume">
                Volume Change of Ownership (VCO)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryVolume-2" name="categoryVolume" type="radio" value="registerUpdate">
              <label class="govuk-label govuk-radios__label" for="categoryVolume-2">
                Volume Register Update (VRU)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryVolume-3" name="categoryVolume" type="radio" value="updateRequisition">
              <label class="govuk-label govuk-radios__label" for="categoryVolume-3">
                Volume Change of Ownership Actionable Deferral: Requisition (VCO ADR)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryVolume-4" name="categoryVolume" type="radio" value="ActionableRequisition">
              <label class="govuk-label govuk-radios__label" for="categoryVolume-4">
                Volume Register Update Actionable Deferral: Requisition (VRU ADR)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryVolume-5" name="categoryVolume" type="radio" value="objectionNotice">
              <label class="govuk-label govuk-radios__label" for="categoryVolume-5">
                Volume Actionable Deferral: Objection Notice
              </label>
            </div>          
          </div>
        </fieldset>
      </div>

      <button value="y" type="submit" name="save" class="govuk-button" id="save">
        Select
      </button>

    </form>

  </div>
</div>

{% endblock %}
