{% extends "layouts/wf_layout.html" %}

{% set pageName="Application Processing Executive" %}

{% block pageTitle %}
Application Processing Executive
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="category-of-work-pt1.html">Select a category of work</a>
      </li>

      <li class="govuk-breadcrumbs__list-item">
        Application Processing Executive
    </li>      
  </ol>
</div>
{% endblock %}

{% block content %}
<style>
  @media (min-width: 40.0625em) {/* from desktop */

  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="#" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
            
            <span class="govuk-caption-m">Select a category of work<span class="govuk-visually-hidden">: </span></span>
            
            <h1 class="govuk-fieldset__heading">
              Application Processing Executive
            </h1>

          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pro-executive" name="pro-executive" type="radio" value="ext-reg-std">
              <label class="govuk-label govuk-radios__label" for="pro-executive">
                Executive Register Update Standard (AP SRU)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pro-executive-2" name="pro-executive" type="radio" value="exe-reg-update">
              <label class="govuk-label govuk-radios__label" for="pro-executive-2">
                Executive Register Update Complex (AP CRU)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pro-executive-3" name="pro-executive" type="radio" value="exe-action-deferral">
              <label class="govuk-label govuk-radios__label" for="pro-executive-3">
                Executive Actionable Deferral: Requisition (AP Exec ADR)
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button value="y" type="submit" name="save" class="govuk-button" id="save">
        Select
      </button>

    </form>

  </div>
</div>

{% endblock %}
