{% extends "layouts/wf_layout.html" %}

{% set pageName="Executive" %}

{% block pageTitle %}
Error: Executive
{% endblock %}

{% block beforeContent %}
<!--div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="category-of-work-pt1.html">Select a category of work</a>
      </li>

      <li class="govuk-breadcrumbs__list-item">
        Executive
      </li>      
  </ol>
</div-->
<a href="category-of-work-pt1.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#ipsum-a">Select an Executive Register Update Complex (<abbr>CRU</abbr>) sub-category</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="#" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
            
            <span class="govuk-caption-m">Select a category of work<span class="govuk-visually-hidden">: </span></span>
            
            <h1 class="govuk-fieldset__heading">
              Executive
            </h1>

          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryExecutive" name="categoryExecutive" type="radio" value="registerUpdateStd" {% if (data['categoryExecutive'] == 'registerUpdateStd') %}
              checked
              {% endif %}>
              <label class="govuk-label govuk-radios__label" for="categoryExecutive">
                Executive Register Update Standard (SRU)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryExecutive-2" name="categoryExecutive" type="radio" value="registerUpdateComplex" data-aria-controls="register-update-options" {% if (data['categoryExecutive'] == 'registerUpdateComplex') %}
              checked
              {% endif %}>
              <label class="govuk-label govuk-radios__label" for="categoryExecutive-2">
                Executive Register Update Complex (CRU)
              </label>
            </div>

            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            <div class="govuk-radios__conditional" id="register-update-options">

                <div class="govuk-form-group govuk-form-group--error">
                  <fieldset class="govuk-fieldset" aria-describedby="register-update-options-error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
                      <!--h2 class="govuk-fieldset__heading"-->
                        Sub-categories 
                      <!--/h2-->
                    </legend>

                    <p id="register-update-options-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> Select an Executive Register Update Complex (<abbr>CRU</abbr>) sub-category
                    </p> 

                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ipsum-a" name="ipsum" type="radio" value="Lorem_ipsum_a" {% if (data['ipsum'] == 'Lorem_ipsum_a') %}
                        checked
                        {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="ipsum-a">
                          Lorem ipsum a
                        </label>
                      </div>                            

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ipsum-b" name="ipsum" type="radio" value="Lorem_ipsum_b" {% if (data['ipsum'] == 'Lorem_ipsum_b') %}
                        checked
                        {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="ipsum-b">
                          Lorem ipsum b
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ipsum-c" name="ipsum" type="radio" value="Lorem_ipsum_c" {% if (data['ipsum'] == 'Lorem_ipsum_c') %}
                        checked
                        {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="ipsum-c">
                          Lorem ipsum c
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ipsum-d" name="ipsum" type="radio" value="Lorem_ipsum_d" {% if (data['ipsum'] == 'Lorem_ipsum_d') %}
                        checked
                        {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="ipsum-d">
                          Lorem ipsum d
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ipsum-e" name="ipsum" type="radio" value="Lorem_ipsum_e" {% if (data['ipsum'] == 'Lorem_ipsum_e') %}
                        checked
                        {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="ipsum-e">
                          Lorem ipsum e
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ipsum-std" name="ipsum" type="radio" value="any" {% if (data['ipsum'] == 'any') %}
                        checked
                        {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="ipsum-std">
                          Any
                        </label>
                      </div>                       
                      
                    </div>
                  </fieldset>
                </div>                    

            </div>            

            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryExecutive-3" name="categoryExecutive" type="radio" value="registerUpdateDeferralObj" {% if (data['categoryExecutive'] == 'registerUpdateDeferralObj') %}
              checked
              {% endif %}>
              <label class="govuk-label govuk-radios__label" for="categoryExecutive-3">
                Executive Register Update Actionable Deferral: Objection Notice
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="categoryExecutive-4" name="categoryExecutive" type="radio" value="registerUpdateDeferralReq" {% if (data['categoryExecutive'] == 'registerUpdateDeferralReq') %}
              checked
              {% endif %}>
              <label class="govuk-label govuk-radios__label" for="categoryExecutive-4">
                Executive Register Update Actionable Deferral: Requisition (Exec ADR)
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button value="y" type="submit" name="save" class="govuk-button" id="save">
        Select
      </button>

    </form>

  </div>
</div>

{% endblock %}
