{% extends "layouts/wf_layout.html" %}

{% set pageName="Application Processing Volume" %}

{% block pageTitle %}
Error: Application Processing Volume
{% endblock %}

{% block beforeContent %}
<!--div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="category-of-work-pt1.html">Select a category of work</a>
      </li>

      <li class="govuk-breadcrumbs__list-item">
        Application Processing Volume
    </li>      
  </ol>
</div-->
<a href="category-of-work-pt1.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#pro-volume">Select an an Application Processing Volume category of work</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="#" method="post" novalidate>

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="pro-volume-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
            
            <span class="govuk-caption-m">Select a category of work<span class="govuk-visually-hidden">: </span></span>
            
            <h1 class="govuk-fieldset__heading">
              Application Processing Volume
            </h1>

          </legend>

          <p id="pro-volume-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select an an Application Processing Volume category of work
          </p>          

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pro-volume" name="pro-volume" type="radio" value="changeOfOwnership">
              <label class="govuk-label govuk-radios__label" for="pro-volume">
                Volume Change of Ownership (AP VCO)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pro-volume-2" name="pro-volume" type="radio" value="registerUpdate">
              <label class="govuk-label govuk-radios__label" for="pro-volume-2">
                Volume Register Update (AP VRU)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pro-volume-3" name="pro-volume" type="radio">
              <label class="govuk-label govuk-radios__label" for="pro-volume-3">
                Volume Change of Ownership Actionable Deferral: Requisition (AP VCO ADR)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pro-volume-4" name="pro-volume" type="radio" value="actionableRequisition">
              <label class="govuk-label govuk-radios__label" for="pro-volume-4">
                Volume Register Update Actionable Deferral: Requisition (AP VRU ADR)
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button value="y" type="submit" name="save" class="govuk-button" id="save">
        Select
      </button>

    </form>

  </div>
</div>

{% endblock %}
