{% extends "layouts/wf_layout.html" %}

{% set pageName="Select a category of work" %}

{% block pageTitle %}
Select a category of work
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
    
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-m">Category of work: sub-categories #270</h1>

    <p class="govuk-body-s">
      All links open in a new tab.
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li style="margin-bottom: 50px;">
        <a class="govuk-link govuk-link--no-visited-state" href="select-a-category-2a" target="_blank">
          <span class="govuk-!-font-weight-bold">2a:</span> on the select category page
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="select-a-category-2b-with-expedites-single.html" target="_blank">
          <span class="govuk-!-font-weight-bold">2b:</span> on the Worklist page with expedites (single)
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="select-a-category-2b-with-expedites" target="_blank">
          <span class="govuk-!-font-weight-bold">2b:</span> on the Worklist page with expedites (multi)
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="select-a-category-2b-with-expedites-with-legend.html" target="_blank">
          <span class="govuk-!-font-weight-bold">2b:</span> on the Worklist page with expedites and legend
        </a>
      </li> 
      
      <li style="margin-top: 50px;">
        <a class="govuk-link govuk-link--no-visited-state" href="select-a-category-2b-with-lots.html" target="_blank">
          <span class="govuk-!-font-weight-bold">2b:</span> on the Worklist page multi example
        </a>
      </li> 
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="select-a-category-2b-with-lots-with-expedites.html" target="_blank">
          <span class="govuk-!-font-weight-bold">2b:</span> on the Worklist page multi example with expedites 
        </a>
      </li>             
    </ul>



    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-s">Examples of flows</h2>
    
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced" style="margin-top: 50px;">
      <li>
        <span class="govuk-!-font-size-16">Part contextual 'select category' list page, with sub-categories as filters on worklist page:</span> <a class="govuk-link govuk-link--no-visited-state" href="/capability-based/landing4" target="_blank">
          <span class="govuk-!-font-weight-bold">2d:</span> Select category page - part contextual
        </a>  <!-- Or split them into separate pages: select-a-category-of-work-split-d -->
      </li>
      <li>
        <span class="govuk-!-font-size-16">Fully contextual 'select category' list page, with <em>no</em> sub-category filters on worklist page:</span> <a class="govuk-link govuk-link--no-visited-state" href="/capability-based/landing5" target="_blank">
          <span class="govuk-!-font-weight-bold">2e:</span> Select category page - full contextual
        </a>
      </li>
      <li>
        <span class="govuk-!-font-size-16">Separate 'target by sub-category' panel on home page, with standalone sub-category page:</span> <a class="govuk-link govuk-link--no-visited-state" href="/capability-based/landing6" target="_blank">
          <span class="govuk-!-font-weight-bold">2f:</span> Separate panel and separate sub-category form page (list)
        </a>
      </li>      
    </ul>

  </div>
</div>

{% endblock %}
