{% extends "layouts/wf_layout.html" %}

{% set pageName="Select a category of work" %}

{% block pageTitle %}
Select a category of work
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="landing5.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          Select a category of work
      </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<style>
  @media (min-width: 40.0625em) {/* from desktop */
    .hmlr-checkboxes-2-col {
      width: 80%; 
      display: flex; 
      flex-wrap: wrap;
    }                
    .hmlr-checkboxes-2-col .govuk-checkboxes__item {
      width: 50%; 
      box-sizing: border-box; 
    }
    /* use sass constants in prod */
    /*.hmlr-checkboxes-2-col .govuk-checkboxes__item label {
      font-size: 16px !important;
      font-size: 1rem !important;
      line-height: 1.25 !important;
    }*/
  }
  .hmlr-checkboxes-2-col {
    background-color: #f3f2f1;
    padding: 0 5px 0 10px;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="#" method="post" novalidate>



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select a category of work
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-1" name="cat-type-e" type="radio" value="option-1" data-aria-controls="conditional-option-1">
              <label class="govuk-label govuk-radios__label" for="option-1">
                By category of work
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-1">

            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                  <legend class="govuk-visually-hidden">
                      Select a category of work list
                  </legend>
                  
                  <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        Volume
                      </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="my-volumeOptions-ap" name="ipsum" type="radio" value="Volume_Change_of_Ownership">
                        <label class="govuk-label govuk-radios__label" for="my-volumeOptions-ap">
                          Volume Change of Ownership (VCO)
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="my-volumeOptions-ap-2" name="ipsum" type="radio" value="Volume_Register_Update">
                        <label class="govuk-label govuk-radios__label" for="my-volumeOptions-ap-2">
                          Volume Register Update (VRU)
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="my-volumeOptions-ap-3" name="ipsum" type="radio" value="Volume_Change_of_Ownership_Actionable_Deferral:_Requisition">
                        <label class="govuk-label govuk-radios__label" for="my-volumeOptions-ap-3">
                          Volume Change of Ownership Actionable Deferral: Requisition (VCO ADR)
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="my-volumeOptions-ap-4" name="ipsum" type="radio" value="Volume_Register_Update_Actionable_Deferral:_Requisition">
                        <label class="govuk-label govuk-radios__label" for="my-volumeOptions-ap-4">
                          Volume Register Update Actionable Deferral: Requisition (VRU ADR)
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="my-volumeOptions-ap-5" name="ipsum" type="radio" value="Volume_Actionable_Deferral:_Objection_Notice">
                        <label class="govuk-label govuk-radios__label" for="my-volumeOptions-ap-5">
                          Volume Actionable Deferral: Objection Notice
                        </label>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        Executive
                      </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="executiveOptions-ad" name="ipsum" type="radio" value="Executive_Register_Update_Standard">
                        <label class="govuk-label govuk-radios__label" for="executiveOptions-ad">
                          Executive Register Update Standard (SRU)
                        </label>
                      </div>




                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="executiveOptions-ad-2" name="ipsum" type="radio" value="Executive_Register_Update_Complex" data-aria-controls="conditional-executiveOptions-ad-2">
                        <label class="govuk-label govuk-radios__label" for="executiveOptions-ad-2">
                          Executive Register Update Complex (CRU)
                        </label>
                      </div>



                      <div class="govuk-radios__conditional" id="conditional-executiveOptions-ad-2">
                        <div class="govuk-form-group">
                          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
      
                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h3 class="govuk-fieldset__heading govuk-visually-hidden">
                                  Sub-categories 
                                </h3>
                              </legend>
                              <div class="govuk-radios" data-module="govuk-radios">
                                
                                <div class="govuk-radios__item">
                                  
                                  <input class="govuk-radios__input" id="ipsum-a" name="ipsum-sub1" type="radio" value="Lorem_ipsum_a" data-aria-controls="conditional-ipsum-a">
                                  
                                  <label class="govuk-label govuk-radios__label" for="ipsum-a">
                                    Lorem ipsum a 
                                  </label>
      
                                </div>                            
      
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ipsum-a">

                                  <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h1 class="govuk-fieldset__heading govuk-visually-hidden">
                                          Filter options
                                        </h1>
                                      </legend>
                                      <div class="govuk-checkboxes govuk-checkboxes--small hmlr-checkboxes-2-col" data-module="govuk-checkboxes">
                                        
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-1" name="ipsum-a-sub" type="checkbox" value="ipsum-a-1">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-1">
                                            Consectetur adipisicing 
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-2" name="ipsum-a-sub" type="checkbox" value="ipsum-a-2">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-2">
                                            Nemo dolore laudantium 
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-3" name="ipsum-a-sub" type="checkbox" value="ipsum-a-3">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-3">
                                            Sapiente ducimus
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-4" name="ipsum-a-sub" type="checkbox" value="ipsum-a-4">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-4">
                                            Sapiente iusto expedita
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-5" name="ipsum-a-sub" type="checkbox" value="ipsum-a-5">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-5">
                                            Consectetur adipisicing 
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-6" name="ipsum-a-sub" type="checkbox" value="ipsum-a-6">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-6">
                                            Nemo dolore laudantium 
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-7" name="ipsum-a-sub" type="checkbox" value="ipsum-a-7">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-7">
                                            Sapiente ducimus
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="ipsum-a-8" name="ipsum-a-sub" type="checkbox" value="ipsum-a-8">
                                          <label class="govuk-label govuk-checkboxes__label" for="ipsum-a-8">
                                            Sapiente iusto expedita
                                          </label>
                                        </div>

                                      </div>
                                    </fieldset>
                                  </div>
                                  
                                </div>
      
                                <div class="govuk-radios__item">
                                  
                                  <input class="govuk-radios__input" id="ipsum-b" name="ipsum-sub1" type="radio" value="Lorem_ipsum_b" data-aria-controls="conditional-ipsum-b">
                                  
                                  <label class="govuk-label govuk-radios__label" for="ipsum-b">
                                    Lorem ipsum b
                                  </label>
      
                                </div>
      
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ipsum-b">
                                  <div class="govuk-form-group">
                                    <div class="govuk-checkboxes govuk-checkboxes--small hmlr-checkboxes-2-col" data-module="govuk-checkboxes">
                                          
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-b-1" name="ipsum-b-sub" type="checkbox" value="ipsum-b-1">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-b-1">
                                          Nemo dolore laudantium 
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-b-2" name="ipsum-b-sub" type="checkbox" value="ipsum-b-2">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-b-2">
                                          Nemo dolore laudantium 
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-b-3" name="ipsum-b-sub" type="checkbox" value="ipsum-b-3">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-b-3">
                                          Sapiente ducimus
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-b-4" name="ipsum-b-sub" type="checkbox" value="ipsum-b-4">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-b-4">
                                          Sapiente iusto expedita
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-b-5" name="ipsum-b-sub" type="checkbox" value="ipsum-b-5">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-b-5">
                                          Consectetur adipisicing 
                                        </label>
                                      </div>
      
                                    </div>
                                  </div>
                                </div>
      
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="ipsum-c" name="ipsum-sub1" type="radio" value="Lorem_ipsum_c" data-aria-controls="conditional-ipsum-c">
                                  <label class="govuk-label govuk-radios__label" for="ipsum-c">
                                    Lorem ipsum c
                                  </label>
                                </div>

                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ipsum-c">
                                  <div class="govuk-form-group">
      
                                    <div class="govuk-checkboxes govuk-checkboxes--small hmlr-checkboxes-2-col" data-module="govuk-checkboxes">
                                          
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-c-1" name="ipsum-c-sub" type="checkbox" value="ipsum-c-1">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-c-1">
                                          Consectetur adipisicing 
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-c-2" name="ipsum-c-sub" type="checkbox" value="ipsum-c-2">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-c-2">
                                          Nemo laudantium 
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-c-3" name="ipsum-c-sub" type="checkbox" value="ipsum-c-3">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-c-3">
                                          Sapiente ducimus
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-c-4" name="ipsum-c-sub" type="checkbox" value="ipsum-c-4">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-c-4">
                                          Sapiente adipisicing 
                                        </label>
                                      </div>
      
                                    </div>
      
                                  </div>
                                </div>
  
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="ipsum-d" name="ipsum-sub1" type="radio" value="Lorem_ipsum_d" data-aria-controlsX="conditional-ipsum-d">
                                  <label class="govuk-label govuk-radios__label" for="ipsum-d">
                                    Lorem ipsum d
                                  </label>
                                </div>

                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ipsum-d">
                                  <div class="govuk-form-group">
      
                                    <div class="govuk-checkboxes govuk-checkboxes--small hmlr-checkboxes-2-col" data-module="govuk-checkboxes">
                                          
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-d-1" name="ipsum-d-sub" type="checkbox" value="ipsum-d-1">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-d-1">
                                          Consectetur adipisicing 
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-d-2" name="ipsum-d-sub" type="checkbox" value="ipsum-d-2">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-d-2">
                                          Eaque provident illo nisi
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-d-3" name="ipsum-d-sub" type="checkbox" value="ipsum-d-3">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-d-3">
                                          Sapiente ducimus
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-d-4" name="ipsum-d-sub" type="checkbox" value="ipsum-d-4">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-d-4">
                                          Nemo laudantium 
                                        </label>
                                      </div>
      
                                    </div>
      
                                  </div>
                                </div>                            
    
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="ipsum-e" name="ipsum-sub1" type="radio" value="Lorem_ipsum_e" data-aria-controlsX="conditional-ipsum-e">
                                  <label class="govuk-label govuk-radios__label" for="ipsum-e">
                                    Lorem ipsum e
                                  </label>
                                </div>

                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ipsum-e">
                                  <div class="govuk-form-group">

                                    <div class="govuk-checkboxes govuk-checkboxes--small hmlr-checkboxes-2-col" data-module="govuk-checkboxes">
                                          
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-e-1" name="ipsum-e-sub" type="checkbox" value="ipsum-e-1">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-e-1">
                                          Consectetur adipisicing 
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-e-2" name="ipsum-e-sub" type="checkbox" value="ipsum-e-2">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-e-2">
                                          Eaque provident illo nisi
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-e-3" name="ipsum-e-sub" type="checkbox" value="ipsum-e-3">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-e-3">
                                          Sapiente ducimus
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-e-4" name="ipsum-e-sub" type="checkbox" value="ipsum-e-4">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-e-4">
                                          Nemo laudantium 
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ipsum-e-5" name="ipsum-e-sub" type="checkbox" value="ipsum-e-5">
                                        <label class="govuk-label govuk-checkboxes__label" for="ipsum-e-5">
                                          Deleniti amet maxime
                                        </label>
                                      </div>      

                                    </div>

                                  </div>
                                </div>  

                                
                              </div>
                            </fieldset>
                          </div>                    
      
                          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                        </div>
                      </div>




                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="executiveOptions-ad-3" name="ipsum" type="radio" value="Executive_Register_Update_Actionable_Deferral:_Objection_Notice">
                        <label class="govuk-label govuk-radios__label" for="executiveOptions-ad-3">
                          Executive Register Update Actionable Deferral: Objection Notice
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="executiveOptions-ad-4" name="ipsum" type="radio" value="Executive_Register_Update_Actionable_Deferral:_Requisition">
                        <label class="govuk-label govuk-radios__label" for="executiveOptions-ad-4">
                          Executive Register Update Actionable Deferral: Requisition (Exec ADR)
                        </label>
                      </div>
                      
                    </div>
                  </fieldset>  
                  
                  <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        Application Processing Volume
                      </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apOptions-ad" name="ipsum" type="radio" value="Volume_Change_of_Ownership">
                        <label class="govuk-label govuk-radios__label" for="apOptions-ad">
                          Volume Change of Ownership (AP VCO)
                        </label>              
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apOptions-ad-2" name="ipsum" type="radio" value="Volume_Register_Update">
                        <label class="govuk-label govuk-radios__label" for="apOptions-ad-2">
                          Volume Register Update (AP VRU)
                        </label>              
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apOptions-ad-3" name="ipsum" type="radio" value="Volume_Change_of_Ownership_Actionable_Deferral:_Requisition">
                        <label class="govuk-label govuk-radios__label" for="apOptions-ad-3">
                          Volume Change of Ownership Actionable Deferral: Requisition (AP VCO ADR)
                        </label>              
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apOptions-ad-4" name="ipsum" type="radio" value="Volume_Register_Update_Actionable_Deferral:_Requisition">
                        <label class="govuk-label govuk-radios__label" for="apOptions-ad-4">
                          Volume Register Update Actionable Deferral: Requisition (AP VRU ADR)
                        </label>              
                      </div>
                      
                    </div>
                  </fieldset>  
                  
                  <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        Application Processing Executive
                      </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apOptionsExecutive-ad" name="ipsum" type="radio" value="Executive_Register_Update_Standard">
                        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-ad">
                          Executive Register Update Standard (AP SRU)
                        </label>           
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apOptionsExecutive-ad-2" name="ipsum" type="radio" value="Executive_Register_Update_Complex">
                        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-ad-2">
                          Executive Register Update Complex (AP CRU)
                        </label>            
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="apOptionsExecutive-ad-3" name="ipsum" type="radio" value="Executive_Actionable_Deferral:_Requisition ">
                        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-ad-3">
                          Executive Actionable Deferral: Requisition (AP Exec ADR)
                        </label>              
                      </div>
      
                    </div>
                  </fieldset>              

                  <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        No Category
                      </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="noCat" name="ipsum" type="radio" value="No_Category">
                        <label class="govuk-label govuk-radios__label" for="noCat">
                          No Category
                        </label>          
                      </div>
      
                    </div>
                  </fieldset> 

                

              
              </fieldset>

            </div>

          </div>

          <!-- second option -->

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="option-2" name="cat-type-e" type="radio" value="option-2" data-aria-controls="conditional-option-2">
            <label class="govuk-label govuk-radios__label" for="option-2">
              By sub-category
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-2">
            
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sub-cat-1" name="sub-cat" type="radio" value="expedited-oldest">
                <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="sub-cat-1">
                  <abbr>AN</abbr>1
                </label>
              </div>
            </div>

          </div>          

        </fieldset>
      </div>  


      <button value="y" type="submit" name="save" class="govuk-button" id="save">
        Select
      </button>

    </form>

  </div>
</div>

{% endblock %}
