{% extends "layouts/wf_layout-ui-designs.html" %}

{% extends "layouts/wf_layout-ui-designs.html" %}

{% set pageName="{{ serviceName }} Progress Later" %}

{% block header %}
  {% include "../includes/inc_top-nav-std.html" %}
{% endblock %}

{% block content %}


    
<div class="govuk-grid-row hmlr-min-height-header-sm">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Workflow <span class="govuk-heading-l govuk-!-font-weight-regular govuk-!-display-inline">&dash; Progress Later</span>
    </h1>

    <p class="govuk-body hmlr-secondary-text">
      There are currently 4 cases in your Progress Later list. (2 are expedites).
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
xxxxxxxxxxxx
  </div>      

</div>


<div class="govuk-grid-row">
  <section class="govuk-grid-column-one-quarter govuk-!-padding-right-0">

    <a href="#page-content" class="govuk-skip-link hmlr-skip-link">
      Skip to the main content
    </a>

    {% include "../includes/inc_left-nav-02-applications.html" %}

    {% include "../includes/inc_vertical-filters.html" %}
    
  </section>

  <section class="govuk-grid-column-three-quarters" id="page-content" role="region">

    <!-- ******************************** START MAIN RIGHT COL CONTENT ********************** -->
    <form action="#" name="sorting" novalidate>

      <div class="govuk-grid-row">

        {% include "../includes/inc_filters-statement-01.html" %}    

        {% include "../includes/inc_basic-sorting-01.html" %}

      </div>
    
    </form>



    <!-- ******************************** END MAIN RIGHT COL CONTENT ************************ -->

  </section>
</div>




{% endblock %}
