/* ********************************** */
/* arial as default font on all elements */
/* ********************************** */
* {
	font-family: Arial, Helvetica, sans-serif !important;
}
/* * end block * */

/* ********************************** */
/* for documentation pages only */
/* ********************************** */
code {
	font-family: Courier new !important;
  font-weight: 600;
}





/* ******** additional code for the Workflow repo added below *********** 
code {
    font-family: monospace !important;
    font-weight: normal;
    font-size: 1.1rem;
    background-color: antiquewhite;
}
*/