/* ************************************************** */
/* css to make the worklist render/display correctly  */
/* ************************************************** */

.inline-list__worklist {
  display:inline-block;
  padding: 1px 6px;
}

.black-border__worklist {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color:#0b0c0c
}

.row-paddding__worklist {
  padding-top: 20px;
}


/* some legacy css is impacting upon the new GDS footer, so this hack resolves it */
footer.govuk-footer .govuk-footer__link {
  padding: 0 !important; 
}