{% extends "layouts/main.html" %}

{% set pageName="Index template example for the standard govuk template" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }} - <abbr>GDS</abbr> layout
    </h1>

    <p class="govuk-body">This is an example page using the standard <abbr>GDS</abbr> layout (using the default <abbr>GDS</abbr> <b>main.html</b> (govuk-branded.njk) layout and standard styles).</p>

    <!-- keep this page to use as a base template and to add a list of links to the various Workflow prototypes/designs -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
