<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% if authenticated %}
            {# Alternative content shown when authenticated #}

            <p class="govuk-body">Your content here - when the password is correct.</p>

        {% else %}
            {# Password form #}
            <form method="post">
                <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
                <p class="govuk-body-s">The list of designs are password protected.</p>
                <label class="govuk-label" for="password">
                    Enter password
                </label>
                {% if error %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter the correct password
                </p>
                {% endif %}
                <input class="govuk-input  govuk-input--width-10{% if error %} govuk-input--error{% endif %}" id="password" name="password" type="password" autocomplete="off">
                </div>
            
                <button type="submit" class="govuk-button" data-module="govuk-button">
                Submit
                </button>
            </form>
        {% endif %}


    </div>
</div>