{% extends "layouts/wf_layout-std-new.html" %}

{% set pageName="Expedites" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
        
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/worklist-ui/">Home</a>
      </li>
      
      <li class="govuk-breadcrumbs__list-item">
          Select a category of work
      </li>
  </ol>

</div>
{% endblock %}

{% block content %}


 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form action="/worklist-ui/work-category-option" method="post" novalidate="">

      
        <input name="csrf_token" type="hidden" value="ImVlODVjZjllNDQyMTEzZmYzZTg5YzZhMDhhOGZmYWIzNTA2ODg0MDci.ZwVE1A.ArNxEmP-WTpybMW_pQDZSfmLBYY">
      

      

      

      
        <div class="govuk-form-group">
      

      
<fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
  
    <h1 class="govuk-fieldset__heading">
      Select a category of work
    </h1>
  
  </legend>
  


        

          






<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
      Volume
    
    </legend>
    

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="volumeOptions" name="work_allocation_code" type="radio" value="VCO">
        <label class="govuk-label govuk-radios__label" for="volumeOptions">
          Volume Change of Ownership (VCO)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="volumeOptions-2" name="work_allocation_code" type="radio" value="VRU">
        <label class="govuk-label govuk-radios__label" for="volumeOptions-2">
          Volume Register Update (VRU)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="volumeOptions-3" name="work_allocation_code" type="radio" value="VCO_ADR">
        <label class="govuk-label govuk-radios__label" for="volumeOptions-3">
          Volume Change of Ownership Actionable Deferral: Requisition (VCO ADR)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="volumeOptions-4" name="work_allocation_code" type="radio" value="VRU_ADR">
        <label class="govuk-label govuk-radios__label" for="volumeOptions-4">
          Volume Register Update Actionable Deferral: Requisition (VRU ADR)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="volumeOptions-5" name="work_allocation_code" type="radio" value="V_ADN">
        <label class="govuk-label govuk-radios__label" for="volumeOptions-5">
          Volume Actionable Deferral: Objection Notice
        </label>
        
      </div>
      
    
      
      
    </div>

  </fieldset>

</div>


          






<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
      Executive
    
    </legend>
    

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="executiveOptions" name="work_allocation_code" type="radio" value="SRU">
        <label class="govuk-label govuk-radios__label" for="executiveOptions">
          Executive Register Update Standard (SRU)
        </label>
        
      </div>
      
    
      
        
    
      
      
      <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="executiveOptions-2" name="work_allocation_code" type="radio" value="CRU">
        <label class="govuk-label govuk-radios__label" for="executiveOptions-2">
          Executive Register Update Complex (CRU): Expedited (Oldest)
        </label>
      </div>

      <div class="govuk-radios__item govuk-!-margin-left-7">
        <input class="govuk-radios__input" id="executiveOptions-22" name="work_allocation_code" type="radio" value="CRU2">
        <label class="govuk-label govuk-radios__label" for="executiveOptions-22">
          Executive Register Update Complex (CRU): Expedited (Newest)
        </label>
      </div> 

      <div class="govuk-radios__item govuk-!-margin-left-7">
        <input class="govuk-radios__input" id="executiveOptions-23" name="work_allocation_code" type="radio" value="CRU3">
        <label class="govuk-label govuk-radios__label" for="executiveOptions-23">
          Executive Register Update Complex (CRU): Non-expedited 
        </label>
      </div>            
      <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="executiveOptions-3" name="work_allocation_code" type="radio" value="E_ADN">
        <label class="govuk-label govuk-radios__label" for="executiveOptions-3">
          Executive Register Update Actionable Deferral: Objection Notice
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="executiveOptions-4" name="work_allocation_code" type="radio" value="E_ADR">
        <label class="govuk-label govuk-radios__label" for="executiveOptions-4">
          Executive Register Update Actionable Deferral: Requisition (Exec ADR)
        </label>
        
      </div>
      
    
      
      
    </div>

  </fieldset>

</div>


          






<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
      Application Processing Volume
    
    </legend>
    

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apOptions" name="work_allocation_code" type="radio" value="VCO_AP">
        <label class="govuk-label govuk-radios__label" for="apOptions">
          Volume Change of Ownership (AP VCO)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apOptions-2" name="work_allocation_code" type="radio" value="VRU_AP">
        <label class="govuk-label govuk-radios__label" for="apOptions-2">
          Volume Register Update (AP VRU)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apOptions-3" name="work_allocation_code" type="radio" value="VCO_ADR_AP">
        <label class="govuk-label govuk-radios__label" for="apOptions-3">
          Volume Change of Ownership Actionable Deferral: Requisition (AP VCO ADR)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apOptions-4" name="work_allocation_code" type="radio" value="VRU_ADR_AP">
        <label class="govuk-label govuk-radios__label" for="apOptions-4">
          Volume Register Update Actionable Deferral: Requisition (AP VRU ADR)
        </label>
        
      </div>
      
    
      
      
    </div>

  </fieldset>

</div>


          






<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
      Application Processing Executive
    
    </legend>
    

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apOptionsExecutive" name="work_allocation_code" type="radio" value="SRU_AP">
        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive">
          Executive Register Update Standard (AP SRU)
        </label>
        
      </div>
      
    
      
        
    
      
      
      <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apOptionsExecutive-2" name="work_allocation_code" type="radio" value="CRU_AP">
        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-2">
          Executive Register Update Complex (AP CRU): Expedited (Oldest)
        </label>
      </div>
      
      <div class="govuk-radios__item govuk-!-margin-left-7">
        <input class="govuk-radios__input" id="apOptionsExecutive-22" name="work_allocation_code" type="radio" value="CRU_AP2">
        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-22">
          Executive Register Update Complex (AP CRU): Expedited (Newest)
        </label>
      </div>
      
      <div class="govuk-radios__item govuk-!-margin-left-7">
        <input class="govuk-radios__input" id="apOptionsExecutive-23" name="work_allocation_code" type="radio" value="CRU_AP3">
        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-23">
          Executive Register Update Complex (AP CRU): Non-expedited
        </label>
      </div>        
      <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="apOptionsExecutive-3" name="work_allocation_code" type="radio" value="E_ADR_AP">
        <label class="govuk-label govuk-radios__label" for="apOptionsExecutive-3">
          Executive Actionable Deferral: Requisition (AP Exec ADR)
        </label>
        
      </div>
      
    
      
      
    </div>

  </fieldset>

</div>


          






<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
      No Category
    
    </legend>
    

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="noCat" name="work_allocation_code" type="radio" value="NONE">
        <label class="govuk-label govuk-radios__label" for="noCat">
          No Category
        </label>
        
      </div>
      
    
      
      
    </div>

  </fieldset>

</div>


      

</fieldset>

      </div>

      


  

<button value="y" type="submit" name="save" class="govuk-button" data-module="govuk-button" id="save">
  Select
</button>


    </form>
  </div>
</div>

{% endblock %}
