{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Expedites" #}

{% block pageTitle %}
Expedites index
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



          
          <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
            
            Expedites
            
          </h1>

          <p class="govuk-body">Initial designs for the requirement to filter and order on expedited applications when obtaining a new application.</p>          

          <p class="govuk-body">All design links open in a new tab.</p>

          <ul class="govuk-list govuk-list--spaced govuk-!-margin-top-9 govuk-!-font-size-16">
            <!--li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-01.html" target="_blank">Design a1</a>  <br>(expanding filters [Radios]: below button, with inline header)

              <ul class="govuk-list govuk-!-margin-bottom-0 govuk-!-margin-left-6 govuk-!-font-size-16">
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-b.html" target="_blank">Design b</a>  <br>(expanding filters [Radios]: below button, without inline header, with button inside)
                </li>
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-a2.html" target="_blank">Design a2</a>  <br>(expanding filters [Radios]: below button, without inline header, without button)
                </li>                 
              </ul>

            </li>
           
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-a3.html" target="_blank">Design a3</a>  <br>(3x vertical radios, with inline header)
            </li> 
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-a4.html" target="_blank">Design a4</a>  <br>(3x vertical radios, without inline header)
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-a5.html" target="_blank">Design a5</a>  <br>(3x horizontal radios, with button outside)
            </li-->            
            <li class="govuk-!-font-weight-bold">
              &gt; <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-a6.html" target="_blank">Design <!--a6--></a>  <br>(3x horizontal radios, with button inside)
            </li>  
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/message.html" target="_blank">Message</a>  <br>(Silent fallback - but show msg if no expedites available and a non-expedited is obtained)
            </li>                        
          </ul>

          <!--ul class="govuk-list govuk-list--spaced govuk-!-margin-top-9 govuk-!-font-size-16">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-category-01.html" target="_blank">Design category 01</a>  <br>(alt flow: select a category)    
            </li>            
          </ul-->                    

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">

          <!--details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Redundant
              </span>
            </summary>
            <div class="govuk-details__text">

              <ul class="govuk-list govuk-list--spaced">
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-01.html" target="_blank">Design 01</a>  (horizontal)
                </li>
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-02.html" target="_blank">Design 02</a>  (vertical)
                </li>            
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-03.html" target="_blank">Design 03</a>  (vertical with inline header)
                </li> 
              </ul>

            </div>
          </details-->


          <!--p class="govuk-body-s">
            Use the 'Clear data (pop-up)' link to clear the session data. 
          </p-->
          



  </div>
</div>




{% endblock %}
