{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Expedites" #}

{% block pageTitle %}
Expedites index
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



          
          <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
            
            Expedites
            
          </h1>

          <p class="govuk-body">Initial designs for the (current) requirement to filter and order on expedited applications when obtaining a new application.</p>          

          <p class="govuk-body">All design links open in a new tab.</p>

          <ul class="govuk-list govuk-list--spaced govuk-!-margin-top-9">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-01.html" target="_blank">Design 01</a>  (horizontal)
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-02.html" target="_blank">Design 02</a>  (vertical)
            </li>            
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/expedites/design-03.html" target="_blank">Design 03</a>  (vertical with inline header)
            </li> 
          </ul>

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">


          <!--p class="govuk-body-s">
            Use the 'Clear data (pop-up)' link to clear the session data. 
          </p-->
          



  </div>
</div>




{% endblock %}
