{% extends "layouts/wf_layout-ui-designs.html" %}

{% set pageName="{{ serviceName }} Progress Later Designs" %}

{% block header %}
  {% include "../includes/inc_top-nav-std.html" %}
{% endblock %}

{% block content %}


    
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Worklist designs
    </h1>

    <!--p class="govuk-body hmlr-secondary-text">
      
    </p-->

  </div>

  <div class="govuk-grid-column-one-third">

  </div>      

</div>


<div class="govuk-grid-row">

  <section class="govuk-grid-column-three-quarters" id="page-content" role="region">



    <p class="govuk-body-l">
      <a href="/ui-design/indexx" class="govuk-link govuk-link--no-visited-state" target="_self">
        Go to the full list of <abbr>UI</abbr> assets
      </a>
    </p>


    <!--hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"-->


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- ******************************** START MAIN RIGHT COL CONTENT ********************** -->
    
    <!--ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-top-7 govuk-!-margin-bottom-9">
      <li>
        <a href="/ui-design/pl/table-std-dynamic-sorting" class="govuk-link govuk-link--no-visited-state" target="_blank">Standard<span class="govuk-visually-hidden"> 1</span></a> (with filters and sorting)
      </li>
      <li>
        <a href="/ui-design/pl/table-std-dynamic-with-flagging" class="govuk-link govuk-link--no-visited-state" target="_blank">Standard<span class="govuk-visually-hidden"> 2</span></a> (with flagging)
      </li>
      <li>
        <a href="/ui-design/tables/table-std-my-notes" class="govuk-link govuk-link--no-visited-state" target="_blank">Standard<span class="govuk-visually-hidden"> 3</span></a> (with 'My notes')
      </li-->
      
      <!--li>
        <a href="/ui-design/designs/ui-a-standard" class="govuk-link govuk-link--no-visited-state" target="_blank">New <abbr>UI</abbr></a> 
      </li-->
      <!--li>
        <a href="/ui-design/designs/ui-a-header-aligned" class="govuk-link govuk-link--no-visited-state" target="_blank">New <abbr>UI</abbr></a> (aligned)
      </li>

      <li>
        <a href="/ui-design/designs/ui-c-complex-1" class="govuk-link govuk-link--no-visited-state" target="_blank">New <abbr>UI</abbr></a> (nav with filters, &amp; sorting, notes, flags)<br>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/ui-design/designs/ui-c-complex-1-grouped-by" class="govuk-link govuk-link--no-visited-state" target="_blank">New <abbr>UI</abbr><span class="govuk-visually-hidden"> alternative</span></a> (default ordering)
          </li>
        </ul>        

      </li> 

      <li>
        <a href="/ui-design/designs/ui-b-complex" class="govuk-link govuk-link--no-visited-state" target="_blank">New <abbr>UI</abbr><span class="govuk-visually-hidden"> alt filter</span></a> (with radio button filter) <!--(split row)>
      </li>       
    </ol-->

    <!-- ******************************** END MAIN RIGHT COL CONTENT ************************ -->

  </section>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  </div>
</div>
{% endblock %}
