{% extends "layouts/wf_layout-ui-designs.html" %}

{% set pageName="{{ serviceName }} Progress Later" %}

{% block header %}
  {% include "../includes/inc_top-nav-std.html" %}
{% endblock %}

{% block content %}


    
<div class="govuk-grid-row hmlr-min-height-header-sm">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Home
    </h1>

    <p class="govuk-body hmlr-secondary-text">
      Your Worklist is split between Progress Now and Progress Later.  
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>      

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter govuk-!-padding-right-0">

    <a href="#page-content" class="govuk-skip-link hmlr-skip-link">
      Skip to the main content
    </a>

    {% include "../includes/inc_left-nav-04-0.html" %}
  
  </div>


  <section class="govuk-grid-column-three-quarters" id="page-content" role="region">

    <!-- ******************************** START MAIN RIGHT COL CONTENT ********************** -->
    <div class="hmlr-legacy-home"><!-- or add this class to the parent Section element instead to avoid this extra div -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="hmlr-legacy-home__panel">
              
            <a class="govuk-link hmlr-legacy-home__link" href="ui-c-complex-2">
                <span class="hmlr-legacy-home__text">Progress Now</span>
            </a>
              
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="hmlr-legacy-home__panel">

            <a class="govuk-link hmlr-legacy-home__link" href="ui-c-complex-1">
              <span class="hmlr-legacy-home__text">Progress Later</span>
            </a>            
              
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
                      
        <div class="govuk-grid-column-one-half">
          <div class="hmlr-legacy-home__panel">
              
            <a class="govuk-link hmlr-legacy-home__link" href="#">
              <span class="hmlr-legacy-home__text">Select category of work</span>
            </a>
                
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="hmlr-legacy-home__panel">
              
            <a class="govuk-link hmlr-legacy-home__link" href="manage-assigned-work">
                <span class="hmlr-legacy-home__text">Manage assigned work</span>
            </a>
              
          </div>
        </div>
    
      </div>

    </div>
    <!-- ******************************** END MAIN RIGHT COL CONTENT ************************ -->

  </section>
</div>

{% include "../includes/inc_js-for-pl-functionality.html" %}

{% endblock %}
