{% extends "layouts/wf_layout-ui-designs.html" %}

{% set pageName="{{ serviceName }} Progress Later" %}

{% block header %}
  {% include "../includes/inc_top-nav-std.html" %}
{% endblock %}

{% block content %}


    
<div class="govuk-grid-row hmlr-min-height-header-sm">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Home
    </h1>

    <p class="govuk-body hmlr-secondary-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>      

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter govuk-!-padding-right-0">

    <a href="#page-content" class="govuk-skip-link hmlr-skip-link">
      Skip to the main content
    </a>

    {% include "../includes/inc_left-nav-04-0.html" %}
  
  </div>

  <section class="govuk-grid-column-three-quarters" id="page-content" role="region">

    <!-- ******************************** START MAIN RIGHT COL CONTENT ********************** -->
 

    <p class="govuk-body-l">
      Content ...
    </p>



    <!-- ******************************** END MAIN RIGHT COL CONTENT ************************ -->

  </section>
</div>

{% include "../includes/inc_js-for-pl-functionality.html" %}

{% endblock %}
