{% macro snippet1(content_01, content_02) %}

    <p class="govuk-body-l">
        Favourite food: {{ content_01 }}
    </p>

    <p class="govuk-body-l">
        Why?: {{ content_02 }}
    </p>

{% endmacro %}


{% macro snippet2(content_01, content_02) %}
    <div class="govuk-!-padding-8">

        <p class="govuk-body govuk-!-font-weight-bold">
            What food do you like: 
            <span class=" govuk-!-font-weight-regular">
                {{ content_01 }}
            </span>
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
            Tell us why: 
            <span class=" govuk-!-font-weight-regular">
                {{ content_02 }}
            </span>
        </p>

    </div>
{% endmacro %}


{% macro snippet3(content_01, content_02) %}
    
    <div class="govuk-inset-text">
        {{ content_01 }}: "{{ content_02 }}".
    </div>    
    
{% endmacro %}