{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Tips and tricks
{% endblock %}

{% block beforeContent %}

  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      
        <h1 class="govuk-heading-l">
          Using 'includes': page 1
        </h1>



    
        {#% include "./inc_my-include-basic-text.html" %#} 
        


        <!--
        <form action="pg-1-01-includes.html" novalidate>

          <div class="govuk-form-group govuk-!-margin-top-8">
            <fieldset class="govuk-fieldset" aria-describedby="apples-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Do you like apples?
                </h1>
              </legend>
              <div id="apples-hint" class="govuk-hint">
                This will determine which content to display on this page
              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apples" name="apples" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="apples">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="apples-2" name="apples" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="apples-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit
          </button>

        </form>
        -->

        {% set thePageNumber = "1" %}
        {% include "./inc_page-number.html" %}






        <hr>

        {% set myTitle = "This is my title" %}
        {% set myDescription = "This is my description" %}

        {% import "./inc_my-snippets.njk" as components %}
        {{ components.snippet3('my killer TITLE', myDescription) }}




  </div>
</div>




{% endblock %}
