{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Tips and tricks
{% endblock %}

{% block beforeContent %}

  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      
        <h1 class="govuk-heading-l">
          Including components
        </h1>


        
        {% import "./inc_my-snippets.njk" as components %}
        {{ components.snippet1("Apples", "I love the crunch") }}


  </div>
</div>




{% endblock %}



{#

  {% set myFood = "Apples" %}
  {% set myReason = "I love the crunch" %}

#}