{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Select a category of work" #}

{% block pageTitle %}
Tips and tricks
{% endblock %}

{% block beforeContent %}

  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      
        <h1 class="govuk-heading-l">
          This is my page
        </h1>

        <p class="govuk-body">
          This is the text and form which I'm going to repeat in two of my page designs.  
        </p> 


        {% include "./inc_my-form.html" %}


  </div>
</div>



{% endblock %}
{#% include "./inc_my-form.html" %#}
