{% extends "layouts/wf_layout-std-new.html" %}

{# set pageName="Example of dynamic table" #}

{% block pageTitle %}
Index page for UI design features
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div id="worklist_page">

      <div id="data-progress-now-table" data-progress-now-table="">
      
        <h1 class="govuk-heading-l worklist__header">
          <abbr>UI</abbr> design features
        </h1>
    
        <p class="govuk-body">
          Spring 2026. All links open in a new tab.
        </p>

        <ol class="govuk-list govuk-list--number govuk-!-margin-top-7 govuk-list--spaced">
          <li>
            <a href="std-pg-with-filters-ordering.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Filters and ordering (on standard page)
            </a>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3 govuk-!-margin-bottom-3">
              <li>
                <a href="std-pg-with-filters-ordering-warning.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
                  Filters and ordering (on standard page) &plus;  warning 
                </a>
              </li>
            </ul>

          </li>
          <li>
            <a href="std-pg-with-flagging.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Flagging (on standard page)
            </a>
          </li>
          <li>
            <a href="std-pg-with-notes.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Notes (on standard page)
            </a>
          </li>
          <!--li>
            Notes: Add date, add reason buttons...
            <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Notes (on standard page): Add date + time, add reason 1, add reason 2, add reason 3 buttons
            </a> appends date and time, as per the others, to end of any notes. >
          </li-->          
          <!--li>
            Notes: opens in new window
            <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">
              Show my notes (opens in new tab) + 
            </a> and notes are added as one long note, with ADR and dates formatting >
          </li-->          
        </ol>
    
      </div>            
    
      <h2 class="govuk-heading-s worklist__header govuk-!-margin-top-7">
        Dashboard
      </h2>

      <ol class="govuk-list govuk-list--number govuk-!-margin-top-7 govuk-list--spaced">
        <li>
          <a href="/ui-design/designs/ui-c-complex-1.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Dashboard (menu filters, sorting, flagging and notes)
          </a>
        </li>
        <li>
          <a href="/ui-design/designs/dashboard-returned-to-me-filter-1.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Dashboard (with menu filter 'Returned to me')
          </a>
        </li>
        <li>
          <a href="/ui-design/designs/ui-c-complex-1-no-nav.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Dashboard (new layout design without left nav)
          </a>
        </li>
        <!--li>
          <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">
            -
          </a> Numbers (reasons) why dropped out. Left nav link "Performance" (latin) to page; today, this week, month.
        </li-->
      </ol>

      <h2 class="govuk-heading-s worklist__header govuk-!-margin-top-7">
        Drop outs
      </h2>

      <ol class="govuk-list govuk-list--number govuk-!-margin-top-7 govuk-list--spaced">
        <li>
          <a href="std-pg-with-drop-outs.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Dropped out marker (on standard page)
          </a>

          <!--ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            <li>
              <a href="std-pg-with-returned-to-me.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
                Returned to me (on standard page)
              </a>
            </li>
            <li>
              <a href="std-pg-with-drop-outs-filter.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
                Returned to me (on standard page) &plus; with 'Returned to me' filter
              </a>  
            </li>             
          </ul-->

        </li>
        <!--li>
          <a href="std-pg-with-drop-outs-details.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Drop out reason (on standard page) &plus; drop-down info 
          </a> 
        </li-->
        <li>
          <a href="std-pg-with-returned-to-me.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Returned to me marker (on standard page)
          </a>                
      </ol>

      <h2 class="govuk-heading-s worklist__header govuk-!-margin-top-7">
        Restyling of standard page(s)
      </h2>

      <ol class="govuk-list govuk-list--number govuk-!-margin-top-7 govuk-list--spaced">
        <li>
          <a href="std-pg-with-filters-ordering-restyled.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Filters and ordering (on standard page); restyled
          </a>
        </li>
        <li>
          <a href="std-pg-with-flagging-restyled.html" class="govuk-link govuk-link--no-visited-state" target="_blank">
            Flagging (on standard page); restyled
          </a> 
        </li>        
      </ol>      

    </div>

  </div>
</div>

{% endblock %}
